@model Atrai.Core.Entity.MemberModel
@{ ViewData["Title"] = "Add Member";
                Layout = "~/Views/Shared/_adminLayout.cshtml"; }

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>Member Information</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Association" asp-action="AddMember" method="post" enctype="multipart/form-data">

                                @if (Model != null)
                                {
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="LuserId" /> 
                                <input type="hidden" asp-for="IsExistImage" /> 

                                }
                                else
                                {
                                <input type="hidden" asp-for="Id" value="0" />         
                                <input type="hidden" asp-for="IsExistImage" value="false" /> 
                                }


                                <div class="row">
                                    <div class="col-lg-8">



                                        <div class="form-group">
                                            <div class="col-md-5 col-md-offset-2">
                                                <img src="..@Model.MemberImagePath" alt="img" id="UploadFile" class="img-thumbnail" style="height: 150px;width:150px" onerror="this.onerror=null;this.src='../Content/MemberImages/0.png'" /> <br />
                                                <input type="file" name="logoPostedFileBase" accept="image/x-png, image/gif, image/jpeg" id="FileUpload" onchange="PreviewImage()" />
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="MemberAccessId"></label>
                                                    <input type="text" asp-for="MemberAccessId" class="form-control" placeholder="Enter Member MemberAccessId">
                                                    <span asp-validation-for="MemberAccessId" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="MemberBarcodeId"></label>
                                                    <input type="text" asp-for="MemberBarcodeId" class="form-control" placeholder="Enter Member Id">
                                                    <span asp-validation-for="MemberBarcodeId" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 col-12 ">
                                                    <label for="MemberType"> Member Type : </label>
                                                    @Html.DropDownList("MemberType", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    {
                                                        new SelectListItem() {Text = "Life Member", Value="Life Member"},
                                                        new SelectListItem() {Text = "General Member", Value="General Member"},  },
                                                       "Select Member Type", new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="MembersNameEng"></label>
                                                    <input type="text" asp-for="MembersNameEng" class="form-control" placeholder="Enter Member Name [English]">
                                                    <span asp-validation-for="MembersNameEng" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="MembersNameBng"></label>
                                                    <input type="text" asp-for="MembersNameBng" class="form-control" placeholder="Enter Member Name [Bangla]">
                                                    <span asp-validation-for="MembersNameBng" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="FathersNameEng"></label>
                                                    <input asp-for="FathersNameEng" class="form-control" type="text" placeholder="Fathers Name [English]">
                                                    <span asp-validation-for="FathersNameEng" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="FathersNameBng"></label>
                                                    <input asp-for="FathersNameBng" class="form-control" type="text" placeholder="Fathers Name [Bangla]">
                                                    <span asp-validation-for="FathersNameBng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="ShopNameEng"></label>
                                                    <input asp-for="ShopNameEng" class="form-control" type="text" placeholder="Shop Name [English]">
                                                    <span asp-validation-for="ShopNameEng" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="ShopNameBng"></label>
                                                    <input asp-for="ShopNameBng" class="form-control" type="text" placeholder="Shop Name [Bangla]">
                                                    <span asp-validation-for="ShopNameBng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="DOB"></label>
                                                    <input asp-for="DOB" class="form-control" type="text" placeholder="Date Of Birth">
                                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="BloodGroup"></label>
                                                    <input asp-for="BloodGroup" class="form-control" type="text" placeholder="Blood Group">
                                                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="Mobile">Contact No </label>
                                                    <input asp-for="Mobile" class="form-control" type="text" placeholder="Contact No">
                                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="MemberHomePhone">Emergency Contact No </label>
                                                    <input asp-for="MemberHomePhone" class="form-control" type="text" placeholder="Emergency Contact No">
                                                    <span asp-validation-for="MemberHomePhone" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>





                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">

                                                        @Html.LabelFor(x => x.MarketId)
                                                        @Html.DropDownListFor(x => x.MarketId,
                                                             new SelectList((IEnumerable<SelectListItem>)ViewBag.Market, "Value", "Text"), "Select Market", htmlAttributes: new { @class = "form-control", id = "MarketId" })
                                                        @Html.ValidationMessageFor(x => x.MarketId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">

                                                        @Html.LabelFor(x => x.ShopId)
                                                        @Html.DropDownListFor(x => x.ShopId, new SelectList((IEnumerable<SelectListItem>)ViewBag.Shop, "Value", "Text"), "Select Shop", htmlAttributes: new { @class = "form-control", id = "Shop" })
                                                        @Html.ValidationMessageFor(x => x.ShopId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>



                                        </div>



                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-12 col-12 ">
                                              
                                                        <label asp-for="FixedAddress"></label>
                                                        <input asp-for="FixedAddress" class="form-control" type="text" placeholder="Enter Permanent Address">
                                                        <span asp-validation-for="FixedAddress" class="text-danger"></span>
                                          
                                                </div>

                                         
                                            </div>



                                        </div>




                                        <div class="form-group">


                                            @*<div class="col-md-6 col-12 ">
                <label asp-for="MarketName"></label>
                <input asp-for="MarketName" class="form-control" type="text" placeholder="Enter Description">
                <span asp-validation-for="MarketName" class="text-danger"></span>

            </div>*@
                                            <div class="row">


                                                <div class="col-md-6 col-12 ">


                                                    <div class="form-group">
                                                        <label asp-for="ShopNameEng"></label>
                                                        <input asp-for="ShopNameEng" class="form-control" type="text" placeholder="Enter Description">
                                                        <span asp-validation-for="ShopNameEng" class="text-danger"></span>
                                                    </div>


                                                </div>

                                                <div class="col-md-6 col-12 ">

                                                    <div class="form-group">

                                                        <label asp-for="ShopNameBng"></label>
                                                        <input asp-for="ShopNameBng" class="form-control" type="text" placeholder="Enter Description">
                                                        <span asp-validation-for="ShopNameBng" class="text-danger"></span>

                                                    </div>

                                                </div>
                                            </div>


                                        </div>



                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="HoldingNoBng"></label>
                                                        <input asp-for="HoldingNoBng" class="form-control" type="text" placeholder="Holding No Bangla">
                                                        <span asp-validation-for="HoldingNoBng" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="BusinessAddressBng"></label>
                                                        <input asp-for="BusinessAddressBng" class="form-control" type="text" placeholder="Enter Business Address">
                                                        <span asp-validation-for="BusinessAddressBng" class="text-danger"></span>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>




                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="HoldingNoEng"></label>
                                                        <input asp-for="HoldingNoEng" class="form-control" type="text" placeholder="Holding No English">
                                                        <span asp-validation-for="HoldingNoEng" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="BusinessAddressEng"></label>
                                                        <input asp-for="BusinessAddressEng" class="form-control" type="text" placeholder="Enter Business Address">
                                                        <span asp-validation-for="BusinessAddressEng" class="text-danger"></span>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">


                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="CardNo"> Membership Card No</label>
                                                        <input asp-for="CardNo" class="form-control" type="text" placeholder="Enter Card No">
                                                        <span asp-validation-for="CardNo" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 ">
                                                    <div class="form-group">


                                                        <label asp-for="NID"></label>
                                                        <input asp-for="NID" class="form-control" type="text" placeholder="Enter NID No">
                                                        <span asp-validation-for="NID" class="text-danger"></span>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="isActive"></label>
                                                    <input asp-for="isActive" class="form-control" type="checkbox">
                                                    <span asp-validation-for="isActive" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    @Html.LabelFor(x => x.MemberStatusId)
                                                    @Html.DropDownListFor(x => x.MemberStatusId, new SelectList((IEnumerable<SelectListItem>)ViewBag.MemberStatus, "Value", "Text"), "Select Status", htmlAttributes: new { @class = "form-control", id = "MemberStatus" })
                                                    @Html.ValidationMessageFor(x => x.MemberStatusId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@

                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "MemberList", "Association", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>
                                    </div>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {


        });

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };
    </script>
}

