@model Atrai.Core.ViewModel.AssociationDashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 1;
}

<style>
    .media p {
        font-size: 13px;
        /*font-family: "Arial Narrow";*/
    }

    .media {
        font-size: 15px;
        /*font-family: "Arial Narrow";*/
    }

    a {
        color: #0a275ec9;
    }
</style>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div>
        <!-- Start Page Content -->
        <div class="row ml-1" style="margin-right:15px">
            <div class="col">
                <a href="@Url.Action("MarketList", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="meida media-middle">
                                <span><i class="fa fa-building f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalMarket</h2>
                                <p class="m-b-0">Total Market</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("ShopList", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="meida media-middle">
                                <span><i class="fa fa-address-book-o f-s-40 fontshadow color-info"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalShop</h2>
                                <p class="m-b-0">Total Shop</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberList", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="meida media-middle">
                                <span><i class="fa fa-group f-s-40 fontshadow color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalMember</h2>
                                <p class="m-b-0">Total Member</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberList", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="meida media-middle">
                                <span><i class="fa fa-user f-s-40 fontshadow color-warning"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalLifeMember</h2>
                                <p class="m-b-0">Total Life Member</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberList", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="meida media-middle">
                                <span><i class="fa fa-user-circle f-s-40 fontshadow color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalGeneralMember</h2>
                                <p class="m-b-0">Total General Member</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row ml-1" style="margin-right:15px">
            <div class="col">
                <a href="@Url.Action("MemberListApplied", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-angle-down f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalApplied</h2>
                                <p class="m-b-0">Total Applied</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberListChecking", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-check f-s-40" style="color:darkslateblue"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalChecked</h2>
                                <p class="m-b-0">Total Checked</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberListVerified", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-check-square f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalVerified</h2>
                                <p class="m-b-0">Total Verified</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberListApproval", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-handshake-o f-s-40" style="color:darkgreen"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalApproved</h2>
                                <p class="m-b-0">Total Approved</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("MemberListCanceled", "Association")">
                    <div class="card-dashboard p-20">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-close f-s-40 fontshadow color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>@Model.TotalCanceled</h2>
                                <p class="m-b-0">Total Canceled</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row ml-1" style="margin-right:15px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info text-center">
                        <h5>Five Recent Transaction </h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LastFiveTransaction)
                                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.TransactionCode</td>
                            <td>@(String.Format("{0:dd/MM/yyyy}", item.InputDate))</td>
                            <td>@item.TransactionAmount</td>
                            <td>
                                @if (item.isPost == true)
                                {
                <label class="label label-primary">Posted</label>}
            else
            {
    <label class="label label-danger">Not-Posted</label>}
                            </td>
                            <td>

                                @*<a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=1})" title="Invoice 1" class="btn btn-icon btn-primary btn-sm rounded-0 mb-1"><i class="fa fa-print"> </i> </a>
                                <a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=2})" title="Invoice 2" class="btn btn-icon btn-primary btn-sm rounded-0 mb-1"><i class="fa fa-print"> </i> </a>*@

                            </td>
                        </tr>i++;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

