@*@model IEnumerable<Atrai.Core.Entity.ShopModel>*@
@{
    ViewData["Title"] = "Show Report";
    Layout = "~/Views/Shared/_adminLayout.cshtml";

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="card">
            <div class="col-12">
                <div class="row">


                    @*<div class="col-md-3 col-6">
            @Html.DropDownList("BBLCId", null, "=Please Select=", htmlAttributes: new { @class = "form-control" })
        </div>*@

                    <div class="col-md-3 col-12 mb-2">

                        @*<label for="MemberType"> Member Type : </label>*@
                        @Html.DropDownList("MemberType", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                {
                                                        new SelectListItem() {Text = "Life Member", Value="Life Member"},
                                                        new SelectListItem() {Text = "General Member", Value="General Member"},  },
                                                             "Select Member Type", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 col-12 mb-2">
                        @Html.TextBox("RefNo", null, new { @class = "form-control text-center", @placeholder = "Type Ref. No ", name = "RefNo" })
                    </div>



                    <div class="col-md-6 col-12 mb-2">
                        @Html.DropDownList("MemberId", new SelectList((IEnumerable<SelectListItem>)ViewBag.Member, "Value", "Text"), "Select Member",
                                                                                                           htmlAttributes: new { @class = "form-control", id = "MemberId" })
                    </div>
                    <div class="col-md-6 col-12 mb-2">
                        @Html.DropDownList("MarketId", new SelectList((IEnumerable<SelectListItem>)ViewBag.Market, "Value", "Text"), "Select Market",
                                                                                                           htmlAttributes: new { @class = "form-control", id = "MarketId" })
                    </div>
                    <div class="col-md-3 col-12  mb-2">
                        @Html.TextBox("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "From Date", @autocomplete = "off", name = "FromDate" })
                    </div>
                    <div class="col-md-3 col-12  mb-2">
                        @Html.TextBox("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "To Date", @autocomplete = "off", name = "ToDate" })
                    </div>

                    <div class="col-md-3 col-12 mb-2">
                        @Html.TextBox("FromNo", null, new { @class = "form-control text-center", @placeholder = "Member From ", name = "FromNo" })
                    </div>

                    <div class="col-md-3 col-12 mb-2">
                        @Html.TextBox("ToNo", null, new { @class = "form-control text-center", @placeholder = "Member To ", name = "ToNo" })
                    </div>

                    <div class="col-md-3 col-12  mb-2">
                        @Html.TextBox("PrintDate", null, new { @class = "form-control text-center PrintDate", @placeholder = "Print Date", @autocomplete = "off", name = "PrintDate" })
                    </div>

                    <div class="col-md-3 col-12 mb-2">
                        <button class="btn btn-success mb-2 btn-block" type="button" onclick="UpdateBBLCRefNo('UpdateBBLCRefNo')">Save / Update RefNo</button>
                    </div>

                </div>

            </div>
        </div>


        <div class="row">

            @*<div id="divItemGroup" class="col-md-4">
                <span class="text-right">
                    <label for="ItemGroupId">Item Group:</label>
                </span>
                <span class="input-group" style="min-width: 120px;">
                    @Html.DropDownList("ItemGroupId", null, null, htmlAttributes: new { @class = "form-control" })
                </span>
            </div>*@


        </div>
        @*<div class="row">

            <div id="divExportInvoice" class="col-md-12">
                <span class="text-right">
                    <label for="PIId">Proforma Invoice:</label>
                </span>
                <span class="input-group" style="min-width: 120px;">
                    @Html.DropDownList("PIId", null, htmlAttributes: new { @class = "form-control", @name = "PIId[]", @multiple = "multiple" })
                </span>
            </div>


        </div>*@
        <br />

        <div class="card p-2 mb-2">
            <div class="row">
                <div class="col-md-11 col-12">
                    <div class="row text-center m-2">


                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintVoterList')">Voter List</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintSubLedger')">Sub Ledger List</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintMarketWiseList')">Market Wise List</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('ViewVoterList')">View Voter List</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('ViewSubLedger')">View Sub Ledger Book</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('TransactionLedger')">Member Ledger</button>
                        </div>
                        @*<div class="col">
            <button class="btn btn-outline-dark mb-2 btn-block" type="button" onclick="ReportPrint('PrintMembershipForm')">Membership Form</button>
        </div>*@

                    </div>


                </div>
                <div class="col-md-1 col-12 mt-sm-3 round">
                    <fieldset>
                        <div><input type="radio" name="RptType" value="PDF" checked="checked" /> PDF</div>
                        <div><input type="radio" name="RptType" value="EXCEL" /> EXCEL</div>
                        <div><input type="radio" name="RptType" value="WORD" /> WORD</div>
                    </fieldset>

                </div>
            </div>
        </div>


        <!-- End PAge Content -->
    </div>
        </div>





        @section Scripts{

            <script type="text/javascript">




                CurrentDate();

                $(".FromDate").datepicker({

                    dateFormat: "dd-M-y",
                    changeMonth: true,
                    changeYear: true

                });


                $(".ToDate").datepicker({

                    dateFormat: "dd-M-y",
                    changeMonth: true,
                    changeYear: true

                });

                $(".PrintDate").datepicker({

                    dateFormat: "dd-M-y",
                    changeMonth: true,
                    changeYear: true

                });

                function CurrentDate() {
                    var date = new Date();
                    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                    var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear().toString().substr(-2);
                    if ($(".FromDate").val() == '') {
                        $(".FromDate").val(val);
                    }
                    if ($(".ToDate").val() == '') {
                        $(".ToDate").val(val);
                    }
                    if ($(".PrintDate").val() == '') {
                        $(".PrintDate").val(val);
                    }
                }










                function ReportPrint(btnvalue) {



                    var pathname = window.location.pathname; // Returns path only (/path/example.html)
                    var url = window.location.href;     // Returns full URL (https://example.com/path/example.html)
                    var origin = window.location.origin;   
                    //url = 'https://pqstec.com/invoiceapps/Showreport';

                    //origin = 'https://pqstec.com';
                    pathname = '/invoiceapps/Association/Report';
                    url = 'https://pqstec.com/invoiceapps/Association/Report';
                    origin = 'https://pqstec.com';


                    //alert(pathname);
                    //alert(url);
                    //alert(origin);


                    //console.log(url.substring(1).split('//')[0]);


                    //alert(url);

                    var refno = $('#RefNo').val();
                    var printdate = $('#PrintDate').val();
                    var MemberType = $('#MemberType').val();


                    var FromNo = $('#FromNo').val();
                    var ToNo = $('#ToNo').val();



                    var FromDate = $('#FromDate').val();
                    var ToDate = $('#ToDate').val();
                    var MemberId = $('#MemberId').val();
                    var MarketId = $('#MarketId').val();




                    if (btnvalue == "PrintVoterList") {


                        //if (GroupLCId == '-1') {
                        //    toastr.error('Please Select Group LC From List');
                        //    return;

                        //}

                        //if (refno == '') {
                        //    toastr.error('Please Type Ref. No');
                        //    return;
                        //} if (printdate == '') {
                        //    toastr.error('Please Select Document Print Date');
                        //    return;
                        //}

                    }

                    var reporttype = $("input[name=RptType]:checked").val();

                    // alert(reporttype);


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowReport", "Association")',
                        dataType: 'json',
                        async: true,
                        data: { reporttype: reporttype, action: btnvalue, refno: refno, printdate: printdate, origin: origin, urllink: pathname, membertype: MemberType, fromno: FromNo, tono: ToNo, fromdate: FromDate, todate: ToDate, memberid: MemberId , marketid : MarketId },
                        success: function (response) {
                            //  window.location.href = response.Url;

                            window.open(response.Url, '_blank')
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }

                    });

                }

            </script>
        }
