@model Atrai.Core.Entity.ShowVoucherViewModel
@{
    ViewData["Title"] = "Summary Report";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@*<link href="~/AdminEla/Assets/css/customFormStyle.css" rel="stylesheet" />*@
<style type="">

    .disabledbutton {
        pointer-events: none;
        opacity: 0.7;
    }

    .well p {
        margin-bottom: 2.93px;
    }


    .well {
        min-height: 20px;
        padding: 11px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }


    .table th:last-child, .table tbody tr td:last-child {
        position: inherit !important;
        background-color: transparent !important;
    }



    /*    body {
                                              font-family: 'Open Sans', sans-serif;
                                              background-color: #0097A7;
                                              color: #222222;
                                                max-width: 300px;
                                                margin: auto;

                                            }*/

    /*    p {
                                                text-align: center;
                                                color: #f5f5f5;
                                            }

                                            a {
                                                color: inherit;
                                            }*/

    .amr-option-group {
        margin-top: 32px;
        padding: 24px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: #f5f5f5;
    }

    .amr-label {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: 0.2s ease;
    }

    .amr-radiomenu input {
        display: none;
    }

    .amr-checkmark {
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        background: #dedede;
        color: #dedede;
        margin-right: 12px;
        font-size: 24px;
        transition: 0.2s ease;
    }

    .amr-option-holder input:checked + .amr-label .amr-checkmark {
        background: #006064;
    }

    .amr-option-holder input:checked + .amr-label {
        background-color: #00838F;
    }

    .amr-label:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    input:checked + .amr-label {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: #fff;
    }




    /* The container */
    .container-checkbox {
        position: relative;
        padding-left: 34px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkboxdiv:hover {
        background: #a4acd3;
        margin: 5px;
    }

    .checkboxdiv {
        background: #c6c2d5;
        padding-top: 6px;
        margin-bottom: 5px;
    }

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .container-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-checkbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .container-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
        left: 9px;
        top: 2px;
        width: 8px;
        height: 17px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    /* The container */
    .container-radio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .container-radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom radio button */
        .container-radio .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container-radio:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container-radio input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .container-radio .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container-radio input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container-radio .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }






    /* =================================================================
                                               Lets get rid of the ugly default checkbox
                                    =================================================================*/

    [type="checkbox"] {
        position: absolute;
        display: none;
    }

        /* =================================================================
                                               This is where you create the new checkbox square
                                    =================================================================*/

        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 1.95em;
            cursor: pointer;
        }

            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
                content: "";
                position: absolute;
                left: 0;
                width: 1.25em;
                height: 1.25em;
                border: 2px solid #000;
                background: transparent;
            }

            [type="checkbox"]:not(:checked) + label:before {
                top: 3px;
            }




            /* =================================================================
                                     Now have to make our checkmark visable when the checkbox is checked
                                    =================================================================*/

            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 1.25em;
                height: 1.25em;
            }

            /* =================================================================
                                                       Magic that turns the square into a checkmark
                                    =================================================================*/

            [type="checkbox"]:not(:checked) + label:before {
                border: 1;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: all 0.25s;
                transition: all 0.25s;
            }

            [type="checkbox"]:checked + label:before {
                width: 0.6em;
                height: 1.25em;
                left: 10px;
                transform: rotate(40deg);
                border-top: 3px solid #c3000000;
                border-left: 2px solid transparent;
                border-right: 3px solid #2c11e8;
                border-bottom: 3px solid #2c11e8;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

        /* =================================================================
                                                       Some extra spin on th second box
                                    =================================================================*/

        [type="checkbox"]#checkbox-2:checked + label:before {
            transform: rotate(400deg);
        }

        /* =================================================================
                                            no logic behind this one, it just spins like crazy
                                    =================================================================*/

        [type="checkbox"]#checkbox-3:checked + label:before {
            transform: rotate(2200deg);
            -webkit-transition: all 1s;
            transition: all 1s;
        }

    /* =================================================================
                                                       Not relevant just look above
                                    =================================================================*/



    .titel {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 0.4rem;
    }


    .checkboxes {
    }

    /*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                                                    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
                                                }

                                                table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
                                                    color: green;
                                                }*/
</style>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="card hideAll" id="tabs">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 col-12 h4">
                            Summary Reports






                            @*                            <fieldset class="float-right">
                                <label class="pr-2"><input type="radio" name="rptFormat" value="PDF" checked="checked" /> PDF  </label>
                                <label class="pr-2"><input type="radio" name="rptFormat" value="EXCEL" /> EXCEL  </label>
                                <label class="pr-2"><input type="radio" name="rptFormat" value="WORD" /> WORD  </label>
                                </fieldset>*@
                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="divRadiobutton" class="col-md-12 col-12">
                            <div>
                                <div class="row p-2">

                                    <div id="divGroup" class="col-md-6 col-12">
                                        <div class="input-group  input-group-sm mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.AccIdGroup, new { @class = "control-label btn-block" })
                                                </span>
                                            </div>
                                            @Html.DropDownList("AccIdGroup", null,"Please Select", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AccIdGroup)
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-12">
                                        <div class="input-group input-group-sm mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    @Html.LabelFor(model => model.CountryId)
                                                </span>
                                            </div>
                                            @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CountryId)
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="input-group  input-group-sm mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text py-0">
                                                    Unit
                                                </span>
                                            </div>
                                            @Html.DropDownList("PrdUnitId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PrdUnitId)
                                        </div>
                                    </div>


                                    @*
                                        <div class="col-md-9 col-12">
                                        <label class="pr-2"><input type="radio" name="criteria" checked="checked" value="Year" /> Yearly</label>
                                        <label class="pr-2"><input type="radio" name="criteria" value="HYear" /> Half Yearly</label>
                                        <label class="pr-2"><input type="radio" name="criteria" value="Quarter" /> Quarterly</label>
                                        <label class="pr-2"><input type="radio" name="criteria" value="Month" /> Monthly</label>
                                        <label class="pr-2"><input type="radio" name="criteria" value="Date" /> Date Wise</label>

                                        </div>*@
                                    <div class="col-md-2 col-12">
                                        <input type="button" id="btnSave" class="btn btn-sm btn-success btn-block rounded-0" value="Show" onclick="ReportPrint() " />

                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="col-md-3 col-12">
                            <div class="well">


                                @*    <div class="amr-radiomenu">


                                    <div class="amr-option-holder">
                                    <input id="amr-option1" type="radio" name="radio">
                                    <label class="amr-label" for="amr-option1">
                                    <span class="amr-checkmark">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    Option 1
                                    </label>
                                    </div>


                                    <div class="amr-option-holder">
                                    <input id="amr-option2" type="radio" name="radio">
                                    <label class="amr-label" for="amr-option2">
                                    <span class="amr-checkmark">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    Option 2
                                    </label>
                                    </div>

                                    <div class="amr-option-holder">
                                    <input id="amr-option3" type="radio" name="radio">
                                    <label class="amr-label" for="amr-option3">
                                    <span class="amr-checkmark">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    Option 3
                                    </label>
                                    </div>


                                    <div class="amr-option-holder">
                                    <input id="amr-option4" type="radio" name="radio">
                                    <label class="amr-label" for="amr-option4">
                                    <span class="amr-checkmark">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    Option 4
                                    </label>
                                    </div>

                                    </div>*@

                                <div class="amr-radiomenu">


                                    <div class="amr-option-holder">
                                        <input id="amr-option1" type="radio" name="RptType" value="TB" checked="checked">
                                        <label class="amr-label" for="amr-option1">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Trial Balance
                                        </label>
                                    </div>
                                    <div class="amr-option-holder">
                                        <input id="amr-option2" type="radio" name="RptType" value="WS">
                                        <label class="amr-label" for="amr-option2">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Work Sheet
                                        </label>
                                    </div>
                                    <div class="amr-option-holder">
                                        <input id="amr-option3" type="radio" name="RptType" value="TR">
                                        <label class="amr-label" for="amr-option3">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Tree Reporting
                                        </label>
                                    </div>
                                    <div class="amr-option-holder">
                                        <input id="amr-option4" type="radio" name="RptType" value="MC">
                                        <label class="amr-label" for="amr-option4">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Material Consumed
                                        </label>
                                    </div>

                                    <div class="amr-option-holder">
                                        <input id="amr-option5" type="radio" name="RptType" value="COGS">
                                        <label class="amr-label" for="amr-option5">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Cost Of Goods Sold
                                        </label>
                                    </div>

                                    <div class="amr-option-holder">
                                        <input id="amr-option6" type="radio" name="RptType" value="IS">
                                        <label class="amr-label" for="amr-option6">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Income Statement
                                        </label>
                                    </div>


                                    <div class="amr-option-holder">
                                        <input id="amr-option7" type="radio" name="RptType" value="OE">
                                        <label class="amr-label" for="amr-option7">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Owners Equity Statement
                                        </label>
                                    </div>


                                    <div class="amr-option-holder">
                                        <input id="amr-option8" type="radio" name="RptType" value="BS">
                                        <label class="amr-label" for="amr-option8">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Balance Sheet
                                        </label>
                                    </div>



                                    <div class="amr-option-holder">
                                        <input id="amr-option9" type="radio" name="RptType" value="FA">
                                        <label class="amr-label" for="amr-option9">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Fixed Assets Schedule
                                        </label>
                                    </div>



                                    <div class="amr-option-holder">
                                        <input id="amr-option10" type="radio" name="RptType" value="MR">
                                        <label class="amr-label" for="amr-option10">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Management Ratio
                                        </label>
                                    </div>



                                    <div class="amr-option-holder">
                                        <input id="amr-option11" type="radio" name="RptType" value="NR">
                                        <label class="amr-label" for="amr-option11">
                                            <span class="amr-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                            Notes Report
                                        </label>
                                    </div>




                                    @*         <p><input type="radio" name="RptType" checked="checked" value="TB" /> Trial Balance</p>
                                        <p><input type="radio" name="RptType" value="WS" /> Work Sheet</p>
                                        <p><input type="radio" name="RptType" value="TR" /> Tree Reporting</p>
                                        <p><input type="radio" name="RptType" value="MC" /> Material Consumed</p>


                                        <p><input type="radio" name="RptType" value="COGS" /> Cost of Goods Sold</p>
                                        <p><input type="radio" name="RptType" value="COB" /> Cost Breakup</p>
                                        <p><input type="radio" name="RptType" value="IS" /> Income Statement</p>
                                        <p><input type="radio" name="RptType" value="OE" /> Owners Equity</p>
                                        <p><input type="radio" name="RptType" value="BS" /> Balance Sheet</p>
                                        <p><input type="radio" name="RptType" value="FA" /> Fixed Assets Schedule</p>*@
                                    @*                                <p><input type="radio" name="RptType" value="CF" /> Cash Flow </p>
                                        <p><input type="radio" name="RptType" value="FF" /> Fund Flow </p>*@
                                    @*      <p><input type="radio" name="RptType" value="MR" /> Management Ratio </p>
                                        <p><input type="radio" name="RptType" value="NR" /> Notes Report </p>*@
                                    @*<p><input type="radio" name="RptType" value="NISR" /> Notes [IS/COGS]</p>
                                        <p><input type="radio" name="RptType" value="NBSR" /> Notes [BS]</p>*@
                                    @*<p><input type="radio" name="RptType" value="NBCIC" /> Notes [BCIC]</p>*@
                                    @*                 <p><input type="radio" name="RptType" value="NFAS" /> Notes [F.ASSET] - Summary</p>
                                        <p><input type="radio" name="RptType" value="NFAD" /> Notes [F.ASSSET] - Details</p>
                                        <p><input type="radio" name="RptType" value="LSN" /> Ledger Summary [Notes]</p>*@
                                </div>

                            </div>

                        </div>

                        <div class="col-md-9 col-12 px-1">

                            <div class="pr-3">
                                <div class="row">

                                    <div class="col-md-4 col-12">
                                        <div class="well">





                                            <div class="amr-radiomenu">
                                                <div class="amr-option-holder">
                                                    <input id="amr-option101" type="radio" name="criteria" value="Year" checked="checked">
                                                    <label class="amr-label" for="amr-option101">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        Yearly
                                                    </label>
                                                </div>


                                                <div class="amr-option-holder">
                                                    <input id="amr-option102" type="radio" name="criteria" value="HYear">
                                                    <label class="amr-label" for="amr-option102">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        Half-Yearly
                                                    </label>
                                                </div>


                                                <div class="amr-option-holder">
                                                    <input id="amr-option103" type="radio" name="criteria" value="Quarter">
                                                    <label class="amr-label" for="amr-option103">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        Quarterly
                                                    </label>
                                                </div>


                                                <div class="amr-option-holder">
                                                    <input id="amr-option104" type="radio" name="criteria" value="Month">
                                                    <label class="amr-label" for="amr-option104">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        Monthly
                                                    </label>
                                                </div>


                                                <div class="amr-option-holder">
                                                    <input id="amr-option105" type="radio" name="criteria" value="Date">
                                                    <label class="amr-label" for="amr-option105">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        Date-Wise
                                                    </label>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div id="divDateFromTo">
                                                    <div class="col-md-12 col-12">
                                                        <div class="input-group  input-group-sm mb-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text py-0">
                                                                    @Html.LabelFor(model => model.dtFrom, new { @class = "btn-block" })
                                                                </span>
                                                            </div>
                                                            @Html.TextBoxFor(model => model.dtFrom, new { @Value = ViewBag.date, @name = "dtFrom", @id = "dtFrom", @class = "form-control" })
                                                        </div>

                                                        <div class="input-group  input-group-sm mb-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text py-0">
                                                                    @Html.LabelFor(model => model.dtTo, new { @class = "btn-block" })
                                                                </span>
                                                            </div>
                                                            @Html.TextBoxFor(model => model.dtTo, new { @Value = ViewBag.date1, @name = "dtTo", @id = "dtTo", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.dtTo)
                                                        </div>

                                                    </div>
                                                </div>



                                            </div>


                                            <div class="row">

                                                <div class="col-md-12 col-12 checkboxdiv" id="isView">
                                                    <label class="container-checkbox">
                                                        View Page Reporting
                                                        @Html.CheckBoxFor(model => model.isViewPageReport)
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>

                                                <div class="col-md-12 col-12 checkboxdiv" id="isCompa">
                                                    <label class="container-checkbox">
                                                        Compare Report
                                                        @Html.CheckBoxFor(model => model.isCompare)
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>

                                                <div class="col-md-12 col-12 checkboxdiv" id="isCumulat">
                                                    <label class="container-checkbox">
                                                        Cumulative Report
                                                        @Html.CheckBoxFor(model => model.isCumulative)
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>




                                                <div class="col-md-12 col-12 checkboxdiv" id="isGroupa">

                                                    <label class="container-checkbox">
                                                        Show With Group
                                                        @Html.CheckBoxFor(model => model.isGroup)
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>


                                                <div class="col-md-12 col-12 checkboxdiv" id="isZeroa">
                                                    <label class="container-checkbox">
                                                        Show Zero Balance
                                                        @Html.CheckBoxFor(model => model.isShowZero)
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>


                                                @*
                                                    <div class="checkboxes m-4">


                                                    <input type="checkbox" value="checkbox"
                                                    id="checkbox" name="checkbox" />
                                                    <label for="checkbox">View Page Reporting</label>
                                                    @Html.CheckBoxFor(model => model.isViewPageReport)&nbsp;


                                                    </div>*@
                                                @*
                                                    <div class="col-md-12 col-12 checkbox" id="isView">
                                                    <p>@Html.CheckBoxFor(model => model.isViewPageReport)&nbsp; View Page Reporting</p>
                                                    </div>
                                                    <div class="col-md-12 col-12 checkbox" id="isCompa">
                                                    <p>@Html.CheckBoxFor(model => model.isCompare)&nbsp;Compare Report</p>
                                                    </div>
                                                    <div class="col-md-12 col-12 checkbox" id="isCumulat">
                                                    <p>@Html.CheckBoxFor(model => model.isCumulative)&nbsp;Cumulative Report</p>
                                                    </div>
                                                    <div class="col-md-12 col-12 checkbox" id="isGroupa">
                                                    <p>@Html.CheckBoxFor(model => model.isGroup)&nbsp;Show With Group</p>
                                                    </div>

                                                    <div class="col-md-12 col-12 checkbox" id="isZeroa">
                                                    <p>@Html.CheckBoxFor(model => model.isShowZero)&nbsp;Show Zero Balance</p>
                                                    </div>*@

                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-5 col-12">

                                        <div class="table-responsive mb-2">

                                            <table class="table table-sm table-bordered table-hover table-striped" id="tblFY" width="100%">
                                                <thead>
                                                    <tr style="background: gainsboro">
                                                        <th>
                                                            Fiscal Id
                                                        </th>
                                                        <th>
                                                            Fiscal Year
                                                        </th>
                                                        <th>
                                                            Opening Date
                                                        </th>
                                                        <th>
                                                            Close Date
                                                        </th>
                                                        <th>
                                                            Is Running
                                                        </th>
                                                        <th>
                                                            Is Working
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.FiscalYs.OrderByDescending(x => x.Id) != null)
                                                    {
                                                        if (Model.FiscalYs.Count > 0)
                                                        {
                                                            for (int i = 0; i < Model.FiscalYs.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.FiscalYs[i].Id)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.FiscalYs[i].FYName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.FiscalYs[i].OpDate)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.FiscalYs[i].ClDate)
                                                                    </td>
                                                                    <td>
                                                                        @if (Model.FiscalYs[i].isRunning == true)
                                                                        {
                                                                            <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="check-box" disabled="disabled" type="checkbox">
                                                                        }


                                                                    </td>
                                                                    <td>
                                                                        @if (Model.FiscalYs[i].isWorking == true)
                                                                        {
                                                                            <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="check-box" disabled="disabled" type="checkbox">
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="table-responsive mb-2">
                                            <table class="table table-sm table-bordered table-hover table-striped" id="tblHY" width="100%">
                                                <thead>
                                                    <tr style="background: gainsboro">
                                                        <th>
                                                            Half Year Id
                                                        </th>
                                                        <th>
                                                            Half Year
                                                        </th>
                                                        <th>
                                                            From Date
                                                        </th>
                                                        <th>
                                                            To Date
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ProcessHalfYear != null)
                                                    {
                                                        for (int i = 0; i < Model.ProcessHalfYear.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessHalfYear[i].Id)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessHalfYear[i].HyearName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessHalfYear[i].dtFrom)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessHalfYear[i].dtTo)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>


                                        <div class="table-responsive mb-2">
                                            <table class="table  table-sm table-bordered table-hover table-striped" id="tblQuarter" width="100%">
                                                <thead>
                                                    <tr style="background: gainsboro">
                                                        <th>
                                                            Quarter Id
                                                        </th>
                                                        <th>
                                                            Quarter
                                                        </th>
                                                        <th>
                                                            From Date
                                                        </th>
                                                        <th>
                                                            To Date
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ProcessQtr != null)
                                                    {
                                                        for (int i = 0; i < Model.ProcessQtr.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessQtr[i].Id)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessQtr[i].QtrName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessQtr[i].dtFrom)

                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.ProcessQtr[i].dtTo)

                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table  table-sm table-bordered table-hover table-striped" id="tblMonth" width="100%">
                                                    <thead>
                                                        <tr style="background: gainsboro">
                                                            <th>
                                                                Mark
                                                            </th>
                                                            <th>
                                                                Month
                                                            </th>
                                                            <th>
                                                                From Date
                                                            </th>
                                                            <th>
                                                                To Date
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ProcessMonths != null)
                                                        {
                                                            for (int i = 0; i < Model.ProcessMonths.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.ProcessMonths[i].Id)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.ProcessMonths[i].MonthName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.ProcessMonths[i].dtFrom)

                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => model.ProcessMonths[i].dtTo)

                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class = "well col-md-12 col-12 mt-3">

                                            <div class="amr-radiomenu">
                                                <div class="amr-option-holder">
                                                    <input id="amr-option301" type="radio" name="rptFormat" value="PDF" checked="checked">
                                                    <label class="amr-label" for="amr-option301">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        PDF
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="amr-radiomenu">
                                                <div class="amr-option-holder">
                                                    <input id="amr-option302" type="radio" name="rptFormat" value="WORD">
                                                    <label class="amr-label" for="amr-option302">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        WORD
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="amr-radiomenu">
                                                <div class="amr-option-holder">
                                                    <input id="amr-option303" type="radio" name="rptFormat" value="EXCEL">
                                                    <label class="amr-label" for="amr-option303">
                                                        <span class="amr-checkmark">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                        EXCEL
                                                    </label>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                @*<div class="card-footer clearfix">
                    <div class="form-group row">
                    <div class="col-md-3 col-12" id="isComp">
                    <label>@Html.CheckBoxFor(model => model.isCompare)&nbsp;Compare Report</label>
                    </div>
                    <div class="col-md-3 col-12" id="isGroup">
                    <label>@Html.CheckBoxFor(model => model.isGroup)&nbsp;Show With Group</label>
                    </div>

                    <div class="col-md-4 col-12" id="isZero" style="display: none;">
                    <label>@Html.CheckBoxFor(model => model.isShowZero)&nbsp;Show Zero Balance</label>
                    </div>
                    <div class="col-md-2 col-12 text-right">

                    <input type="button" id="btnSave" class="btn btn-success btn-block" value="Show" onclick="ReportPrint() " />

                    </div>
                    </div>
                    </div>*@
            </div>
        </div>
    </div>
}

@section Scripts{
<script language="javascript" type="text/javascript">

        $('#CountryId').select2(
            {
                //width: "inherit"
            }
        );
    $('#PrdUnitId').select2();
    $('#AccIdGroup').select2();
        //$("select").select2({
        //    theme: "bootstrap4",
        //});


    var tblMonth = $('#tblMonth').DataTable({
        select: true,
        select: 'single',
        'columnDefs': [
            {
                'targets': 0,
                'visible': false,
                'className': 'chkAllPost'

             },
            {
                'targets': 2,
                'visible': false,
            },
            {
                'targets': 3,
                'visible': false,
            }
        ],
        'paging': false,
        'searching': false,
        'info': false

    });

    var tblQuarter = $('#tblQuarter').DataTable({
        select: true,
        select: 'single',
        'columnDefs': [
            {
                'targets': 0,
                'visible': false,
                'className': 'chkAllPost'

             },
            {
                'targets': 2,
                'visible': false,
            },
            {
                'targets': 3,
                'visible': false,
            }
        ],
        'paging': false,
        'searching': false,
        'info': false

    });

    var tblHY = $('#tblHY').DataTable({
        select: true,
        select: 'single',
        'columnDefs': [
            {
                'targets': 0,
                'visible': false,
                'className': 'chkAllPost'
            },
            {
                'targets': 2,
                'visible': false,
            },
            {
                'targets': 3,
                'visible': false,
            }
        ],
        'paging': false,
        'searching': false,
        'info': false

    });

    var tblFY = $('#tblFY').DataTable({
        select: true,
        select: 'single',
        scrollY: '50vh',
        scrollCollapse: true,
        'columnDefs': [
            {
                'targets': 0,
                'visible': false,
                'className': 'chkAllPostFY'

            },
            {
                'targets': 2,
                'visible': false,
            },
            {
                'targets': 3,
                'visible': false,
            },
            {
                'targets': 4,
                         'visible': false,
            },
            {
                'targets': 5,
                 'visible': false,
            }
        ],
          "order": [[ 0, "desc" ]],
        'paging': false, 'info': false,
        'searching': false

    });


    tblFY.row(0).select();

    var tableFY = $('#tblFY').DataTable();
    var tableHY = $('#tblHY').DataTable();
    var tableQY = $('#tblQuarter').DataTable();
    var tableMY = $('#tblMonth').DataTable();




    $(document).ready(function () {

        $("#datepicker").datepicker({ dateFormat: 'dd-MM-yy' });
        $("#datepicker1").datepicker({ dateFormat: 'dd-MM-yy' });

        $("#tblHY").find("*").attr("disabled", "disabled");
        $("#tblQuarter").find("*").attr("disabled", "disabled");
        $("#tblMonth").find("*").attr("disabled", "disabled");
        $("#divDateFromTo").find("*").removeAttr("disabled");


        $("#tblHY").addClass("disabledbutton");
        $("#tblQuarter").addClass("disabledbutton");
        $("#tblMonth").addClass("disabledbutton");
        $("#divDateFromTo").addClass("disabledbutton");




        $('#tblFY tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                tableFY.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }



        });


        var tablefy = $('#tblFY').DataTable();
        var oTableFY = $('#tblFY').dataTable();
        tablefy.$('tr').click(function () {
            var selectedRow = oTableFY.fnGetData(this);
            $(this).toggleClass('row_selected');
            console.log(selectedRow[0]);
            //alert('tblfy');
            fncFilterdata(selectedRow[0]);

        });

    });

     function fncFilterdata(FYId) {
        //var FYId = 0;
        var rowCount = $('#tblFY tbody tr').length;
         if (rowCount > 0) {

             tblMonth.clear().draw();
             tblHY.clear().draw();
             tblQuarter.clear().draw();

            $.ajax({
            type: 'POST',
            url: '@Url.Action("GetMonthList", "Accounts")',
            dataType: 'json',
            async: true,
            data: { id: FYId },
                success: function (data) {

                    for (var i = 0; i < data.datam.length; i++) {
                        $('#tblMonth').dataTable().fnAddData([data.datam[i].Id, data.datam[i].MonthName, data.datam[i].dtFrom, data.datam[i].dtTo ]);
                    }
                    for (var i = 0; i < data.datah.length; i++) {
                        $('#tblHY').dataTable().fnAddData([data.datah[i].Id, data.datah[i].HyearName, data.datah[i].dtFrom, data.datah[i].dtTo]);
                    }
                    for (var i = 0; i < data.dataq.length; i++) {
                        $('#tblQuarter').dataTable().fnAddData([data.dataq[i].Id, data.dataq[i].QtrName, data.dataq[i].dtFrom, data.dataq[i].dtTo]);
                    }

                },
                error: function (ex) {

                alert('Failed.' + ex);
            }
        });
        }

    }



    $('input[name=criteria]').click(function () {
        fncCriteria();
    });
        function fncCriteria() {

        $("#tblHY").find("*").removeAttr("disabled");
        $("#tblQuarter").find("*").removeAttr("disabled");
        $("#tblMonth").find("*").removeAttr("disabled");
        $("#tblFY").find("*").removeAttr("disabled");
        $("#divDateFromTo").find("*").removeAttr("disabled");



        //$("#tblHY").addClass("disabledbutton");
        //$("#tblQuarter").addClass("disabledbutton");
        //$("#tblMonth").addClass("disabledbutton");
        //$("#divDateFromTo").addClass("disabledbutton");



        var a = $("input[name=criteria]:checked").val();
        if (a == "HYear") {
            $("#tblQuarter").find("*").attr("disabled", "disabled");
            $("#tblMonth").find("*").attr("disabled", "disabled");


            $("#tblQuarter").addClass("disabledbutton");
            $("#tblMonth").addClass("disabledbutton");
            $("#tblHY").removeClass("disabledbutton");


            $("#divDateFromTo").find("*").attr("disabled", "disabled");
            $("#divDateFromTo").addClass("disabledbutton");



        }
        else if (a == "Quarter") {

            $("#tblHY").find("*").attr("disabled", "disabled");
            $("#tblMonth").find("*").attr("disabled", "disabled");


            $("#tblQuarter").removeClass("disabledbutton");
            $("#tblMonth").addClass("disabledbutton");
            $("#tblHY").addClass("disabledbutton");


            $("#divDateFromTo").find("*").attr("disabled", "disabled");
            $("#divDateFromTo").addClass("disabledbutton");
        }
        else if (a == "Month") {
            $("#tblHY").find("*").attr("disabled", "disabled");
            $("#tblQuarter").find("*").attr("disabled", "disabled");


            $("#tblQuarter").addClass("disabledbutton");
            $("#tblMonth").removeClass("disabledbutton");
            $("#tblHY").addClass("disabledbutton");

            $("#divDateFromTo").find("*").attr("disabled", "disabled");
            $("#divDateFromTo").addClass("disabledbutton");

        }
        else if (a == "Date"){


            $("#tblHY").find("*").attr("disabled", "disabled");
            $("#tblQuarter").find("*").attr("disabled", "disabled");
            $("#tblFY").find("*").attr("disabled", "disabled");
            $("#tblMonth").find("*").attr("disabled", "disabled");

            $("#divDateFromTo").removeClass("disabledbutton");

            $("#tblQuarter").addClass("disabledbutton");
            $("#tblMonth").addClass("disabledbutton");
            $("#tblHY").addClass("disabledbutton");
            $("#tblFY").addClass("disabledbutton");


        }
        else {
            $("#tblHY").find("*").attr("disabled", "disabled");
            $("#tblQuarter").find("*").attr("disabled", "disabled");
            $("#tblMonth").find("*").attr("disabled", "disabled");

            $("#tblFY").removeClass("disabledbutton");
            $("#tblQuarter").addClass("disabledbutton");
            $("#tblMonth").addClass("disabledbutton");
            $("#tblHY").addClass("disabledbutton");

            $("#divDateFromTo").find("*").attr("disabled", "disabled");
            $("#divDateFromTo").addClass("disabledbutton");
        }
    }


     function ReportPrint(btnvalue) {

         var rptFormat = $("input[name='rptFormat']:checked").val();
         var criteria = $("input[name='criteria']:checked").val();
         var rpttype = $("input[name='RptType']:checked").val();
         var Currency = $('#CountryId').val();
         var PrdUnitId = $('#PrdUnitId').val();
         var AccIdGroup = $('#AccIdGroup').val();

         var dtFrom = $('#dtFrom').val();
         var dtTo = $('#dtTo').val();



         var isShowZero=0;
         var isCompare = 0;
         var isViewPageReport = 0;
         var isGroup = 0;
         var isCumulative = 0;

         if ($("#isShowZero").prop('checked') == true) {
             isShowZero = 1;

         }
         if ($("#isCompare").prop('checked') == true) {
             isCompare = 1;
         }
         if ($("#isViewPageReport").prop('checked') == true) {
             isViewPageReport = 1;
         }

         if ($("#isCumulative").prop('checked') == true) {
             isCumulative = 1;

         }






         if ($("#isGroup").prop('checked') == true) {
             //alert('Group found');
             isGroup = 1;

         }

         //alert(rpttype);



            //alert('ok');

            //alert(table.rows('.selected').data().length + ' row(s) selected');
        var FYId = 0;
        var rowsFY = tableFY.rows('.selected').data();
         if (rowsFY.length > 0) {
             console.log(rowsFY[0][0]);
             var FYId = rowsFY[0][0];
         }


         var FYHId = 0;
         var rowsHY = tableHY.rows('.selected').data();
         if (rowsHY.length > 0) {
             console.log(rowsHY[0][0]);
             var FYHId = rowsHY[0][0];
         }

         var FYQId = 0;
         var rowsQY = tableQY.rows('.selected').data();
         if (rowsQY.length > 0) {
             console.log(rowsQY[0][0]);
             var FYQId = rowsQY[0][0];
         }


         var FYMId = 0;
         var rowsMY = tableMY.rows('.selected').data();
         if (rowsMY.length > 0) {
             console.log(rowsMY[0][0]);
             var FYMId = rowsMY[0][0];
         }


            //alert(criteria);
            if (criteria == "Year") {
                if (rowsFY.length == 0) {
                    tableFY.row(0).select();
                    toastr.error('Please Select Fiscal Year');
                    tableQY.$('tr.selected').removeClass('selected');
                    tableHY.$('tr.selected').removeClass('selected');
                    tableMY.$('tr.selected').removeClass('selected');

                    return;
                }
            }
            else if (criteria == "HYear") {
                if (rowsHY.length == 0) {
                    toastr.error('Please Select Half Year');
                    tableHY.row(0).select();
                    tableQY.$('tr.selected').removeClass('selected');
                    tableMY.$('tr.selected').removeClass('selected');

                    return;
                }
            }
            else if (criteria == "Quarter") {
                if (rowsQY.length == 0) {
                    toastr.error('Please Select Quarter');
                    tableQY.row(0).select();
                    tableHY.$('tr.selected').removeClass('selected');
                    tableMY.$('tr.selected').removeClass('selected');
                    return;
                }
            }
            else if (criteria == "Month") {
                if (rowsMY.length == 0) {
                    toastr.error('Please Select Month');
                    tableMY.row(0).select();
                    tableQY.$('tr.selected').removeClass('selected');
                    tableHY.$('tr.selected').removeClass('selected');
                    return;
                }
            }
            else if (criteria == "Date") {


                    tableQY.$('tr.selected').removeClass('selected');
                    tableHY.$('tr.selected').removeClass('selected');
                    tableMY.$('tr.selected').removeClass('selected');
                    //tableFY.$('tr.selected').removeClass('selected');
                    //return;

            };




            //alert('ready for post');

            $.ajax({
            type: 'POST',
            url: '@Url.Action("SetSessionSummaryReport", "Accounts")',
            dataType: 'json',
                async: true,
                data: {
                    criteria: criteria, rptFormat: rptFormat, rpttype: rpttype, Currency: Currency, isCompare: isCompare,isViewPageReport: isViewPageReport, isCumulative: isCumulative, isShowZero: isShowZero, isGroup: isGroup, FYId: FYId, FYHId: FYHId, FYQId: FYQId, FYMId: FYMId , FromDate: dtFrom, ToDate: dtTo,AccIdGroup:AccIdGroup, PrdUnitId : PrdUnitId
                },


                success: function (response) {
                    //alert(response.Url);
                    window.open(response.Url, '_blank')
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });

        }


        $('input[name=RptType]').click(function () {
        $('#isCompa').show();
        $('#isZeroa').show();
        $('#isGroupa').show();
        $('#divGroup').show();
        $('#divDateFromTo').show();




        var a = $("input[name=RptType]:checked").val();
        if (a == "TB") {
            //$('#isZeroa').hide();

        }
        else if (a == "MC") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#isCompa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();


        }
        else if (a == "COGS") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "WS") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            //$('#divGroup').hide();
            //$('#divDateFromTo').hide();
        }
        else if (a == "TR") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            //$('#divGroup').hide();
            //$('#divDateFromTo').hide();
        }
        else if (a == "COB") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "IS" || a == "ISPF") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "OE") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "BS" || a == "BSPF") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "FA") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#isCompa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "CF") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#isCompa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "FF") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#isCompa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "MR") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            $('#isCompa').hide();
            $('#divGroup').hide();
            $('#divDateFromTo').hide();
        }
        else if (a == "NR") {
            $('#isGroupa').hide();
            $('#isZeroa').hide();
            //$('#divGroup').hide();
            $('#divDateFromTo').hide();
        }



    });


                 $("#dtFrom").datepicker({
            onSelect: function (date) {
                // Your CSS changes, just in case you still need them
                $('a.ui-state-default').removeClass('ui-state-highlight');
                $(this).addClass('ui-state-highlight');
                var dateFormat = $("#dtFrom").datepicker("option", "dateFormat");
                //setter
                $("#dtFrom").datepicker("option", "dateFormat", 'dd-M-yy');
            }
        });

        $("#dtTo").datepicker({
            onSelect: function (date) {
                // Your CSS changes, just in case you still need them
                $('a.ui-state-default').removeClass('ui-state-highlight');
                $(this).addClass('ui-state-highlight');
                var dateFormat = $("#dtTo").datepicker("option", "dateFormat");
                //setter
                $("#dtTo").datepicker("option", "dateFormat", 'dd-M-yy');
            }
        });


            CurrentDate();

            $("#dtFrom").datepicker({

                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true

            });
            $("#dtTo").datepicker({

                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true

            });

            function CurrentDate() {
            var date = new Date();
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
                var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();

                 if ($("#dtFrom").val() == '') {
                    $("#dtFrom").val(val);
                }
                if ($("#dtTo").val() == '') {
                    $("#dtTo").val(val);
                }

            }


</script>
        }
