@model Atrai.Core.Entity.Acc_VoucherMainModel
@{
    ViewData["Title"] = "Voucher";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>
    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>

    <style media="print">
        
     @@media print {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
           float: left;               
      }

      .col-md-12 {
           width: 100%;
      }

      .col-md-11 {
           width: 91.66666666666666%;
      }

      .col-md-10 {
           width: 83.33333333333334%;
      }

      .col-md-9 {
            width: 75%;
      }

      .col-md-8 {
            width: 66.66666666666666%;
      }

       .col-md-7 {
            width: 58.333333333333336%;
       }

       .col-md-6 {
            width: 50%;
       }

       .col-md-5 {
            width: 41.66666666666667%;
       }

       .col-md-4 {
            width: 33.33333333333333%;
       }


       .col-md-3 {
            width: 25%;
       }
       .col-md-2 {
            width: 16.666666666666666%;
       }
       .col-md-1 {
            width: 8.33333333333333%;
       }

           
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }
        }
    
    </style>

    <style type="text/css">
        .bg-offwhite {
            background-color: #D3D3D3;
        }

        .table-bordered td, .table-bordered th, .table-bordered {
            border: 1px solid black;
            color: black;
        }

        .table thead th {
            border-bottom: inherit;
        }

        .table th {
            background: inherit;
        }

        .bg-asswhite {
            background-color: #F5F5F5 !important;
        }
       
        .table th:last-child, .table tbody tr.even td:last-child {
            position: inherit !important;
            right: 0px;
            background-color: inherit !important;
            z-index: 1;
        }

        .table th, .table td {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-left: 0.40rem;
          padding-right: 0.40rem;
        }


    </style>
</head>
<body>

        <h3>
            @{
                System.Globalization.CultureInfo BDFormat = new System.Globalization.CultureInfo("hi-IN");
            }

        </h3>
        <div id="main">




            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-12">
                        @*<h3 class="text-center">DAP FERTILIZER COMPANY LIMITED</h3>*@
                        <h2 class="text-center">@Model.CompanyList.CompanyName</h2>
                    </div>
                    @*<div class="col-md-2 col-2 text-right">
                        <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()">
                        </div>*@
                    <div class="col-md-12 text-center">
                        <span>
                            <h4 class="text-center">@Model.CompanyList.PrimaryAddress</h4>
                        </span>
                        <span class="float-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                        </span>
                    </div>
                    <div class="col-md-12 text-center">
                        @*<h5><span class="border-bottom border-dark">BANK PAYMENT VOUCHER</span></h5>*@
                        <h3><span class="border-bottom border-dark">@Model.Acc_VoucherTypes.VoucherTypeName Voucher</span></h3>



                    </div>


                </div>

                @if (@Model.Referance != null && @Model.VAmount != null)
                {
                    <div class="col-md-10 offset-md-1 mb-3">
                        <div class="row text-center bg-offwhite">
                            <div class="col-md-6">
                                <h5><span class="border-bottom border-dark">Receipient</span></h5>
                            </div>
                            <div class="col-md-6">
                                <h5><span class="border-bottom border-dark">Amount</span></h5>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <h6>@Model.Referance</h6>
                            </div>
                            <div class="col-md-6">
                                <h6>@Model.ReferanceThree</h6>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-12 mb-2">
                    <div class="row font-weight-bold text-center">
                        <div class="col-md-2 border border-dark">
                            Currency
                        </div>
                        <div class="col-md-2 border border-dark">
                            Amount
                        </div>
                        <div class="col-md-4 border border-dark">
                            Fiscal Year
                        </div>
                        <div class="col-md-4 border border-dark">
                            Voucher No : @Model.VoucherNo
                        </div>
                    </div>
                    <div class="row font-weight-bold text-center">
                        <div class="col-md-2 border border-dark">
                            @Model.Acc_Currency.CurrencyShortName
                        </div>
                        <div class="col-md-2 border border-dark">
                            @Model.VAmount
                        </div>
                        <div class="col-md-4 border border-dark">
                            @Model.Acc_FiscalYears.FYName
                        </div>
                        <div class="col-md-4 border border-dark">
                            Voucher Date : @Model.VoucherDate.ToString("dd-MMM-yy")
                        </div>
                    </div>

                </div>
                <table class="table table-bordered border-dark text-dark">
                    <thead class="bg-asswhite font-weight-bold">
                        <tr class="text-nowrap text-center">
                            <th class="font-weight-bold">Accounts Code</th>
                            <th class="font-weight-bold">Accounts Name</th>
                            <th class="font-weight-bold">Debit</th>
                            <th class="font-weight-bold">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            double totalDebit = 0;
                            double totalCredit = 0;

                            foreach (var item in Model.VoucherSubs)
                            {
                                totalDebit += item.TKDebit;
                                totalCredit += item.TKCredit;

                                <tr style="font-family:Arial Narrow;font-size:16px;">
                                    <td>@Html.DisplayFor(modelItem => item.Acc_ChartOfAccount.AccCode) </td>
                                    <td>@Html.DisplayFor(modelItem => item.Acc_ChartOfAccount.AccName) </td>
                                    <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TKDebit))) </td>
                                    <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.TKCredit))) </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="text-right">
                            <td colspan="2" class="bg-asswhite font-weight-bold"><h6>Total :</h6></td>
                            <td><h6>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(totalDebit)))</h6></td>
                            <td><h6>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(totalCredit)))</h6></td>
                        </tr>
                        <tr>
                            <td colspan="4"><h6>In Words (Net Payable) : @Model.vAmountInWords</h6></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>Narration : @Model.VoucherDesc</p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-12 mb-3">
                    @if (@Model.VoucherCheckNos != null)
                    {
                        <div class="row text-center bg-offwhite">
                            <div class="col-md-5">
                                <h5><span class="border-bottom border-dark">Bank Name</span></h5>
                            </div>
                            <div class="col-md-2">
                                <h5><span class="border-bottom border-dark">Cheque No</span></h5>
                            </div>
                            <div class="col-md-2">
                                <h5><span class="border-bottom border-dark">Date</span></h5>
                            </div>
                            <div class="col-md-3">
                                <h5><span class="border-bottom border-dark">Amount</span></h5>
                            </div>
                        </div>
                    }
                    @if (@Model.VoucherCheckNos != null)
                    {
                            foreach (var checkinfo in @Model.VoucherCheckNos)
                            {

                                <div class="row text-center">
                                    <div class="col-md-5">
                                        <h6>@checkinfo.Acc_VoucherSub.Acc_ChartOfAccount.AccName</h6>
                                    </div>
                                    <div class="col-md-2">
                                          <h6>@checkinfo.ChkNo</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>@checkinfo.dtChk</h6>
                                    </div>
                                    <div class="col-md-3">
                                         <h6>@checkinfo.Amount</h6>
                                    </div>
                                    <div class="col-12 col-md-12 text-right">
                                        Posted
                                    </div>
                                </div>
                            }
                        

                    }
                </div>
                <div class="row mt-5 pt-4 text-center">
                    <div class="col-md-4">
                        <h4 class=" border-top border-dark">Prepared By</h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class=" border-top border-dark">Checked By</h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class=" border-top border-dark">Approved By</h4>
                    </div>

                </div>


                <div class="row  my-5 pt-5 text-center">
                    <div class="col-md-4">
                        <h4 class="border-top border-dark"> Received By </h4>
                    </div>
                    <div class="col-md-8"></div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h6>Software Generated Report || Developed By : Dominate Software Solution</h6>
                    </div>
                </div>

            </div>
        </div>


</body>
</html>