@model Atrai.Core.Entity.DeliveryServiceModel
@{
    ViewData["Title"] = "Add DeliveryService";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Trouble Ticket</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="DeliveryService" asp-action="AddDeliveryService" method="post">

                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />

                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }


                                <div class="row">
                                    <div class="col-lg-8">

                                        <div class="form-group row">

                                            <div class="col-md-3 col-12">
                                                @Html.LabelFor(x => x.DeliveryClientPhoneNo)
                                                @Html.TextBoxFor(x => x.DeliveryClientPhoneNo, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.DeliveryClientPhoneNo, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-3 col-12">
                                                @Html.LabelFor(x => x.DeliveryClientName)
                                                @Html.TextBoxFor(x => x.DeliveryClientName, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.DeliveryClientName, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="col-md-6 col-12 ">
                                                <label asp-for="DeliveryClientAddress"></label>
                                                <textarea class="form-control" asp-for="DeliveryClientAddress" rows="3" placeholder="Enter Delivery Address"></textarea>
                                                <span asp-validation-for="DeliveryClientAddress" class="text-danger"></span>
                                            </div>



                                            <div class="col-md-4 col-12 ">
                                                <label asp-for="BillNo"></label>
                                                <input class="form-control" asp-for="BillNo" rows="3" placeholder="Enter Bill No" readonly="readonly" />
                                                <span asp-validation-for="BillNo" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(x => x.BilledDate)
                                                @Html.TextBoxFor(x => x.BilledDate, @"{0:dd-MMM-yyyy}", new { id = "BilledDate", @class = "form-control", @placeholder = "Enter Promise Date", autocomplete = "off" })
                                                @Html.ValidationMessageFor(x => x.BilledDate, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(x => x.PreferableDateTime)
                                                @*@Html.TextBoxFor(x => x.PreferableDateTime, @"{0:dd-MMM-yyyy}", new { id = "PreferableDateTime", @class = "form-control", @placeholder = "Enter Preferable Date Time", autocomplete = "off" })*@
                                                @*<input asp-for="PreferableDateTime" asp-format="{0:dd/MMM/yyyy HH:mm}" class="form-control" />*@
                                                <input asp-for="PreferableDateTime" type="datetime" asp-format="{0:dd-MMM-yyyy HH:mm}" class="form-control" />
                                                @Html.ValidationMessageFor(x => x.PreferableDateTime, "", new { @class = "text-danger" })
                                            </div>





                                        </div>
                          


                                        <div class="form-group row">


                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.CategoryId)
                                                @Html.DropDownListFor(x => x.CategoryId,
                                                                                                       new SelectList((IEnumerable<SelectListItem>)ViewBag.CategoryId, "Value", "Text"), "Select Category ", htmlAttributes: new { @class = "form-control", id = "CategoryId" })
                                                @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.WeightId)
                                                @Html.DropDownListFor(x => x.WeightId,
                                                                                                       new SelectList((IEnumerable<SelectListItem>)ViewBag.WeightId, "Value", "Text"), "Select Weight ", htmlAttributes: new { @class = "form-control", id = "WeightId" })
                                                @Html.ValidationMessageFor(x => x.WeightId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.DistanceId)
                                                @Html.DropDownListFor(x => x.DistanceId,
                                                                                                       new SelectList((IEnumerable<SelectListItem>)ViewBag.DistanceId, "Value", "Text"), "Select Distance ", htmlAttributes: new { @class = "form-control", id = "DistanceId" })
                                                @Html.ValidationMessageFor(x => x.DistanceId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.DeliveryTimingId)
                                                @Html.DropDownListFor(x => x.DeliveryTimingId,
                                                                                                       new SelectList((IEnumerable<SelectListItem>)ViewBag.DeliveryTimingId, "Value", "Text"), "Select Delivery Timing ", htmlAttributes: new { @class = "form-control", id = "DeliveryTimingId" })
                                                @Html.ValidationMessageFor(x => x.DeliveryTimingId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.PaymentTypeId)
                                                @Html.DropDownListFor(x => x.PaymentTypeId,
                                                                                                       new SelectList((IEnumerable<SelectListItem>)ViewBag.PaymentTypeId, "Value", "Text"), "Select Payment Type", htmlAttributes: new { @class = "form-control", id = "PaymentTypeId" })
                                                @Html.ValidationMessageFor(x => x.PaymentTypeId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <label for="Priority"> Priority : </label>
                                                @Html.DropDownList("Priority", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 {
                                                        new SelectListItem() {Text = "Normal", Value="Normal"},
                                                        new SelectListItem() {Text = "High", Value="High"},
                                                        new SelectListItem() {Text = "Highest", Value="Highest"}
                                                    }, "Select Priority", new { @class = "form-control" })

                                            </div>

                                            <div class="col-md-4 col-12 ">
                                                <label asp-for="BillAmount"></label>
                                                <input type="text" asp-for="BillAmount" class="form-control">
                                                <span asp-validation-for="BillAmount" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 col-12 ">
                                                <label asp-for="ReceivedAmount"></label>
                                                <input type="text" asp-for="ReceivedAmount" class="form-control">
                                                <span asp-validation-for="ReceivedAmount" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 col-12 ">
                                                <label asp-for="Discount"></label>
                                                <input type="text" asp-for="Discount" class="form-control">
                                                <span asp-validation-for="Discount" class="text-danger"></span>
                                            </div>

                                        </div>





                                        <div class="form-group row">


                                            <div class="col-md-6 col-12 ">
                                                <label asp-for="PickupPoint"></label>
                                                <textarea class="form-control" asp-for="PickupPoint" rows="3" placeholder="Enter Pickup Point"></textarea>
                                                <span asp-validation-for="PickupPoint" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                <label asp-for="Note"></label>
                                                <textarea class="form-control" asp-for="Note" rows="3" placeholder="Enter Note"></textarea>
                                                <span asp-validation-for="Note" class="text-danger"></span>
                                            </div>
                                        </div>




                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                            <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                                    else if (ViewBag.ActionType == "Edit")
                                                    {
                                                        <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                                    else if (ViewBag.ActionType == "Delete")
                                                    {
                                            <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "DeliveryServiceList", "DeliveryService", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>



                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        autocompletefunction();
        function autocompletefunction() {
            $("#DeliveryClientPhoneNo").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../DeliveryService/DeliveryClientdata/',
                        dataType: "json",
                        data: { query: $("#DeliveryClientPhoneNo").val() },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return { label: item.DeliveryClientPhoneNo + " - " + item.DeliveryClientName + " - " + item.DeliveryClientAddress, DeliveryClientPhoneNo: item.DeliveryClientPhoneNo, DeliveryClientName: item.DeliveryClientName, DeliveryClientAddress: item.DeliveryClientAddress, Id: item.DeliveryClientPhoneNo, PickupPoint: item.PickupPoint};//, , BillAmount: item.BillAmount
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        },
                    });
                },
                autoFocus: true,
                minLength: 5,
                change: function (event, ui) {
                    if (ui.item === null) {
                        $(this).val('');
                        //$('#DeliveryClientPhoneNo').val('');
                        $('#DeliveryClientName').val('');
                        $('#DeliveryClientAddress').val('');

                    }
                },
                select: function (event, ui) {


                    $("#DeliveryClientPhoneNo").val(ui.item.DeliveryClientPhoneNo);
                    $("#DeliveryClientName").val(ui.item.DeliveryClientName);
                    $("#DeliveryClientAddress").val(ui.item.DeliveryClientAddress);
                    $("#PickupPoint").val(ui.item.PickupPoint);


                    return false;
                }
            });
        }


        $(document).ready(function () {
            $('#BilledDate').datepicker({
                dateFormat: 'dd-M-yy',
                todayHighlight: true,
                autoclose: true

            });

            //$('#PreferableDateTime').datepicker({
            //    dateFormat: 'dd-M-yy',
            //    todayHighlight: true,
            //    autoclose: true

            //});

            

        });





        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };
    </script>
}

