@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@Html.AntiForgeryToken()
@using Atrai.Core.Entity;
@using Atrai.Core.Common;

<style>
    @@media only screen and (max-width: 600px) and (min-width: 380px) {
        #compnaylistdata {
            width: 150px;
        }
    }

</style>


@if (@HttpContextAccessor.HttpContext.Session == null)
{
    @Url.Action("Login", "Home");
}
@{
    string weburl = HttpContextAccessor.HttpContext.Session.GetString("weburl");// ViewBag.weburl;

    var comimagepath = @HttpContextAccessor.HttpContext.Session.GetString("comImagePath");
    var empimagepath = @HttpContextAccessor.HttpContext.Session.GetString("EmpImagePath");


}
@*@{ string UserRoleId = @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId").ToString();
    }*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (HttpContextAccessor.HttpContext.Session.GetString("AppsName") == null)
    {
        <title>@ViewBag.Title - Invoice Made Easy</title>
    }
    else
    {
        <title>@ViewBag.Title - @HttpContextAccessor.HttpContext.Session.GetString("AppsName")</title>
    }




    <!-- Google Fonts -->
    @*<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>*@
    <!--Icon fonts css-->
    @*<link href="~/AdminEla/Assets/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">*@

    <link href="~/AdminEla/Assets/bootstrap-4.5.3/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />*@

    @*<link href="~/AdminEla/Assets/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">*@
    @*<link href="~/AdminEla/Assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">*@
    <link href="~/AdminEla/Assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    @*<link href="~/AdminEla/Assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />*@
    <link href="~/AdminEla/Assets/css/helper.css" rel="stylesheet">
    <link href="~/AdminEla/Assets/css/style.css" rel="stylesheet">

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    @*<link href="~/AdminEla/Assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" /> by fahad off *@
    <link href="~/AdminEla/Assets/css/lib/datatables/1.10.19/css/dataTables.bootstrap4.css" rel="stylesheet" />


    <link href="~/AdminEla/Assets/css/lib/data-table/buttons.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/AdminEla/Assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/buttons.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/AdminEla/Assets/css/lib/select/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/AdminEla/Assets/css/lib/select/select.bootstrap4.min.css" rel="stylesheet" />


    <link href="~/AdminEla/Assets/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/AdminEla/Assets/css/lib/select2/select2.min.css" rel="stylesheet" />

    <link href="~/AdminEla/Assets/css/customStyle.css" rel="stylesheet">



    <style type="text/css">


        .capitalize 
            {
                text-transform:capitalize;
            }


        /*        .wraper {
                                min-height: 700px;
                            }*/

        .navbar-expand-xl .navbar-toggler {
            display: block !important;
        }


        

    </style>




</head>
<body class="fix-header fix-sidebar">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <div id="main-wrapper">
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-xl navbar-light">

                <!-- Logo -->
                <button class="navbar-toggler  ml-3" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-header ml-1 text-nowrap">
                    @*<a class="navbar-brand" href="@Url.Action("index")">*@

                    <a class="" href="#">
                        @if (@comimagepath != null)
                        {
                            <img width="38" class="img-circle img-thumbnail" src="..@comimagepath" onerror="this.onerror=null; this.src='.@comimagepath'" alt="" id="main-img">

                        }



                        else
                        {
                            <img width="10" class="img-circle" src="../Content/ProductImages/0.png" id="main-img">
                        }
                    </a>



                    @if (HttpContextAccessor.HttpContext.Session.GetString("AppsName") == null)
                    {
                        <span class="MenuClass"><span class="shadow" style="color: dimgray;"> Easy  </span> <strong> <span style="color:purple"> POS </span></strong> </span>
                    }
                    else
                    {
                        string[] appsname = HttpContextAccessor.HttpContext.Session.GetString("AppsName").Split(' ');
                        if (appsname.ToList().Count == 2)
                        {
                            <span class="MenuClass"><span class="shadow" style="color: dimgray;"> @appsname[0]  </span> <strong> <span style="color:purple"> @appsname[1] </span></strong> </span>
                        }
                        else
                        {
                            <span class="MenuClass"><span class="shadow" style="color: dimgray;"> @HttpContextAccessor.HttpContext.Session.GetString("AppsName")  </span> </span>
                        }

                    }


                    @*</a>*@
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                    </ul>

                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!---Compnaydropdown-->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            @*<a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/k_logo.png" alt="user" class="profile-pic" />       <span class="username"> </span></a>*@


                            @if (User.Identity.IsAuthenticated == true)
                            {
                                @if (HttpContextAccessor.HttpContext.Session.GetInt32("IsMobile") != 1)
                                {
                                    <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @if (empimagepath != null && empimagepath != "")
                                        {
                                            <img style="width:35px;height:35px; object-fit:cover; border-radius:30px" src="..@empimagepath" onerror="this.onerror=null; this.src='.@empimagepath'" alt="" id="main-img">

                                        }
                                        else
                                        {
                                            @*<img alt="user" src="~/images/k_logo.png" class="img-circle profile-img thumb-sm">*@
                                            <span class="caret fa fa-user-circle f-s-30 fontshadow color-primary"></span>
                                        }
                                    </a>


                                    @*@if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                                        {
                                        <img style="width:35px;height:35px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                                        }*@

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="dropdown-user text-nowrap">
                                            <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-power-off"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                }
                            }
                            else
                            {
                                @*<a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img alt="user" src="~/images/k_logo.png" class="img-circle profile-img thumb-sm"> <span class="username"> </span> <span class="caret"></span> </a>*@
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="dropdown-user">
                                        <li><a href="@Url.Action("LogIn", "Home")"><i class="fa fa-sign-in"></i> Login</a></li>
                                    </ul>
                                </div>

                            }


                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        </div>

        <section class="content">


            <div class="my-2">
                @RenderBody()
            </div>


            <footer class="footer" style="color:#0f0e17;">

                <div class="pull-right hidden-xs">
                    Made with <i class="fa fa-heart pulse"></i>
                </div>
                <strong>Copyright &copy; 2022 <a href="https://www.dominatebd.com">Dominatebd</a>.</strong> All rights reserved.
            </footer>
            @*<div class="fixed-bottom animated slideInUp transition s2">
                <div class="bg-danger text-white py-1 col-md-12 text-center">
                <strong>
                ! Your software will expire soon. Plese renew it before expire.. Expire Date : 10-Feb-22
                </strong>
                </div>
                </div>*@
        </section>

    </div>


    <script src="~/AdminEla/Assets/js/lib/jquery/jquery.min.js"></script>
    <script src="~/AdminEla/Assets/bootstrap-4.5.3/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="~/AdminEla/Assets/js/lib/bootstrap/js/popper.min.js"></script>*@
    @*<script src="~/AdminEla/Assets/js/lib/bootstrap/js/bootstrap.min.js"></script>*@

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/AdminEla/Assets/js/jquery.timer.js"></script>


    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/AdminEla/Assets/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/AdminEla/Assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/AdminEla/Assets/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!-- Amchart -->
    @*<script src="~/AdminEla/Assets/js/lib/morris-chart/raphael-min.js"></script>
        <script src="~/AdminEla/Assets/js/lib/morris-chart/morris.js"></script>
        <script src="~/AdminEla/Assets/js/lib/morris-chart/dashboard1-init.js"></script>*@


    <!--<script src="~/AdminEla/Assets/js/lib/calendar-2/moment.latest.min.js"></script>-->
    <!-- scripit init-->
    <!--<script src="~/AdminEla/Assets/js/lib/calendar-2/semantic.ui.min.js"></script>-->
    <!-- scripit init-->
    <!--<script src="~/AdminEla/Assets/js/lib/calendar-2/prism.min.js"></script>-->
    <!-- scripit init-->
    <!--<script src="~/AdminEla/Assets/js/lib/calendar-2/pignose.calendar.min.js"></script>-->
    <!-- scripit init-->
    <!--<script src="~/AdminEla/Assets/js/lib/calendar-2/pignose.init.js"></script>

    <script src="~/AdminEla/Assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/owl-carousel/owl.carousel-init.js"></script>-->
    <script src="~/AdminEla/Assets/js/scripts.js"></script>
    <!-- scripit init-->
    @*<script src="~/AdminEla/Assets/js/lib/datatables/datatables.min.js"></script>*@
    <script src="~/AdminEla/Assets/css/lib/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminEla/Assets/css/lib/datatables/1.10.19/js/dataTables.bootstrap4.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/select/dataTables.select.min.js"></script>

    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/buttons.bootstrap4.min.js"></script>

    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/datatables-init.js"></script>


    <script src="~/AdminEla/Assets/js/custom.min.js"></script>
    <script src="~/AdminEla/Assets/toastr/toastr.min.js"></script>
    <script src="~/AdminEla/Assets/toastr/toaster_custom.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@
    <script src="~/AdminEla/Assets/js/lib/select2/select2.full.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/toastr/toaster_custom.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">


            //window.onload = function () {
            //    var btnRelease = document.getElementById('<%= btnRelease.ClientID %>');

            //    //Find the button set null value to click event and alert will not appear for that specific button

            //    function setGlobal() {
            //        window.onbeforeunload = null;
            //    }
            //    $(btnRelease).click(setGlobal);

            //    // Alert will not appear for all links on the page
            //    $('a').click(function () {
            //        window.onbeforeunload = null;

            //    });
            //    window.onbeforeunload = function () {
            //        return 'Are you sure you want to leave this page?';
            //    };

            //};


            //window.onbeforeunload = function () {
            //    return "Leaving this page will reset the wizard";
            //};


            $("#company").change(function () {
                Change_Company();
            });

        $("#company").select2();


                    var comid22;
            function Change_Company() {
                 comid22 = $("#company").val();
                var comName = $("#company option:selected").text();
                //alert(SalesId);
                $.ajax({

                    url: '@Url.Action("ChangeSelectedCompany", "Home")',
                    data: { ComId: comid22 }, //use id here
                    type: 'GET',
                    async: true,
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {
                        //toastr.success(`Company Changed to ${comName} Successfully`);
                        //$('#company option[value=' + comid + ']').attr('selected', true);
                        if (result.success == 1) {
                            toastr.success(`Company Changed to ${comName} Successfully`);
                            //window.location.href = '@Url.Action("Index", "Admin")';
                            location.reload(true);
                            document.getElementById('company').value = comid22;
                           //$('#company option[value=' + comid + ']').attr('selected', true).change();

                        }

                    },
                    error: function (result) {
                        if (result.error==0) {
                            toastr.error(`Unable to Chnage Company to ${comName}`);
                        }


                    }
                });
            };



            $(document).ready(function () {
                $("#filter").keyup(function () {

                    // Retrieve the input field text and reset the count to zero
                    var filter = $(this).val(), count = 0;

                    // Loop through the comment list
                    $("#menulistnav ul li").each(function () {

                        // If the list item does not contain the text phrase fade it out
                        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                            $(this).fadeOut();

                            // Show the list item if the phrase matches and increase the count by 1
                        } else {
                            $(this).show();
                            count++;
                        }
                    });

                    // Update the count
                    var numberItems = count;
                    $("#filter-count").text("Search Count = " + count);
                });
            });



            customFile(@Html.Raw(Json.Serialize(TempData["Status"])), @Html.Raw(Json.Serialize(TempData["Message"])));


            $(':button.spinnerclass').click(function () {
                //alert('alert hit button save spinner');
                if ($(this).children().hasClass('d-none')) {
                    $(this).children().removeClass('d-none');
                    $(this).prop("disabled", true);
                }

            });


            function StartSpinner(id) {

                //$('body').prop("disabled", true);

                if ($(id).children().hasClass('d-none')) {
                    $(id).children().removeClass('d-none');
                    $(id).prop("disabled", true);

                }
                //alert('alert hit stop spinner');
            }


            function StopSpinner(id) {

                if (!$(id).children().hasClass('d-none')) {
                    $(id).children().addClass('d-none');
                    $(id).prop("disabled", false);

                }
                //alert('alert hit stop spinner');
            }

            $(document).ready(function () {

                $("input[type='text']").click(function () {
                    $(this).select();
                });


                $(".navbar-toggler").on('click', function (event) {

                    //alert('hit');
                    $('body').toggleClass('mini-sidebar');
                    //(... rest of your JS code)
                });



                function capitalize(str) {
                   
                    str = str.toLowerCase().replace(/\b[a-z]/g, function(letter) {
                        return letter.toUpperCase();
                    });
                    //alert(str); //Displays "Hello World"
                      return str;
                }

                var IsFirstLetterUpperCase = '@HttpContextAccessor.HttpContext.Session.GetInt32("IsFirstLetterUpperCase").ToString()';
                $("input[type=text]").keyup(function () {
                    //$(this).val($(this).val().toUpperCase());
                
                    if (IsFirstLetterUpperCase == 1)
                    {
                         $(this).val(capitalize($(this).val()));
                    }
                });

            });
         



    </script>

</body>
</html>