@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Online Shop - E-Commerce</title>

		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="~/electro-master/css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="~/electro-master/css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="~/electro-master/css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="~/electro-master/css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="~/electro-master/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="~/electro-master/css/style.css"/>


    </head>

	<body>

		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +88-01671-303302</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> rubayet.fahd@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Bangladesh</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#">৳ Taka</a></li>
						<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">

                                <a href="#" class="logo">
                                    @if (ViewBag.comImagePath != null)
                                    {
                                        <img width="80" class="img-thumbnail" src="..@ViewBag.comImagePath" onerror="this.style.display='none'" id="main-img">
                                    }
                                    else
                                    {
                                        <img width="10" class="img-circle" src="../Content/ProductImages/0.png" id="main-img">
                                    }
                                    </a>
								
									@*<img src="~/electro-master/img/logo.png" alt="">*@
								
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>

									@Html.DropDownList("Category", ViewBag.Category as List<SelectListItem>, "All", new { id = "Category", @class = "input-select" })
									<input class="input" placeholder="Search here">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Your Wishlist</span>
										<div class="qty">2</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										<div class="qty">3</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="~/electro-master/img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="~/electro-master/img/product02.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>3 Item(s) selected</small>
											<h5>SUBTOTAL: $2940.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">View Cart</a>
											<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

     
    <div>



        @RenderBody()





    </div>

  

  
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Dhaka , Bangladesh</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+880-1671-303 302</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>rubayet.fahad@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="#">Cameras</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Dominate Software Solution <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->



		<!-- jQuery Plugins -->
		<script src="~/electro-master/js/jquery.min.js"></script>
		<script src="~/electro-master/js/bootstrap.min.js"></script>
		<script src="~/electro-master/js/slick.min.js"></script>
		<script src="~/electro-master/js/nouislider.min.js"></script>
		<script src="~/electro-master/js/jquery.zoom.min.js"></script>
		<script src="~/electro-master/js/main.js"></script>

    @RenderSection("Scripts", required: false)
    <script>



        var shoppingCart = (function () {
            // =============================
            // Private methods and propeties
            // =============================
            cart = [];

            // Constructor
            function Item(id, name, price, count, color, brand, size) {
                this.id = id;
                this.name = name;
                this.price = price;
                this.color = color;
                this.brand = brand;
                this.size = size;

                this.count = count;
            }

            // Save cart
            function saveCart() {
                localStorage.setItem('shoppingCart', JSON.stringify(cart));
            }

            // Load cart
            function loadCart() {
                cart = JSON.parse(localStorage.getItem('shoppingCart'));
            }
            if (localStorage.getItem("shoppingCart") != null) {
                loadCart();
            }


            // =============================
            // Public methods and propeties
            // =============================
            var obj = {};

            // Add to cart
            obj.addItemToCart = function (id, name, price, count, color, brand, size) {
                //alert(count);
                for (var item in cart) {
                    if (cart[item].id === id) {
                        cart[item].count++;
                        saveCart();
                        return;
                    }
                }
                var item = new Item(id, name, price, count, color, brand, size);
                cart.push(item);
                //console.log(item);
                saveCart();
            }
            // Set count from item
            obj.setCountForItem = function (id, count) {
                for (var i in cart) {
                    if (cart[i].id === id) {
                        cart[i].count = count;
                        break;
                    }
                }
            };
            // Remove item from cart
            obj.removeItemFromCart = function (id) {
                for (var item in cart) {
                    if (cart[item].id === id) {
                        cart[item].count--;
                        if (cart[item].count === 0) {
                            cart.splice(item, 1);
                        }
                        break;
                    }
                }
                saveCart();
            }

            // Remove all items from cart
            obj.removeItemFromCartAll = function (id) {
                for (var item in cart) {
                    if (cart[item].id === id) {
                        cart.splice(item, 1);
                        break;
                    }
                }
                saveCart();
            }

            // Clear cart
            obj.clearCart = function () {
                cart = [];
                saveCart();
            }

            // Count cart
            obj.totalCount = function () {
                var totalCount = 0;
                for (var item in cart) {
                    totalCount += cart[item].count;
                }
                return totalCount;
            }

            // Total cart
            obj.totalCart = function () {
                var totalCart = 0;
                for (var item in cart) {
                    totalCart += cart[item].price * cart[item].count;
                }
                return Number(totalCart.toFixed(2));
            }

            // List cart
            obj.listCart = function () {
                var cartCopy = [];
                for (i in cart) {
                    item = cart[i];
                    itemCopy = {};
                    for (p in item) {
                        itemCopy[p] = item[p];
                    }
                    itemCopy.total = Number(item.price * item.count).toFixed(2);
                    cartCopy.push(itemCopy)
                }
                return cartCopy;
            }

            // cart : Array
            // Item : Object/Class
            // addItemToCart : Function
            // removeItemFromCart : Function
            // removeItemFromCartAll : Function
            // clearCart : Function
            // countCart : Function
            // totalCart : Function
            // listCart : Function
            // saveCart : Function
            // loadCart : Function
            return obj;
        })();


        // *****************************************
        // Triggers / Events
        // *****************************************
        // Add item
        $('.add-to-cart').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            var name = $(this).data('name');
            var price = Number($(this).data('price'));
            var color = $(this).data('color');
            var brand = $(this).data('brand');
            var size = $(this).data('size');



            shoppingCart.addItemToCart(id, name, price, 1, color, brand, size);
            displayCart();
        });

        // Clear items
        $('.clear-cart').click(function () {
            shoppingCart.clearCart();
            displayCart();
        });


        function displayCart() {
            var cartArray = shoppingCart.listCart();
            //console.log(cartArray);
            var output = "";
            for (var i in cartArray) {
                output += "<tr>"
                    + "<td class=d-none>" + cartArray[i].id + "</td>"
                    + "<td class='col col-3 p-1 text-center'>" + cartArray[i].name + "  " + cartArray[i].color + "  " + cartArray[i].size + "  " + cartArray[i].brand +"</td>"
                    + "<td class='col col-2  p-1 text-center' >" + cartArray[i].price + "</td>"
                    + "<td class='col-md-2 col-4  p-1 text-center'><div class='input-group'><button class='minus-item input-group-prepend btn btn-sm btn-primary rounded-0' data-id=" + cartArray[i].id + ">-</button>"
                    + "<input type='text' class='item-count form-control form-control-sm text-center' data-id='" + cartArray[i].id + "' value='" + cartArray[i].count + "'>"
                    + "<button class='plus-item btn btn-sm btn-primary  rounded-0 input-group-append' data-id=" + cartArray[i].id + ">+</button></div></td>"
                    + " = "
                    + "<td class='col col-2  p-1  text-center'>" + cartArray[i].total + "</td>"

                    + "<td class='col col-1  p-0 text-center'><button class='btn btn-sm delete-item btn-danger rounded-0' data-id=" + cartArray[i].id + ">X</button></td>"
                    + "</tr>";
            }
            $('.show-cart').html(output);
            $('.total-cart').html(shoppingCart.totalCart());
            $('.total-count').html(shoppingCart.totalCount());
        }

        // Delete item button

        $('.show-cart').on("click", ".delete-item", function (event) {
            var id = $(this).data('id')
            shoppingCart.removeItemFromCartAll(id);
            displayCart();
        })


        // -1
        $('.show-cart').on("click", ".minus-item", function (event) {
            var id = $(this).data('id')
            shoppingCart.removeItemFromCart(id);
            displayCart();
        })
        // +1
        $('.show-cart').on("click", ".plus-item", function (event) {
            var id = $(this).data('id')
            shoppingCart.addItemToCart(id);
            displayCart();
        })

        // Item count input
        $('.show-cart').on("change", ".item-count", function (event) {
            var id = $(this).data('id');
            var count = Number($(this).val());
            shoppingCart.setCountForItem(id, count);
            displayCart();
        });

        displayCart();


        function flyToElement(flyer, flyingTo) {
            var $func = $(this);
            var divider = 3;
            var flyerClone = $(flyer).clone();
            $(flyerClone).css({ position: 'absolute', top: $(flyer).offset().top + "px", left: $(flyer).offset().left + "px", opacity: 1, 'z-index': 1000 });
            $('body').append($(flyerClone));
            var gotoX = $(flyingTo).offset().left + ($(flyingTo).width() / 2) - ($(flyer).width() / divider) / 2;
            var gotoY = $(flyingTo).offset().top + ($(flyingTo).height() / 2) - ($(flyer).height() / divider) / 2;

            $(flyerClone).animate({
                opacity: 0.4,
                left: gotoX,
                top: gotoY,
                width: $(flyer).width() / divider,
                height: $(flyer).height() / divider
            }, 700,
                function () {
                    $(flyingTo).fadeOut('fast', function () {
                        $(flyingTo).fadeIn('fast', function () {
                            $(flyerClone).fadeOut('fast', function () {
                                $(flyerClone).remove();
                            });
                        });
                    });
                });
        }



        var table = $('#tbldetails').DataTable({
            "dom": 'T<"clear">lfrtip',
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "searching": false,
            "paging": false
            //columnDefs: [

            //    {
            //        "targets": 3,
            //        "render": function (data, type, row) {
            //            return '<input class="form-control form-control-sm SmallInput  text-center quantity" id="quantity" name="quantity" type="text" data-val="true" value=' + data + '>';
            //        }

            //    }

            //],

        });


        function Generator() { };
        Generator.prototype.rand = Math.floor(Math.random() * 26) + Date.now();
        Generator.prototype.getId = function () {
            return this.rand++;
        };


        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
            "Aug", "Sep", "Oct", "Nov", "Dec"];
        var value = new Date();
        var ret = value.getDate() + "-" + months[value.getMonth()] + "-" + value.getFullYear(); //value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();




            $("#dataSave").click(function () {
                // Step 1: Read View Data and Create JSON Object

                //alert('found');
                // Creating OrderItem Json Object
                var OrderItem = { "Id": "", "ProductId": "", "Price": "", "Quantity": "", "Amount": "", "OrdersId": "" };
                var OrdersPayment = { "Id": "", "PaymentCardNo": "", "Amount": "", "OrdersId": "","RowNo":"" };



                // Creating Orders Json Object
                var Orders = {

                    "Id": "0", "OrderCode": "", "Notes": "", "OrdersDate": "",
                    "CustomerId": "", "CustomerName": "", "PrimaryAddress": "", "SecoundaryAddress": "", "PhoneNo": "", "EmailId": "", "PostalCode": "",

                    "Status": "", "GrandTotal": "0", "DisPer": "0.00", "DisAmt": "0.00",
                    "ServiceCharge": "0.00", "Shipping": "0.00", "TotalVat": "0.00", "NetAmount": "0",

                    "Items": [],
                    "OrdersPayments" : []

                };

                var idGen = new Generator();

                // Set Home Main Value
                //Orders.Id = $("#Id").val();
                Orders.OrderCode = idGen.getId();
                Orders.OrdersDate = ret;

                //Orders.Notes = $("#Notes").val();

                Orders.CustomerId = null;//$("#Customer").val();
                Orders.CustomerName = $("#CustomerName").val();
                Orders.PrimaryAddress = $("#PrimaryAddress").val();
                Orders.Notes = $("#notes").val();


                Orders.PhoneNo = $("#PhoneNo").val() || "";
                Orders.EmailId = $("#EmailId").val();


                //Orders.City = $("#City").val();
                //Orders.PostalCode = $("#PostalCode").val();
                //Orders.SecoundaryAddress = $("#SecoundaryAddress").val();


                //Orders.Status = $("#Status").val();
                //Orders.GrandTotal = $("#GrandTotal").val();
                //Orders.DisPer = $("#DisPer").val();
                //Orders.DisAmt = $("#DisAmt").val();
                //Orders.ServiceCharge = $("#ServiceCharge").val();
                //Orders.Shipping = $("#Shipping").val();
                //Orders.TotalVat = $("#TotalVat").val();
                //Orders.NetAmount = $("#NetAmount").val();
                Orders.ComId = $("#ComId").val();
                Orders.LuserId = $("#LuserId").val();
                Orders.Notes = $("#Notes").val();


                Orders.GrandTotal = shoppingCart.totalCart();
                //Orders.TotalItem = shoppingCart.totalCount();
                Orders.Status = "Received";





                //var rows = $('#tbldetails').dataTable().fnGetNodes();
                //console.log(rows);


                ////console.log(column);

                //////Home subs data
                //var oTable = $('#tbldetails').dataTable().fnGetData();
                //console.log(oTable);

                //alert(rows[0].cells[4].children[0].value);
                //alert(oTable[0][3]);

                //console.log(shoppingCart)
                //var abcdcart = JSON.parse(localStorage.getItem('shoppingCart'));
                //console.log(abcdcart)
                //alert('wait');

                var cartArray = shoppingCart.listCart();
                var output = "";
                for (var i in cartArray) {
                    output += "<tr>"
                        + "<td class=d-none>" + cartArray[i].id + "</td>"

                    OrderItem.Id = 0;
                    OrderItem.OrdersId = 0;
                    OrderItem.ProductId = cartArray[i].id;
                    OrderItem.Price = cartArray[i].price;
                    OrderItem.Quantity = cartArray[i].count;
                    OrderItem.Amount = (cartArray[i].price * cartArray[i].count).toFixed(2);
                    OrderItem.ComId = $("#ComId").val();
                    OrderItem.LuserId = $("#LuserId").val();

                    // adding to Orders.OrderItem List Item
                    Orders.Items.push(OrderItem);

                    OrderItem = { "Id": "", "ProductId": "", "Price": "", "Quantity": "", "Amount": "", "OrdersId": "" };

                }




                //for (var i = 0; i < oTable.length; i++) {

                //    //console.log(rows[i].cells[3].children[0].children[1].value);

                //    var oTableRow = oTable[i];
                //    //alert(oTableRow);
                //    OrderItem.RowNo = i + 1;


                //    //// IF This view is for edit then it will read Id from Hidden field
                //    //if ($('h2').text() == "Invoice Edit") {
                //    //    OrderItem.OrdersId = $('#Id').val();

                //    //}
                //    //else {
                //    //    OrderItem.OrdersId = 0;
                //    //}

                //    OrderItem.Id = 0;
                //    OrderItem.OrdersId = 0;
                //    OrderItem.ProductId = oTable[i][0];
                //    OrderItem.Price = oTable[i][2];//rows[i].cells[2].children[0].value;
                //    OrderItem.Quantity = rows[i].cells[3].children[0].children[1].value;
                //    OrderItem.Amount = oTable[i][4];//rows[i].cells[3].children[0].value * rows[i].cells[4].children[0].value;
                //    OrderItem.ComId = $("#ComId").val();
                //    OrderItem.LuserId = $("#LuserId").val();

                //    // adding to Orders.OrderItem List Item
                //    Orders.Items.push(OrderItem);

                //    OrderItem = { "Id": "", "ProductId": "", "Price": "", "Quantity": "", "Amount": "", "OrdersId": "" };

                //}

                //console.log(Orders);


                //console.log(Orders);
                //var antiForgeryToken = $("input[name=Dominate_ANTIFORZERY]").val();
                $.ajax({
                    type: 'POST',

                    //url: '/Home/Create',
                    url: '@Url.Action("EcomIndex", "Home")',
                    dataType: 'json',
                    async: 'true',
                    //headers: { "X-CSRF-TOKEN-Dominate_ANTIFORZERY": antiForgeryToken },
                    // data: JSON.stringify(Orders),
                    data: { model: Orders },
                    success: function (result) {

                        if (result.Success == "1") {
                            //window.location.href = "/Home/index";


                            ///alert($("#Id").val());
                            if ($("#Id").val() > 0) {
                                toastr.warning("Order Placed Successfully.");
                                shoppingCart.clearCart();
                                displayCart();

                                var currentOrdersid = result.Id;
                                var urllink = '@Url.Action("OrdersReport", "Home", new { OrderId = "xxxx"})'.replace("xxxx", currentOrdersid);
                                window.open(urllink, '_blank');

        @*window.setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
            }, 500);*@
                                //$("#Id").val(0);

                            }
                            else {
                                toastr.success("Order Placed Successfully.");
                                shoppingCart.clearCart();
                                displayCart();
                                //$("#modalclose").trigger("Click");
                                $("#modalclose").click();
                                //$("#Id").val(0);
                                //resetData();
                                //StopSpinner(".spinnerclass");
                                var currentOrdersid = result.Id;
                                var urllink = '@Url.Action("OrdersReport", "Home", new { OrderId = "xxxx"})'.replace("xxxx", currentOrdersid);
                                window.open(urllink, '_blank');
                            }
                            //StopSpinner(".spinnerclass");

                        }
                        else {
                            alert(result.message);
                            //StopSpinner(".spinnerclass");
                        }
                    }
                });



            });


    </script>


</body>
</html>
