<aside class="left-panel">
    <!-- Navbar -->
    <nav class="navigation">
        <ul class="list-unstyled">


            <li class="@Html.IsSelected("Admin", "Index")">
                <a href="@Url.Action("Index", "Admin")"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "Shelf")">
                <a href="@Url.Action("Shelf", "Admin")"><i class="fa fa-list"></i> <span class="nav-label">Shelf</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "Category")">
                <a href="@Url.Action("Category", "Admin")"><i class="fa fa-tags" aria-hidden="true"></i> <span class="nav-label">Category</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "MedicineList")  @Html.IsSelected("Admin", "AddMedicine") @Html.IsSelected("Admin", "EditMedicine")">
                <a href="@Url.Action("MedicineList", "Admin")"><i class="fa fa-medkit" aria-hidden="true"></i> <span class="nav-label">Medicine</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "CustomerList") @Html.IsSelected("Admin", "AddCustomer") @Html.IsSelected("Admin", "EditCustomer")">
                <a href="@Url.Action("CustomerList", "Admin")"><i class="fa fa-users"></i> <span class="nav-label">Customer</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "SupplierList") @Html.IsSelected("Admin", "AddSupplier") @Html.IsSelected("Admin", "EditSupplier")">
                <a href="@Url.Action("SupplierList", "Admin")"><i class="fa fa-users"></i> <span class="nav-label">Supplier</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "PurchaseList") @Html.IsSelected("Admin", "Purchase") @Html.IsSelected("Admin", "EditPurchase")">
                <a href="@Url.Action("PurchaseList", "Admin")"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Purchase</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "StockList")">
                <a href="@Url.Action("StockList", "Admin")"><i class="fa fa-area-chart"></i> <span class="nav-label">Stock List</span></a>
            </li>
            <li class="@Html.IsSelected("Sales", "Index") @Html.IsSelected("Sales", "AddSale") @Html.IsSelected("Sales", "EditSale")">
                <a href="@Url.Action("Index", "Sales")"><i class="fa fa-paper-plane"></i> <span class="nav-label">Sales</span></a>
            </li>
            <li class="@Html.IsSelected("Admin", "StoreSetting")">
                <a href="@Url.Action("StoreSetting", "Admin")"><i class="fa fa-cog"></i> <span class="nav-label">StoreSettings</span></a>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out"></i> <span class="nav-label">Log out</span></a>
            </li>
            
        </ul>
    </nav>
    <!-- End Navbar -->
</aside>