@model IEnumerable<Atrai.Model.Core.Entity.AccountsReportModel>
@{
    ViewData["Title"] = "BusinessType List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>

    /*    button.dt-button, div.dt-button, a.dt-button {

        background-color: #3b5bd8;

    }*/


</style>



<div class="page-wrapper">
    <div class="container-fluid">

        @*

            </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h4 class="text-primary">Accounts Report List</h4>
                    </div>


                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Accounts Report", "AddAccountsReport", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                        </div>

                        <div class="table-responsive mt-1">
                            <table id="tblbusinesstype" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Tab)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Group)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReportName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ControllerName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsInActive)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsFavorite)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SerialNo)
                                        </th>




                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tab)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Group)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReportName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ControllerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsInActive)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsFavorite)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SerialNo)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditAccountsReport", "Admin", new { AccountsReportId = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteAccountsReport", "Admin", new { AccountsReportId = item.Id })" onclick="return confirm('Are you sure you want to Remove this Accounts Type?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                    <i class="bi bi-x"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>





@section scripts{
    <script type="text/javascript">

        $('#tblbusinesstype').DataTable({
            dom: 'Bflrtip',
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                { "extend": 'excel', "text": 'Excel', "className": 'btn btn-default rouned-0 btn-xs' }
            ]
        });

    </script>
}