@model Atrai.Model.Core.Entity.SupplierModel

@{
    ViewData["Title"] = "AddSupplier";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- Start Page Content -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-12 mb-3">
                <h4 class="text-primary">Supplier Information</h4>
            </div>
       
        <div class="basic-elements">
            <form asp-controller="admin" asp-action="AddSupplier" method="post">
                @if (Model != null)
                {
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CreateDate" />
                    <input type="hidden" asp-for="LuserId" />
                }
                else
                {
                    <input type="hidden" asp-for="Id" value="0" />
                }
                
                    <div class="col-md-12 col-12">
                        <div class="row">

                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Supplier Name
                                    </label>
                                    <input type="text" asp-for="SupplierName" class="form-control" placeholder="Supplier Name">
                                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Email
                                    </label>
                                    <input asp-for="Email" class="form-control" type="email" placeholder="Enter Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>




                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Phone
                                    </label>
                                    <input asp-for="Phone" class="form-control" type="tel" placeholder="Enter phone">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Notes
                                    </label>
                                    <input asp-for="Notes" class="form-control" type="text" placeholder="Enter Notes">
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        OP. Balance
                                    </label>
                                    <input asp-for="OpBalance" class="form-control" type="number" placeholder="Opening balance">
                                    <span asp-validation-for="OpBalance" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Website
                                    </label>
                                    <input asp-for="Website" class="form-control" type="text" placeholder="Enter Website">
                                    <span asp-validation-for="Website" class="text-danger"></span>
                                </div>
                            </div>
                            </div>
                            <hr />
                            <div class="row">
                            <div class="col-md-4 col-12">
                                    <div class="mb-2">
                                        <label class="form-label fw-semibold">
                                        Contact Person
                                        </label>
                                        <input asp-for="ContactPersonName" class="form-control" type="tel" placeholder="Enter Name">
                                        <span asp-validation-for="ContactPersonName" class="text-danger"></span>
                                    </div>
                                </div>


                            <div class="col-md-4 col-12">
                                    <div class="mb-2">
                                        <label class="form-label fw-semibold">
                                           Contact Person Designation
                                        </label>
                                        <input asp-for="ContactPersonDesignation" class="form-control" type="text" placeholder="Enter Designation">
                                        <span asp-validation-for="ContactPersonDesignation" class="text-danger"></span>
                                    </div>
                                </div>
                        

                
                            </div>
                            <hr />
                            <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Primary Address
                                    </label>
                                    <textarea class="form-control" asp-for="PrimaryAddress" rows="3" placeholder="Primary Address"></textarea>
                                    <span asp-validation-for="PrimaryAddress" class="text-danger"></span>
                                </div>
                            </div>





                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Secoundary Address
                                    </label>
                                    <textarea class="form-control" asp-for="SecoundaryAddress" rows="3" placeholder="Secoundary Address"></textarea>
                                    <span asp-validation-for="SecoundaryAddress" class="text-danger"></span>
                                </div>
                            </div>
                
                     


                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Supplier Commission
                                    </label>
                                    <input asp-for="SupplierCommissionPer" class="form-control" type="number" placeholder="Supplier Commission Per">
                                    <span asp-validation-for="SupplierCommissionPer" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Supplier Type
                                    </label>

                                    @Html.DropDownList("SupType", new List<SelectListItem>
                                    {
                                    new SelectListItem() {Text = "Ledger", Value="L"},
                                    new SelectListItem() {Text = "Group", Value="G"},

                                    }, new { @class = "form-control" })
                                    @Html.ValidationMessage("SupType", "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Sup Parent
                                    </label>
                                    @Html.DropDownListFor(x => x.SupParentId,new SelectList((IEnumerable<SelectListItem>)ViewBag.SupplierGroupHead, "Value", "Text"), "Select Supplier Group",htmlAttributes: new { @class = "form-control", id = "SupParentId" })
                                    @Html.ValidationMessageFor(x => x.SupParentId, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Trade License No
                                    </label>

                                    <input type="text" asp-for="TradeLicenseNo" class="form-control" placeholder="Trade License No">
                                    <span asp-validation-for="TradeLicenseNo" class="text-danger"></span>
                                </div>
                            </div>
                            </div>
                            <hr/>
             <div class="row">


                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Login Id
                                    </label>
                                    <input type="text" asp-for="LoginId" class="form-control" placeholder="Login Id">
                                    <span asp-validation-for="LoginId" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-3 col-12">
                                <div class="mb-2">
                                    <label class="form-label fw-semibold">
                                        Password
                                    </label>
                                    <input type="text" asp-for="Password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-12 mt-3 pt-3">
                                <div class="form-check mb-2">
                                    <input type="checkbox" asp-for="IsInActive" class="form-check-input">
                                    <label class="form-label fw-semibold">
                                        Is InActive
                                    </label>
                                    <span asp-validation-for="IsInActive" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-1 d-grid">
                                @if (ViewBag.ActionType == "Create")
                                {
                                    <input type="submit" value="Save" class="btn  btn-primary mb-2" />
                                }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning mb-2" />
                                }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger mb-2" type="button" onclick="Bank_delete()">Delete</button>
                                }
                            </div>
                            <div class="col-md-1 d-grid">
                                @Html.ActionLink(" ", "SupplierList", "Admin", null, new { @class = "btn btn-danger bi bi-chevron-double-left mb-2", @id = "btnBack" })
                            </div>
                            <div class="col-md-10"></div>
                       

                        </div>

                    </div>
               

            </form>
        </div>
    </div>
</div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#SupType, #SupParentId').select2({
            theme: 'bootstrap-5',
        })
</script>
}
