@model IEnumerable<Atrai.Model.Core.Entity.BrandModel>
@{
    ViewData["Title"] = "Brand List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-9 col-12">
                                <h4>Brand List</h4>
                            </div>
                            <div class="col-md-3 col-12 text-end">
                                @Html.ActionLink("Create Brand", "AddBrand", null, null, new { @class = "btn btn-sm btn-outline-info", @id = "btnBack" })
                            </div>

                        </div>

                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm display compact table-hover  table-bordered table-striped border-start text-center" cellspacing="0" width="100%">
                                <thead class="bg-light">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BrandName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BrandName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                                <a href="@Url.Action("EditBrand", "Admin", new { Brandid = item.Id })" class="bi bi-pencil text-warning pe-3">
                                            </a>
                                                <a href="@Url.Action("DeleteBrand", "Admin", new { Brandid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Brand?')" class="bi bi-trash text-danger">
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}