@model IEnumerable<Invoice.Core.Entity.CompanyPermissionModel>
@{
    ViewData["Title"] = "Company Permission List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Company Permission", "AddCompanyPermission", null, null, new { @class = "btn btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12 m1t-1">
                                <h4 style="color: #1976d2;">User Role List</h4>
                            </div>
                        </div>

                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => model.CompanyList)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserList)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CompanyList.CompanyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserList.Name)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditCompanyPermission", "Admin", new { CompanyPermissionid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteCompanyPermission", "Admin", new { CompanyPermissionid = item.Id })" onclick="return confirm('Are you sure you want to Remove this CompanyPermission?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}