@using Microsoft.AspNetCore.Http
@using Atrai.Core.Common
@inject IHttpContextAccessor HttpContextAccessor
@inject clsProcedure clsproc

@model IEnumerable<Atrai.Controllers.AdminController.ProductLedgerViewModel>
@{
    ViewData["Title"] = "Ledger";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    var comimagepath = @HttpContextAccessor.HttpContext.Session.GetString("comImagePath");
    var IsLogo = 1;

    var ttlquantity = Convert.ToDecimal(@Model.Sum(x => Convert.ToDecimal(x.Quantity)));
    var ttlamount = Convert.ToDecimal(@Model.Sum(x => Convert.ToDecimal(x.Amount)));
    var ttlbalance = 0.00;
    var finalamount = 0.00;

}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>

    @*<link rel="shortcut icon" href="http://www.unibuildltd.com/Images/favicon.ico">
        <script src="./ReportLedgerBook_files/jquery-2.1.3.js.download" type="text/javascript"></script>
        <script src="./ReportLedgerBook_files/jquery-ui.js.download" type="text/javascript"></script>*@

    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>

    <style media="print">
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }

    </style>

        <style media="print">
        
     @@media print {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
           float: left;               
      }

      .col-md-12 {
           width: 100%;
      }

      .col-md-11 {
           width: 91.66666666666666%;
      }

      .col-md-10 {
           width: 83.33333333333334%;
      }

      .col-md-9 {
            width: 75%;
      }

      .col-md-8 {
            width: 66.66666666666666%;
      }

       .col-md-7 {
            width: 58.333333333333336%;
       }

       .col-md-6 {
            width: 50%;
       }

       .col-md-5 {
            width: 41.66666666666667%;
       }

       .col-md-4 {
            width: 33.33333333333333%;
       }


       .col-md-3 {
            width: 25%;
       }
       .col-md-2 {
            width: 16.666666666666666%;
       }
       .col-md-1 {
            width: 8.33333333333333%;
       }

           
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }
        }


    </style>


    <style type="text/css">
      

        .table th, .table td {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-left: 0.40rem;
          padding-right: 0.40rem;
        }

        a {
          color: #000;
          text-decoration: none;
          background-color: transparent;
        }



        .whitespaceprewrap{
        white-space:pre-wrap;
        }


        .table-hover tbody tr:hover {
          color: #1c5b99;
          font-size:14px!important;
          font-weight:bold;
        }

    </style>
</head>
<body>

        <h3>
        @{
            System.Globalization.CultureInfo BDFormat = new System.Globalization.CultureInfo("hi-IN");
        }

    </h3>




    <div id="main">
        <div class="container">
            <form> 

                @if (Model.Count() > 0)
                {
                    if (IsLogo == 1)
                    {
                        <div class="row">

                            <div class="col-md-2 col-2">
                                @if (@comimagepath != null)
                                {
                                    <img  class="center img-fluid" style="max-height:120px;" src="..@comimagepath" onerror="this.onerror=null; this.src='.@comimagepath'" alt="" id="main-img">
                                }
                                else
                                {
                                    <h2 class="text-left m-0">@Model.FirstOrDefault().ComName</h2>
                                }
                            </div>
                            <div class="col-md-10 col-10">
                                <div class="row">     
                                    <div class="col-md-12 col-10">
                                        <h3 class="text-left">@Model.FirstOrDefault().ComName</h3>
                                    </div>
                                    <div class="col-md-12 text-left">
                                        <span>
                                            @Model.FirstOrDefault().ComAddress
                                        </span>
                                        <span class="float-right">
                                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                                        </span>
                                    </div>
                                    <div class="col-md-12 text-left">
                                        <h5>@Model.FirstOrDefault().ReportCaption</h5>
                                    </div>
                                    <div class="col-md-12 d-inline">
                                        <h4> @Model.FirstOrDefault().Category 
                                            @Model.FirstOrDefault().Code
                                            @Model.FirstOrDefault().Name
                                        </h4> 

                                        @Model.FirstOrDefault().ReportCaptionSmall  
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12 col-12 text-center">
                                @if (@comimagepath != null)
                                {
                                    <img  class="center img-fluid" style="max-height:120px;" src="..@comimagepath" onerror="this.onerror=null; this.src='.@comimagepath'" alt="" id="main-img">

                                }
                                else
                                {
                                    <h2 class="text-center m-0">@Model.FirstOrDefault().ComName</h2>

                                }
                            </div>

                            <div class="col-md-12 text-center">
                                <span>
                                    @Model.FirstOrDefault().ComAddress
                                </span>
                                <span class="float-right">
                                    <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                                </span>
                            </div>
                            <div class="col-md-12 text-center">
                                <h5>Ledger Details Report || @Model.FirstOrDefault().ReportCaption</h5>
                            </div>
                            <div class="col-md-12">
                                @Model.FirstOrDefault().ReportCaptionSmall
                            </div>
                        </div>
                    }




                 @*   <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 border border-dark">
                                GL NAME
                            </div>
                            <div class="col-md-4 border border-dark">
                                GL NAME
                            </div>
                            <div class="col-md-4 border border-dark">
                                GL TYPE
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4 border border-dark">
                            </div>
                            <div class="col-md-4 border border-dark">
                                @Model.FirstOrDefault().ReportCaption
                            </div>
                            <div class="col-md-4 border border-dark">
                                Subsidiary Ledger
                            </div>
                        </div>
                        <div class="row my-2 text-center">
                            <div class="col-md-3 border border-dark">
                                <h6>OP. Balance :  @(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlopbalance)))</h6>
                            </div>
                            <div class="col-md-3 border border-dark">
                                <h6>Total Dr :  @(String.Format(BDFormat, "{0:N}", ttldebit))</h6>
                            </div>
                            <div class="col-md-3 border border-dark">
                                <h6>Total Cr :  @(String.Format(BDFormat, "{0:N}", -ttlcredit))</h6>
                            </div>
                            <div class="col-md-3 border border-dark">
                                <h6>CL. Balance : @(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlFinalAmount))) </h6>
                            </div>
                        </div>
                    </div>*@
                    <table class="table table-bordered table-hover table-striped" width="100%">
                        <thead>
                            <tr class="text-center">
                                
                                <th class="align-middle">Date</th>
                                <th class="align-middle">Code</th>
                                <th class="align-middle">Type</th>
                                <th class="align-middle">Referance</th>
                                <th class="align-middle">Price</th>


                                <th class="align-middle">Warehouse</th>
                                <th class="align-middle">Qty</th>
                                <th class="align-middle">Cumula. Bal.</th>

                                <th class="align-middle">Amount</th>
                                <th class="align-middle">Cumul. Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                //decimal cumulativefigure = 0;
                                foreach (var item in Model)
                                {
                                    var indbalance =  Convert.ToDouble(item.Quantity);
                                    var ttlindamount =  Convert.ToDouble(item.Amount);


                                    ttlbalance = ttlbalance+indbalance;
                                    finalamount = finalamount+ttlindamount;


                                    <tr style="font-family:Arial Narrow;font-size:14.5px;">
                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                                        
                                        <td>
                                        @if (item.SalesId != null || item.PurchaseId != null )
                                            {
                                                @* || item.SalesReturnId != null || item.SalesExchangeId != null || item.IssueId != null || item.DamageId != null || item.PurchaseReturnId != null *@
                                                if (item.SalesId != null)
                                                {
                                                    @Html.ActionLink(item.DisplayCode + "", "InvoiceViewReport","Sales" , new { saleId = item.SalesId, type = "pdf" }, new { @target = "_blank" , title="Go To Sales"})
                                                }
                                                else if (item.PurchaseId != null)
                                                {
                                                    @Html.ActionLink(item.DisplayCode + "", "PurchaseInvoiceViewReport","Purchase" , new { PurchaseId = item.PurchaseId, type = "pdf" }, new { @target = "_blank" , title="Go To Purchase" })
                                                }
                                                else if (item.SalesReturnId != null)
                                                {
                                                    @Html.ActionLink(item.DisplayCode + "", "PurchaseInvoiceViewReport","Purchase" , new { PurchaseId = item.PurchaseId, type = "pdf" }, new { @target = "_blank" , title="Go To Purchase" })
                                                }
                                                else if (item.SalesExchangeId != null)
                                                {
                                                    @Html.ActionLink(item.DisplayCode + "", "PurchaseInvoiceViewReport","Purchase" , new { PurchaseId = item.PurchaseId, type = "pdf" }, new { @target = "_blank" , title="Go To Purchase" })
                                                }
                                            }
                                            else
                                            {
                                              @Html.DisplayFor(modelItem => item.DisplayCode)
                                            }
                                        </td>
                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.DocType)</td>
                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.RefName)</td>
                                        @*<td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.Category)</td>
                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.Code)</td>
                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.Name)</td>*@
                                        <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.Price)))</td>

                                        <td class="whitespaceprewrap">@Html.DisplayFor(modelItem => item.WarehouseName)</td>
                                        <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.Quantity)))</td>
                                        <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlbalance)))</td>

                                        <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.Amount)))</td>
                                        <td class="text-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(finalamount)))</td>

                                    </tr>

                                }
                            }

                        </tbody>
                        <tfoot>
                            @{
                            <tr class="text-right font-weight-bold">
                                <td colspan="6"><h6>Total (Transaction) :</h6></td>
                              
                                <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlquantity)))</td>
                                <td></td>
                                <td>@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlamount))) </td>


                            </tr>

                            }
                        </tfoot>
                    </table>
                }
            </form>

            </div>
        </div>


</body>
</html>