@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Atrai.Model.Core.ViewModel.SummaryViewModel
@{
    ViewData["Title"] = "Summary View";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    //var profitpermission  = @HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    var permission = false;
    var UserRole = @HttpContextAccessor.HttpContext.Session.GetString("UserRole").ToString().ToLower();
    //alert(UserRole);
    //alert(permission);
    if (UserRole.Contains("admin")) { permission = true; };

}
<style>
    .textmenu{
        height:225px;
    }
</style>

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Dashboard</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>
</div>
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-12 d-flex">
                    <div class="card radius-10 w-100">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                            <a href="@Url.Action("AddSaleBySerialSearch", "Sales")">
                                            <div class="widget-icon mx-auto mb-3 bg-tiffany text-white">
                                                <i class="bi bi-file-earmark-break-fill"></i>
                                            </div>

                                            <p class="mb-0">
                                                Sales
                                            </p>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                             <a href="@Url.Action("AddPurchaseBatch", "Purchase")">
                                            <div class="widget-icon mx-auto mb-3 bg-danger text-white">
                                                <i class="bi bi-chat-left-quote-fill"></i>
                                            </div>
                                            <p class="mb-0">
                                               Purchase
                                            </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                             <a href="@Url.Action("AddTransaction", "Admin",  new { Type = "Customer" })">
                                            <div class="widget-icon mx-auto mb-3 bg-success text-white">
                                                <i class="bi bi-people-fill"></i>
                                            </div>

                                            <p class="mb-0">
                                               Collection
                                            </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                             <a href="@Url.Action("AddTransaction", "Admin", new { Type = "Paid" })">
                                            <div class="widget-icon mx-auto mb-3 bg-pink text-white">
                                                <i class="bi bi-file-earmark-check-fill"></i>
                                            </div>
                                            <p class="mb-0">
                                               Payment
                                            </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                             <a href="@Url.Action("Index", "Admin")">
                                            <div class="widget-icon mx-auto mb-3 bg-purple text-white">
                                                <i class="bi bi-tags-fill"></i>
                                            </div>

                                            <p class="mb-0">
                                               Summary
                                            </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card radius-10 mb-0 border shadow-none">
                                        <div class="card-body text-center">
                                            <a href="@Url.Action("PostDocument", "Admin")">
                                            <div class="widget-icon mx-auto mb-3 bg-danger text-white">
                                                <i class="bi bi-hdd-fill"></i>
                                            </div>

                                            <p class="mb-0">
                                                Post
                                            </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--end row-->

    <!-- End Bread crumb -->
        <!-- Start Page Content -->
                <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-4 mt-2">Overall Summary</h4>
                    </div>
                </div>
                 
                <div class="row my-2">
                    <div class="col-md-4 col-12">
                        <div class="mb-2">
                            @Html.DropDownList("Warehouse", ViewBag.Warehouse as List<SelectListItem>,  new { id = "WarehouseId", @class = "form-select" })
                        </div>
                    </div>
                    @Html.Hidden("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "From Date", @autocomplete = "off", name = "FromDate" })
                    @Html.Hidden("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "To Date", @autocomplete = "off", name = "ToDate" })

                    <div class="col-md-4 col-12">
                            <div class="input-group mb-2 divHiddenItems">
                                <input type="text" class="form-control" name="date" id="daterange-btn" >
                                <button id='btnDec' type="button" class="btn btn-danger rounded-0" title='Decrement month'><i class="bi bi-calendar-minus" aria-hidden="true"></i></button>
                                <button id='btnInc' type="button" class="btn btn-primary  rounded-0" title='Increment month'><i class="bi bi-calendar-plus" aria-hidden="true"></i></button>
                            </div>
                    </div>



                    @*                    <div class=" col-md-3 col-12">
                    <div class="row mt-md-1">
                    <label for="formdate" class="col-sm-4">From date</label>
                    <div class="col-sm-8">
                    <input id="dtfromdateall" name="dtfromdate" type="text" class="form-control form-control-sm text-center FromDate" value="@ViewBag.FromDate">
                    </div>
                    </div>
                    </div>
                    <div class=" col-md-3 col-12">
                    <div class="row mt-md-1">
                    <label for="todate" class="col-sm-4">To date </label>
                    <div class="col-sm-8">
                    <input id="dttodateall" name="dttodate" style="background-color:white;" type="text" class="form-control form-control-sm text-center ToDate" value="@ViewBag.ToDate">
                    </div>
                    </div>
                    </div>*@
                    <div class="col-md-1 col-6 text-end">
                        <button id="btnloadall" type="button" class="btn btn-success">Load</button>
                    </div>
                    @*                                    <div class="col-md-1 col-12">
                    <input id="btnloadall" type="button" class="btn btn-sm btn-primary btn-block rounded-0" value="Report">
                    </div>*@

                    <div class="col-md-1 col-6">
                        @{
                            if (permission == true)
                            {
                                <button class="btn btn-primary" type="button" onclick="ReportPrint('StoreSummaryDateWise')">Report</button>
                            }
                        }
                    </div>
                </div>
                @*<p class="card-category">New employees on 15th September, 2016</p>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Daily Sales Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">
                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>

                                        <tr>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Total Count</th>
                                            <th>Items Qty</th>
                                            <th>Total Amount</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in @Model.DayWiseSales.OrderBy(x => DateTime.Parse(x.SalesDate)))
                                        {
                                            <tr>
                                                <td>@item.SalesType</td>
                                                <td>@item.SalesDate</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.SalesCount)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.SalesQty)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TotalSalesAmount)</td>
                                            </tr>
                                        }
                                        @*                                        @foreach (var item in @Model.DayWiseSalesReturn)
                                        {
                                        <tr>
                                        <td>Exchange / Return</td>
                                        <td>@item.SalesReturnDate</td>
                                        <td>@String.Format("{0:#,##0.00}",@item.SalesReturnCount)</td>
                                        <td>@String.Format("{0:#,##0.00}",@item.TotalSalesReturnAmount)</td>
                                        </tr>
                                        }*@
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                            <td colspan="2">Total </td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWiseSales.Sum(x=>x.SalesCount))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWiseSales.Sum(x=>x.SalesQty))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWiseSales.Sum(x=>x.TotalSalesAmount))</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <h5>Daily Purchase Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">

                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Total Count</th>
                                            <th>Items Qty</th>
                                            <th>Total Amount</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in @Model.DayWisePurchase)
                                        {
                                            <tr>
                                                <td>@item.PurchaseDate</td>
                                                <td>@item.PurchaseType</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.PurchaseCount)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.PurchaseQty)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TotalPurchaseAmount)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                            <td colspan="2">Total </td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWisePurchase.Sum(x=>x.PurchaseCount))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWisePurchase.Sum(x=>x.PurchaseQty))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWisePurchase.Sum(x=>x.TotalPurchaseAmount))</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Cash and Bank Balance</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">
                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Head</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in @Model.AccountHeadBalance)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ActionLink(item.AccName + "", "AccountsLedgerViewReport","Admin" , new { ReferanceId = item.Id,dtFrom = DateTime.Now.Date.ToString("dd-MMM-yy"),dtTo = DateTime.Now.Date.ToString("dd-MMM-yy"), type = "Asset" }, new { @target = "_blank" , title="View Ledger"})
                                                </td>
                                                <td>@item.AccountCategory</td>
                                                <td>@item.AccType</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.AccountBalance)</td>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                          
                                            <td colspan="3">Total Amount</td>
                                            <td>@String.Format("{0:#,##0.00}", @Model.AccountHeadBalance.Sum(x=>x.AccountBalance))</td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>





                @{

                    if (permission == true)
                    {
                        <div class="col-md-6">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Income Summary</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive textmenu">
                                        <table class="table table-sm table-striped table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Head</th>
                                                    <th>Income</th>
                                                    <th>Expense</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.DayWiseIncome)
                                                {
                                                    <tr>
                                                        <td>@item.AccName</td>
                                                        <td>@String.Format("{0:#,##0.00}",@item.TransactionAmount)</td>
                                                        <td>@String.Format("{0:#,##0.00}",@item.TransactionExpenseAmount)</td>

                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr class="fw-bold text-center">
                                                    <td>Total Paid / Received :</td>
                                                    <td>@String.Format("{0:#,##0.00}",@Model.DayWiseIncome.Sum(x=>x.TransactionAmount))</td>
                                                    <td>@String.Format("{0:#,##0.00}",@Model.DayWiseIncome.Sum(x=>x.TransactionExpenseAmount))</td>
                                                </tr>
                                                <tr class="h5 text-center">
                                                    @if (@Model.DayWiseIncome.Sum(x => x.TransactionAmount) - @Model.DayWiseIncome.Sum(x => x.TransactionExpenseAmount) > 0)
                                                    {
                                                        <td class="text-success">Total Profit</td>
                                                        <td colspan="2" class="text-success text-right">@String.Format("{0:#,##0.00}",@Model.DayWiseIncome.Sum(x=>x.TransactionAmount) - @Model.DayWiseIncome.Sum(x=>x.TransactionExpenseAmount))</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-danger">Total Loss</td>
                                                        <td colspan="2" class="text-danger text-right">@String.Format("{0:#,##0.00}",@Model.DayWiseIncome.Sum(x=>x.TransactionAmount) - @Model.DayWiseIncome.Sum(x=>x.TransactionExpenseAmount))</td>
                                                    }
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }
                }


                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <h5>Received Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">

                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Head</th>
                                            <th>Amount</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in @Model.DayWiseReceived)
                                        {
                                            <tr>
                                                <td>@item.AccName</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TransactionAmount)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                            <td>Total Received</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWiseReceived.Sum(x=>x.TransactionAmount))</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>


                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <h5>Customer Due Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">

                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>

                                        <tr>
                                            <th>Name</th>
                                            <th>Sales</th>
                                            <th>Received</th>
                                            <th>Due</th>



                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in @Model.CustomerWiseDue)
                                        {
                                            <tr>
                                                <td>@item.CustomerName</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TotalSales)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TotalReceived)</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TotalDue)</td>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                            <td>Total Due</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.CustomerWiseDue.Sum(x=>x.TotalSales))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.CustomerWiseDue.Sum(x=>x.TotalReceived))</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.CustomerWiseDue.Sum(x=>x.TotalDue))</td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>

                @if (permission == true)
                {
                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
                                <h5>Supplier Due Summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive textmenu">

                                    <table class="table table-sm table-striped table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Purchase</th>
                                                <th>Paid</th>
                                                <th>Due</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in @Model.SupplierWiseDue)
                                            {
                                                <tr>
                                                    <td>@item.SupplierName</td>
                                                    <td>@String.Format("{0:#,##0.00}",@item.TotalPurchase)</td>
                                                    <td>@String.Format("{0:#,##0.00}",@item.TotalPaid)</td>
                                                    <td>@String.Format("{0:#,##0.00}",@item.TotalDue)</td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="fw-bold text-center">
                                                <td>Total Due</td>
                                                <td>@String.Format("{0:#,##0.00}", @Model.SupplierWiseDue.Sum(x=>x.TotalPurchase))</td>
                                                <td>@String.Format("{0:#,##0.00}", @Model.SupplierWiseDue.Sum(x=>x.TotalPaid))</td>
                                                <td>@String.Format("{0:#,##0.00}", @Model.SupplierWiseDue.Sum(x=>x.TotalDue))</td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>


                            </div>

                        </div>
                    </div>
                }
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Paid Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive textmenu">

                                <table class="table table-sm table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Head</th>
                                            <th>Amount</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in @Model.DayWisePaid)
                                        {
                                            <tr>
                                                <td>@item.AccName</td>
                                                <td>@String.Format("{0:#,##0.00}",@item.TransactionAmount)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="fw-bold text-center">
                                            <td>Total Paid</td>
                                            <td>@String.Format("{0:#,##0.00}",@Model.DayWisePaid.Sum(x=>x.TransactionAmount))</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>


                @if (permission == true)
                {
                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
                                <h5>Asset Summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive textmenu">

                                    <table class="table table-sm table-striped table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Head</th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th>Balance</th>



                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in @Model.AssetBalance)
                                            {
                                                <tr>
                                                    <td>@item.AccName</td>
                                                    <td>@item.AccountCategory</td>
                                                    <td>@item.AccType</td>
                                                    <td>@String.Format("{0:#,##0.00}",@item.AccountBalance)</td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="fw-bold text-center">
                                               
                                                <td colspan="3">Total Amount</td>
                                                <td>@String.Format("{0:#,##0.00}", @Model.AssetBalance.Sum(x=>x.AccountBalance))</td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>


                            </div>

                        </div>
                    </div>
                }


                @if (permission == true)
                {
                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
                                <h5>Liability Summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive textmenu">

                                    <table class="table table-sm table-striped table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Head</th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th>Balance</th>



                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in @Model.LiabilityBalance)
                                            {
                                                <tr>
                                                    <td>@item.AccName</td>
                                                    <td>@item.AccountCategory</td>
                                                    <td>@item.AccType</td>
                                                    <td>@String.Format("{0:#,##0.00}",-@item.AccountBalance)</td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="fw-bold text-center">
                                                <td colspan="3">Total Amount</td>
                                                <td>@String.Format("{0:#,##0.00}", -@Model.LiabilityBalance.Sum(x=>x.AccountBalance))</td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>


                            </div>

                        </div>
                    </div>

                }
            </div>
            </div>
        </div>






@section Scripts{


    <script type="text/javascript">

        function ReportPrint(btnvalue) {

            //var peopleList = $('#tbllist').DataTable();
            //var rows = peopleList.rows('.selected').data();

            //var CustomerId = $('#CustomerId').val();
            //var UserId = $('#UserId').val();
            //var WarehouseId = $('#WarehouseId').val();
            //var CategoryId = $('#CategoryId').val();

            //var Status = $('#Status').val();


            //var reporttype = $("input[name=RptType]:checked").val();
            var FromDate = $(".FromDate").val();
            var ToDate = $(".ToDate").val();



            $.ajax({
                type: 'POST',
                url: '@Url.Action("AllSalesReport", "Sales")',
                dataType: 'json',
                async: true,
                data: { action: btnvalue, FromDate: FromDate, ToDate: ToDate },
                success: function(response) {
                    //console.log(response.Url)
                    window.open(response.Url, '_blank')
                },
                error: function(ex) {
                    alert('Failed.' + ex);
                }

            });


        }


        $(document).ready(function() {
            var viewbagwarehouseid = parseInt(@ViewBag.WarehouseId);
            //alert(@ViewBag.WarehouseId);
            $('#WarehouseId').val(@ViewBag.WarehouseId);

            $("#btnloadall").click(function() {
                var dtfromdateall = $('#FromDate').val();
                var dttodateall = $('#ToDate').val();
                var warehouseid = $('#WarehouseId').val();

                window.location.href = `?FromDate=${dtfromdateall}&ToDate=${dttodateall}&WarehouseId=${warehouseid}`
            });

        });


                           //  function CurrentDate() {
                           //    var date = new Date();
                           //    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                           //        "Aug", "Sep", "Oct", "Nov", "Dec"];
                           //    var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();


                           //    if ($("#dtfromdate").val() == '') {
                           //        $("#dtfromdate").val(val);
                           //    }
                           //    if ($("#dttodate").val() == '') {
                           //        $("#dttodate").val(val);
                           //    }


                           //}
                           //CurrentDate();


                          //$("#dtfromdate,#dttodate,#dtfromdateall,#dttodateall").datepicker({
                          // onSelect: function (date) {
                          //     // Your CSS changes, just in case you still need them
                          //     $('a.ui-state-default').removeClass('ui-state-highlight');
                          //     $(this).addClass('ui-state-highlight');

                          //     //var dateFormat = $("#LCOpenDate").datepicker("option", "dateFormat");
                          //     ////setter
                          //     //$("#LCOpenDate").datepicker("option", "dateFormat", 'dd-M-yy');
                          // }
                          // ,
                          // dateFormat: "dd-M-yy",
                          // changeMonth: true,
                          // changeYear: true
                          // });


    </script>
    }
