@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Atrai.Core.ViewModel.CustomerLoginViewModel
@{ 
    string weburl = HttpContextAccessor.HttpContext.Session.GetString("weburl");
    ViewData["Title"] = "Customer Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    }



<div class="container pt-5 mt-5">
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-12">
                <div class="card">
                    <div class="card-header">

                        <div class="form-group row my-0">
                            <div class="col-md-9">

                                @*id="styletext"*@

                                <h2 class="text-left text-purple" >
                                   Customer Login
                                </h2>
                            </div>
                            <div class="col-md-3 text-right">
                                @if (@ViewBag.comImagePath != null)
                                {
                    <img width="60" class="img-circle" src="..@ViewBag.comImagePath" onerror="this.style.display='none'" id="main-img"> }
                                else
                                {
                    <img width="10" class="img-circle" src="../Content/ProductImages/0.png" id="main-img">}
                            </div>


                        </div>

                    </div>
                    <div class="card-body">


                        @*<hr />*@
                        @if (TempData["UserLoginFailed"] != null)
                        {
                        <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>}
                        <form asp-action="CustomerLogin" asp-controller="Home" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="PhoneNo" class="control-label"></label>
                                @*@ViewBag.comImagePath*@
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Login" class="btn btn-default btn-success btn-block" />
                            </div>

                        </form>
                    </div>
                    <div class="card-footer">

                        @if (weburl.ToLower().Contains("w2u.io"))
                        {
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="@Url.Action("signupurl")" class="ml-2">Sign Up</a>
                    </div> }
                @*else
                {
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="@Url.Action("signup")" class="ml-2">Sign Up</a>
                    </div>
                }
                        <div class="d-flex justify-content-center links">
                            Forget Password ? <a href="@Url.Action("ForgetPassword")" class="ml-2">Password Recovery</a>
                        </div>*@
                        <div class="d-flex justify-content-center links" style="color:red">
                           Need Support 24/7 ? Hotline : 01709-383003 
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>



