@*@model IEnumerable<Atrai.Core.Entity.SalesModel>*@
@{
    ViewData["Title"] = "Serial Product History List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


    <link href="~/AdminEla/Assets/css/style_Dashboard.css" rel="stylesheet">



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        @Html.Hidden("FromDate", null, new { @class = "form-control text-center FromDate", @placeholder = "From Date", @autocomplete = "off", name = "FromDate" })
                        @Html.Hidden("ToDate", null, new { @class = "form-control text-center ToDate", @placeholder = "To Date", @autocomplete = "off", name = "ToDate" })

                        <div class="row mb-2">
                            <div class="col-md-4 col-12 mt-1">
                                <h4 style="color: #1976d2;">Sales Details List</h4>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">



                        <div class="p-2 mb-1">
                            <div class="row">


                                                                <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                        @Html.DropDownList("Customers", ViewBag.Customers as List<SelectListItem>, "Select Customers", new { id = "CustomerId", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                        @Html.DropDownList("Users", ViewBag.Users as List<SelectListItem>, "Select Sales User", new { id = "UserId", @class = "form-control form-control-sm" })
                                    </div>
                                </div>



                                <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                        @Html.DropDownList("Warehouse", ViewBag.Warehouse as List<SelectListItem>, "Select Location", new { id = "WarehouseId", @class = "form-control form-control-sm" })
                                    </div>
                                </div>


                                <div class="col-md-3 col-12">
                                    @Html.DropDownList("Status", new List<SelectListItem>
                                    {
                                    new SelectListItem() {Text = "All Sales", Value="All"},
                                    new SelectListItem() {Text = "Due", Value="Due"},
                                    new SelectListItem() {Text = "Date Wise Due", Value="Date Wise Due"},
                                    new SelectListItem() {Text = "Cash Discount", Value="Cash Discount"},
                                    new SelectListItem() {Text = "Date Wise Cash Discount", Value="Date Wise Discount"},
                                    new SelectListItem() {Text = "Missing Head", Value="Missing Head"}
                                    }, new { @class = "form-control form-control-sm" })
                                </div>

                                                                <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                        @Html.DropDownList("Category", ViewBag.Category as List<SelectListItem>, "Select Category", new { id = "CategoryId", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                                         <div class="col-md-2 col-12">
                                    <div class="input-group mb-2">
                                        @*<input type="text" id="myInput" class="form-control form-control-sm" onmouseover="this.focus();" placeholder="On Page Filtering / Search." title="Search Item">*@
                                        @Html.DropDownList("DocType", ViewBag.DocType as List<SelectListItem>, "Select Type", new { id = "DocTypeId", @class = "form-control form-control-sm" })

                                    </div>
                                </div>
                                 <div class="col-md-3 col-12">
                                    <div class="input-group mb-2">
                                        @Html.DropDownList("SalesRep", ViewBag.SalesRep as List<SelectListItem>, "Select SR", new { id = "SalesRepId", @class = "form-control form-control-sm" })
                                    </div>
                                </div>


                                <div class="col-md-4 col-12  mb-2">
                                    <div class="form-inline divHiddenItems">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" name="date" id="daterange-btn" style="width: auto;">
                                            <button id='btnDec' type="button" class="btn btn-danger rounded-0" title='Decrement month'><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></button>
                                            <button id='btnInc' type="button" class="btn btn-info  rounded-0" title='Increment month'><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>
                                        </div>
                                        @*<span type="button" class="btn btn-sm btn-outline-info" id="daterange-btn">

                                        <i class="fa fa-calendar"></i>&nbsp; <span>defaut date</span>

                                        <i class="fa fa-caret-down"></i>
                                        </span>
                                        <input id="daterange-btn" size="40" value="">*@
                                    </div>
                                </div>
                                @*                                <div class="col-md-3 col-12">
                                <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                <span class="input-group-text py-0">
                                <label for="FDate">From Date</label>
                                </span>
                                </div>
                                @Html.TextBox("FromDate", null, new { @class = "form-control form-control-sm text-center FromDate", @placeholder = "Select From Date ", @autocomplete = "off", name = "FromDate" })
                                </div>
                                </div>
                                <div class="col-md-3 col-12">
                                <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                <span class="input-group-text py-0">
                                <label for="TDate">To Date</label>
                                </span>
                                </div>
                                @Html.TextBox("ToDate", null, new { @class = "form-control form-control-sm text-center ToDate", @placeholder = "Select To Date ", @autocomplete = "off", name = "ToDate" })
                                </div>
                                </div>*@
                                @*                                <div class="col-md-3 col-12">
                                <label class="pr-2"><input type="radio" name="RptType" value="PDF" checked="checked" /> PDF  </label>
                                <label class="pr-2"><input type="radio" name="RptType" value="EXCEL" /> EXCEL  </label>
                                <label class="pr-2"><input type="radio" name="RptType" value="WORD" /> WORD  </label>

                                </div>*@

                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="saleslist" class="table table-bordered table-striped text-nowrap table-hover"  width="100%">
                            </table>
                        </div>

                       <div class="table-responsive">
                          
                                            <table id="salesReturnlist" class="table table-bordered table-striped text-nowrap table-hover"  width="100%">
                            </table>
                        </div>

                        

                        <div class="row row-cards-one">
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg1">
                                    <div class="left">
                                        <h5 class="title">Total Sales! </h5>
                                        <span id="totalsalesvalue" class="number">00</span>
                                        @*<a href="https://royalscripts.com/product/ecommerce/admin/orders/pending" class="link">View All</a>*@
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                             <i class="fa fa-dollar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg2">
                                    <div class="left">
                                        <h5 class="title">Total Cost!</h5>
                                        <span id="totalcostvalue" class="number">00</span>
                                        @*<a href="https://royalscripts.com/product/ecommerce/admin/orders/processing" class="link">View All</a>*@
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                             <i class="fa fa-dollar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg3">
                                    <div class="left">
                                        <h5 class="title">Total Profit!</h5>
                                        <span id="totalprofitvalue" class="number">00</span>
                                        @*<a href="https://royalscripts.com/product/ecommerce/admin/orders/completed" class="link">View All</a>*@
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                            <i class="fa fa-dollar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              @*   <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg4">
                                    <div class="left">
                                        <h5 class="title">Total Products!</h5>
                                        <span class="number">27</span>
                                        <a href="https://royalscripts.com/product/ecommerce/admin/products" class="link">View All</a>
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                            <i class="icofont-cart-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg5">
                                    <div class="left">
                                        <h5 class="title">Total Customers!</h5>
                                        <span class="number">49</span>
                                        <a href="https://royalscripts.com/product/ecommerce/admin/users" class="link">View All</a>
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                            <i class="icofont-users-alt-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mycard bg6">
                                    <div class="left">
                                        <h5 class="title">Total Posts!</h5>
                                        <span class="number">15</span>
                                        <a href="https://royalscripts.com/product/ecommerce/admin/blog" class="link">View All</a>
                                    </div>
                                    <div class="right d-flex align-self-center">
                                        <div class="icon">
                                            <i class="icofont-newspaper"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        </div>



                        <div class="p-2 mb-2 animated slideInRight">
                            <div class="row">
                                @*<div class="col-md-3 col-12">
                                </div>*@


                                <div class="col-md-3 col-12">


                                    <div id="divfullinfoone" class="card-dashboard P-15 mt-3" style="background:antiquewhite">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-user fontshadow f-s-40 color-success"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>User Wise Sales</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfoone" class="m-b-0"></p>
                                        </div>
                                    </div>
                                    <div id="divfullinfofour" class="card-dashboard P-15 mt-3" style="background:lavender">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-money fontshadow f-s-40 color-primary"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>User Wise Commission</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfofour" class="m-b-0"></p>
                                        </div>
                                    </div>
                                    <div id="divfullinfoeight" class="card-dashboard P-15 mt-3" style="background:aliceblue">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-copy fontshadow f-s-40 font-color-7"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Post / Unpost Sales</h5>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfoeight" class="m-b-0"></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3 col-12">

                                    <div id="divfullinfotwo" class="card-dashboard P-15 mt-3" style="background:beige">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-calendar fontshadow f-s-40 color-info"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Date Wise Sales</h5>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfotwo" class="m-b-0"></p>
                                        </div>
                                    </div>

                                    <div id="divfullinfonine" class="card-dashboard P-15 mt-3" style="background:ivory">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-cubes fontshadow f-s-40 color-primary"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Top Selling Category</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfonine" class="m-b-0"></p>
                                        </div>
                                    </div>

                                </div>
                                <div id="divfullinfothree" class="col">

                                    <div class="card-dashboard P-15 mt-3" style="background:seashell">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-sitemap fontshadow f-s-40 color-warning"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Receive By Head</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfothree" class="m-b-0"></p>
                                        </div>
                                    </div>



                                    <div id="divfullinfoseven" class="card-dashboard P-15 mt-3" style="background:honeydew">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-users fontshadow f-s-40 color-info"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Top Selling Customer</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfoseven" class="m-b-0"></p>
                                        </div>
                                    </div>

                                    <div id="divfullinfosix" class="card-dashboard P-15 mt-3" style="background:ivory">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-usd fontshadow f-s-40 color-danger"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Top Due Customer</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfosix" class="m-b-0"></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3 col-12">

                                    <div id="divfullinfofive" class="card-dashboard P-15 mt-3" style="        background: lavenderblush">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-usd fontshadow f-s-40 color-info"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Top Selling Item</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfofive" class="m-b-0"></p>
                                        </div>
                                    </div>






                                    <div id="divfullinfoten" class="card-dashboard P-15 mt-3" style="background:ivory">
                                        <div class="media">
                                            <div class="media-left meida media-middle">
                                                <span><i class="fa fa-usd fontshadow f-s-40 color-danger"></i></span>
                                            </div>
                                            <div class="media-body media-text-right">
                                                <h5>Day Wise Sales</h5>

                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <p id="fullinfoten" class="m-b-0"></p>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>






@section Scripts{


    <script TransactionId="text/javascript">

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
            //    CurrentDate();

            //    $(".FromDate").datepicker({

            //        dateFormat: "dd-M-y",
            //        changeMonth: true,
            //        changeYear: true

            //    });


            //$(".ToDate").datepicker({

            //    dateFormat: "dd-M-y",
            //    changeMonth: true,
            //    changeYear: true

            //});

            //function CurrentDate() {
            //    var date = new Date();
            //    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            //    var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear().toString().substr(-2);
            //    if ($(".FromDate").val() == '') {
            //        $(".FromDate").val(val);
            //    }
            //    if ($(".ToDate").val() == '') {
            //        $(".ToDate").val(val);
            //    }
            //}

            var CategoryId = $("#CategoryId").val();
            var fromdate = $("#FromDate").val();
            var todate = $("#ToDate").val();

            loaddata();
            loadsummarydata();
            //loaddataReturn();

            function loaddata() {
          
                //alert(CategoryId, FromDate, ToDate);


                let othersearchvalue = $("#myInput").val() || "";

                table = $('#saleslist').DataTable({
                    initComplete: function() {

                        var input = $('#saleslist .dataTables_filter input'),//.unbind(),
                            self = this.api(),

                            $OtherSearch = $('<input class="form-control form-control-sm text-center rounded-0 ml-2" id="myInput" name="myInput" placeholder="On Page Filtering / Search. " title="Search" type="text" value="'+othersearchvalue+'">')

                            $allButton = $('<button class="ml-1 btn rounded-0 btn-purple btn-sm" tabindex="0" aria-controls="saleslist" TransactionId="button" title="Load"><span><i class="mdi mdi-file-excel"></i></span></button>')
                                .text('Load')
                                .click(function() {
                                    input.val('');
                                    //alert(FromDate);
                                    loaddata();
                                    loadsummarydata();
                                   // loaddataReturn();
                                    //table.ajax.reload();


                                })
                        $('.dataTables_filter').append($allButton, $OtherSearch);//, $clearButton
                    
                                        $("#myInput").on("click", function () {

                            setTimeout(function () {
                                // whene transaction error then reload page
                                 table.page.len(1000).draw();

                            }, 1);


                    });

                    $("#myInput").on("keyup", function () {
                        //table.page.len(100).draw();
                        var value = $(this).val().toLowerCase();
                        //alert(value);
                        $("#saleslist tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            //$(this).addClass("selected");


                        });


                    });
                    
                    },
                    serverSide: true, "scrollX": true,
                    "orderCellsTop": true,

                    "iDisplayLength": 10,
                    "lengthMenu": [[5, 10, 20, 50, 20000], [5, 10, 20, 50, "All"]],

                    dom: '<"dom_wrapper fh-fixedHeader"lf>tip',


                    "ajax": {
                        "url": "@Url.Action("GetSalesDetailsList", "Sales")",
                        //"data": { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), CategoryId: $("#CategoryId").val() , SalesRepId : $("#SalesRepId").val() },
                        data: { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), CustomerId: $("#CustomerId").val(), UserId: $("#UserId").val(), WarehouseId: $("#WarehouseId").val(),  CategoryId: $("#CategoryId").val(), DocTypeId: $("#DocTypeId").val(), SalesRepId : $("#SalesRepId").val() },
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        { "title": "Id", "data": "Id", "visible": false },
                        { "title": "Sales Code", "data": "SalesCode", "searchable": true },
                        { "title": "Sales Date", "data": "SalesDate", "searchable": false },
                        { "title": "Customer Name", "data": "CustomerName", "searchable": false },


                        { "title": "Category", "data": "CategoryName", "searchable": true },
                        { "title": "Product Code", "data": "ProductCode", "searchable": true },
                        { "title": "Product Name", "data": "ProductName", "searchable": true },
                        { "title": "Model Name", "data": "ModelName", "searchable": true },
                        { "title": "Brand", "data": "BrandName", "searchable": true },
                        { "title": "Size", "data": "SizeName", "searchable": true },
                        { "title": "Color", "data": "ColorName", "searchable": true },

                        { "title": "Quantity", "data": "Quantity", "searchable": false },
                        { "title": "Sales Price", "data": "SalesPrice", "searchable": false },
                        { "title": "Cost Price", "data": "CostPrice", "searchable": false },
                        { "title": "Ind. Discount", "data": "IndDiscountProportion", "searchable": false },
                        { "title": "S.R. Name", "data": "SalesRepName", "searchable": true },
                        { "title": "S.R. Comsn.", "data": "SalesRepCommission", "searchable": false },
                        { "title": "Profit", "data": "Profit", "searchable": false }
                    ],
                    //"order": [0, "desc"],
                    "processing": true,
                    "language": {
                        sLengthMenu: " _MENU_",
                        search: "",
                        searchPlaceholder: "Search..."
                    },
                    "destroy": true
                });

            }


            //       function loaddataReturn() {
          
            //    //alert(CategoryId, FromDate, ToDate);

            //       let othersearchvaluereturn = $("#myInputReturn").val() || "";

            //        tablereturn = $('#salesReturnlist').DataTable({
            //        initComplete: function() {

            //            let inputreturn = $('#salesReturnlist .dataTables_filter input'),//.unbind(),
            //                self = this.api(),

            //                $OtherSearchreturn = $('<input class="form-control form-control-sm text-center rounded-0 ml-2" id="myInputReturn" name="myInputReturn" placeholder="On Page Filtering / Search. " title="Search" type="text" value="'+othersearchvalue+'">')


                    
            //               $("#myInputReturn").on("click", function () {

            //                setTimeout(function () {
            //                    // whene transaction error then reload page
            //                     tablereturn.page.len(1000).draw();

            //                }, 1);


            //        });

            //        $("#myInputReturn").on("keyup", function () {
            //            //table.page.len(100).draw();
            //            var value = $(this).val().toLowerCase();
            //            //alert(value);
            //            $("#salesReturnlist tr").filter(function () {
            //                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            //                //$(this).addClass("selected");


            //            });


            //        });
                    
            //        },
            //        serverSide: true, "scrollX": true,
            //        "orderCellsTop": true,

            //        "iDisplayLength": 10,
            //        "lengthMenu": [[5, 10, 20, 50, 20000], [5, 10, 20, 50, "All"]],

            //        dom: '<"dom_wrapper fh-fixedHeader"lf>tip',

                    
            //        "ajax": {
            //            "url": "@Url.Action("GetSalesReturnDetailsList", "Sales")",
            //            //"data": { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), CategoryId: $("#CategoryId").val() , SalesRepId : $("#SalesRepId").val() },
            //            data: { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), CustomerId: $("#CustomerId").val(), UserId: $("#UserId").val(), WarehouseId: $("#WarehouseId").val(),  CategoryId: $("#CategoryId").val(), DocTypeId: $("#DocTypeId").val(), SalesRepId : $("#SalesRepId").val() },
            //            "type": "POST",
            //            "datatype": "json"
            //        },
            //        "columns": [
            //            { "title": "Id", "data": "Id", "visible": false },
            //            { "title": "Sales Code", "data": "SalesCode", "searchable": true },
            //            { "title": "Sales Date", "data": "SalesDate", "searchable": false },
            //            { "title": "Customer Name", "data": "CustomerName", "searchable": false },


            //            { "title": "Category", "data": "CategoryName", "searchable": true },
            //            { "title": "Product Code", "data": "ProductCode", "searchable": true },
            //            { "title": "Product Name", "data": "ProductName", "searchable": true },
            //            { "title": "Model Name", "data": "ModelName", "searchable": true },
            //            { "title": "Brand Name", "data": "BrandName", "searchable": true },
            //            { "title": "Quantity", "data": "Quantity", "searchable": false },
            //            { "title": "Sales Price", "data": "SalesPrice", "searchable": false },
            //            { "title": "Cost Price", "data": "CostPrice", "searchable": false },
            //            { "title": "Ind. Discount", "data": "IndDiscountProportion", "searchable": false },
            //            { "title": "S.R. Name", "data": "SalesRepName", "searchable": true },
            //            { "title": "S.R. Comsn.", "data": "SalesRepCommission", "searchable": false },
            //            { "title": "Profit", "data": "Profit", "searchable": false }
            //        ],
            //        //"order": [0, "desc"],
            //        "processing": true,
            //        "language": {
            //            sLengthMenu: " _MENU_",
            //            search: "",
            //            searchPlaceholder: "Search..."
            //        },
            //        "destroy": true
            //    });

            //}




            function loadsummarydata() {

                //alert($("#FromDate").val());

                var x = $("#FromDate").val();
                var y = $("#ToDate").val();
                var CustomerId = $("#CustomerId").val();
                var UserId = $("#UserId").val();
                var Status = $("#Status").val();
                var WarehouseId = $("#WarehouseId").val();
                var CategoryId = $("#CategoryId").val();
                var DocTypeId = $("#DocTypeId").val();
                //var SalesRepId = $("#SalesRepId").val();

                //alert(x);
                //alert(y);


                //alert(x , y);
                $.ajax({

                    url: '@Url.Action("GetSaleSummaryInfo", "Sales")',
                    data: { FromDate: x, ToDate: y, CustomerId: CustomerId, UserId: UserId, WarehouseId: WarehouseId, CategoryId: CategoryId, DocTypeId: DocTypeId },
                    //data: JSON.stringify(purchasesmain),
                    //type: 'POST',
                    //async: true,
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function(result) {
                        //console.log(result);
                        //console.log(result.salesbyuser);
                        //console.log(result.salesreceivebyhead);


                        var output = "";
                        if (result.salesbyuser.length != 0) {
                            for (var i = 0; i < result.salesbyuser.length; i++) {
                                if (result.salesbyuser[i] != null) {
                                    //console.log(result.salesbyuser[i]);
                                    output += '<p class=lineheight  style="color:darkslategray">' + result.salesbyuser[i].UserName + " : " + result.salesbyuser[i].TotalSalesCount + " : " + result.salesbyuser[i].TotalSalesSum.toLocaleString() + ' </p>'
                                }
                            };
                            $("#divfullinfoone").show();
                            document.getElementById("fullinfoone").innerHTML = output;
                        }
                        else {
                            $("#divfullinfoone").hide();
                        }



                        output = "";
                        if (result.commissionbyuser.length != 0) {
                            for (var i = 0; i < result.commissionbyuser.length; i++) {
                                if (result.commissionbyuser[i] != null) {
                                    //console.log(result.commissionbyuser[i]);
                                    output += '<p class=lineheight  style="color:darkslategray">' + result.commissionbyuser[i].UserName + " : " + result.commissionbyuser[i].TotalSalesCount + " : " + result.commissionbyuser[i].TotalCommissionAmount + ' </p>'
                                }
                            };
                            $("#divfullinfofour").show();
                            document.getElementById("fullinfofour").innerHTML = output;
                        }
                        else {
                            $("#divfullinfofour").hide();
                        }



                        output = "";
                        if (result.totalsalessummary.length != 0) {
                            for (var i = 0; i < result.totalsalessummary.length; i++) {
                                if (result.totalsalessummary[i] != null) {
                                    //console.log(result.totalsalessummary[i]);
                                    output += '<p class=lineheight> Total Sales :' + result.totalsalessummary[i].TotalSalesCount + ' </p>'
                                    output += '<p class=lineheight> Total Sales Value : ' + result.totalsalessummary[i].TotalSalesValue.toLocaleString() + ' </p>'
                                    output += '<p class=lineheight> Total Costing : ' + result.totalsalessummary[i].TotalCosting.toLocaleString() + ' </p>'
                                    output += '<p class=lineheight> Total Discount : ' + result.totalsalessummary[i].TotalDiscount.toLocaleString() + ' </p>'
                                    output += '</hr><p class="text-bold"> Total Profit : ' + result.totalsalessummary[i].TotalProfit.toLocaleString() + ' </p>'
                                }
                                $("#totalsalesvalue").text(result.totalsalessummary[i].TotalSalesValue.toLocaleString());
                                $("#totalprofitvalue").text(result.totalsalessummary[i].TotalProfit.toLocaleString());
                                $("#totalcostvalue").text(result.totalsalessummary[i].TotalCosting.toLocaleString());




                            };
                            $("#divfullinfotwo").show();
                            document.getElementById("fullinfotwo").innerHTML = output;
                        }
                        else {
                            $("#divfullinfotwo").hide();
                        }




                        output = "";
                        if (result.salesreceivebyhead.length != 1) {
                            for (var i = 0; i < result.salesreceivebyhead.length; i++) {
                                if (result.salesreceivebyhead[i] != null) {
                                    //console.log(result.salesreceivebyhead[i]);


                                    if (result.salesreceivebyhead[i].AccName == "Due" && result.salesreceivebyhead[i].Amount != 0) {
                                        output += '<p class=lineheight style="color:red">Total Due  : ' + result.salesreceivebyhead[i].Amount.toLocaleString() + '</p>';
                                    }
                                    else {
                                        output += '<p class=lineheight style="color:darkslategray">' + result.salesreceivebyhead[i].AccName + " : " + result.salesreceivebyhead[i].Amount.toLocaleString() + ' </p>'
                                    }

                                }
                            };
                            $("#divfullinfothree").show();
                            document.getElementById("fullinfothree").innerHTML = output;

                        }
                        else {

                            $("#divfullinfothree").hide();
                        }


                        var output = "";
                        if (result.topsellingitem.length != 0) {
                            for (var i = 0; i < result.topsellingitem.length; i++) {
                                if (result.topsellingitem[i] != null) {
                                    //console.log(result.topsellingitem[i]);
                                    output += '<p class=lineheight style="color:darkslategray">' + result.topsellingitem[i].ProductName + " : " + result.topsellingitem[i].ProductCount + ' </p>'
                                }
                            };
                            $("#divfullinfofive").show();
                            document.getElementById("fullinfofive").innerHTML = output;
                        }
                        else {

                            $("#divfullinfofive").hide();
                        }





                        output = "";
                        if (result.topsellingcustomer.length != 0) {
                            for (var i = 0; i < result.topsellingcustomer.length; i++) {
                                if (result.topsellingcustomer[i] != null) {

                                    if (result.topsellingcustomer[i].CustomerName == "") {
                                        result.topsellingcustomer[i].CustomerName = "=N/A=";
                                    }

                                    //console.log(result.topsellingcustomer[i]);
                                    output += '<p class=lineheight style="color:darkslategray">' + result.topsellingcustomer[i].CustomerName + " : " + result.topsellingcustomer[i].SalesAmount.toLocaleString() + ' </p>'
                                }
                            };
                            $("#divfullinfoseven").show();
                            document.getElementById("fullinfoseven").innerHTML = output;
                        }
                        else {

                            $("#divfullinfoseven").hide();
                        }



                        output = "";
                        if (result.topduecustomer.length != 0) {
                            for (var i = 0; i < result.topduecustomer.length; i++) {

                                var DueAmount = result.topduecustomer[i].TotalSales - result.topduecustomer[i].ReceivedAmount;

                                if (result.topduecustomer[i].CustomerName == "") {
                                    result.topduecustomer[i].CustomerName = "=N/A=";
                                }


                                if (result.topduecustomer[i] != null && DueAmount > 0) {
                                    output += '<p class=lineheight style="color:darkslategray">' + result.topduecustomer[i].CustomerName + " : " + DueAmount.toLocaleString() + ' </p>'
                                }
                            };
                            $('#divfullinfosix').show();
                            document.getElementById("fullinfosix").innerHTML = output;

                        }
                        else {

                            $("#divfullinfosix").hide();
                        }


                        output = "";
                        if (result.postunpostcount.length != 0) {
                            for (var i = 0; i < result.postunpostcount.length; i++) {
                                if (result.postunpostcount[i] != null && result.postunpostcount[i].DocCount > 0 && result.postunpostcount[i].isPosted == false) {
                                    output += '<p class=lineheight  style="color:darkslategray">' + "Not Posted : " + result.postunpostcount[i].DocCount + ' </p>'
                                }
                                else {
                                    output += '<p class=lineheight  style="color:darkslategray">' + "Posted : " + result.postunpostcount[i].DocCount + ' </p>'
                                }
                            };
                            $('#divfullinfoeight').show();
                            document.getElementById("fullinfoeight").innerHTML = output;
                        }
                        else {
                            $("#divfullinfoeight").hide();
                        }


                        var categorytotalprofit = 0.00;
                        var categorytotalprofitavg = 0.00;

                        output = "";
                        if (result.sellingitembycategory.length != 0) {
                            for (var i = 0; i < result.sellingitembycategory.length; i++) {
                                if (result.sellingitembycategory[i] != null) {
                                    //console.log(result.topsellingitem[i]);
                                    output += '<p class=lineheight  style="color:darkslategray">' + result.sellingitembycategory[i].CategoryName + " (" + result.sellingitembycategory[i].CategoryCount + ") " + result.sellingitembycategory[i].TotalSales.toLocaleString() + " : Profit " + result.sellingitembycategory[i].TotalProfit.toLocaleString() + " || " + result.sellingitembycategory[i].TotalProfitAvgCost.toLocaleString() + ' </p>'
                                    categorytotalprofit += parseFloat(result.sellingitembycategory[i].TotalProfit);
                                    categorytotalprofitavg += parseFloat(result.sellingitembycategory[i].TotalProfitAvgCost);

                                }
                            };
                            output += '<hr class="solid"><p class=""> Total Profit : ' + categorytotalprofit.toLocaleString() + ' || ' + categorytotalprofitavg.toLocaleString() + '(Avg.Cst) </p>'
                            $('#divfullinfonine').show();
                            document.getElementById("fullinfonine").innerHTML = output;
                        }
                        else {
                            $("#divfullinfonine").hide();
                        }


                        ///console.log(result.daywisesalescount);
                        output = "";
                        if (result.daywisesalescount.length != 0) {
                            for (var i = 0; i < result.daywisesalescount.length; i++) {

                                //var DueAmount = result.daywisesalescount[i].TotalSales - result.daywisesalescount[i].ReceivedAmount;
                                if (result.daywisesalescount[i] != null) {
                                    output += '<p class=lineheight style="color:darkslategray">' + result.daywisesalescount[i].SalesDate + " : " + result.daywisesalescount[i].TotalSalesCount + " : " + result.daywisesalescount[i].TotalSalesSum.toLocaleString() + ' </p>'
                                }
                            };
                            $('#divfullinfoten').show();
                            document.getElementById("fullinfoten").innerHTML = output;

                        }
                        else {

                            $("#divfullinfoten").hide();
                        }



                        //toastr.success('Sales Summary Load Successfully.');
                        //alert('Wait');
                    },
                    error: function() {
                        toastr.error('Unable to Load');
                        //alert('Unable to Save');
                    }
                });


            };

        });


        function GetDate(str) {
            var arr = str.split("-");
            var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];

            var month = months.indexOf(arr[1].toLowerCase());

            return new Date(parseInt(arr[2]), month, parseInt(arr[0]));
        }



        @*var CultureInfoViewFormat = '@HttpContextAccessor.HttpContext.Session.GetString("CultureInfoViewFormat").ToString()';
        var CurrencyShortNameViewFormat = '@HttpContextAccessor.HttpContext.Session.GetString("CurrencyShortName").ToString()';


        var formatter = new Intl.NumberFormat(CultureInfoViewFormat, ///'en-US'
        {
        style: 'currency',
        currency: CurrencyShortNameViewFormat,///'BDT'
        minimumFractionDigits: 2,
        });*@

    </script>




}










