@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Variable";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<link href="~/css/accountHeadListGearDropdown.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<style>
    /*li {
            cursor: pointer;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
        }*/

    /* Set the anchor tag to have full width */
    li a {
        display: block;
        width: 100%;
    }

    .full-width {
        display: block;
        width: 100%;
    }

    .table > :not(:first-child) {
        border-top: 0;
    }

    #treegridTable th {
        text-align: center;
        font-weight: 600;
        border: 1px solid #BABEC5;
        /*font-size: 14px;*/
    }

    .table > tbody > tr > td {
        line-height: 15px !important;
        border: 1px solid #c9c9c9;
    }


    .table tbody tr td {
        /* border: 1px solid #c9c9c9;*/
        font: 14px;
        color: #8A8A8A;
        line-height: 15px;
    }
    /*    .table>:not(caption)>*>* {

                         border-bottom-width: 0px;

                    }*/
    .text-red {
        color: #FF0000 !important;
    }

    #body td:not(:first-child) {
        text-align: center;
    }

    .root-node {
        font-weight: 500;
    }

    /*   .tabulator-table .tabulator-row {
            background-color: white;
        } */

    .upper-form-style {
        background: #e9ecef6b;
        /*padding-top: 62px*/
    }

    .report-text-style {
        color: #0000ce;
    }

    .company-and-other-text-style {
        margin-top: 40px;
    }

    .customize-btn {
        background: #e9ecef6b;
        border: 1px solid black;
    }

    .customize-btn-another {
        background: #2CA01C;
        border: 1px solid black;
        border-radius: 20px;
        color: #FFFFFF;
        border: 1px solid #2CA01C;
    }

        .customize-btn-another:hover {
            background: #2CA01C;
            border: 1px solid black;
            border-radius: 20px;
            color: #FFFFFF;
            border: 1px solid #2CA01C;
        }

    .customize-btn:hover {
        background: #e9ecef6b;
        border: 1px solid black;
    }

    .customization-btn {
        background: #2CA01C;
        color: white;
        /*border: 1px solid black;*/
        border-radius: 20px;
    }

        .customization-btn:hover {
            background: #235d1b;
            color: white;
            border-radius: 20px;
        }

    .dropdown-button-style {
        border: 1px solid #ced4da;
        background: white;
    }

        .dropdown-button-style:hover {
            border: 1px solid #ced4da;
            background: white;
        }

    .gear-dropdown.show {
        width: 360px;
    }

    .modal-dialog {
        max-width: 90%;
        margin: 2rem auto;
    }

    .report-print-setting-style {
        background: #e9ecef6b;
    }

    .total-accname {
        border-bottom: 5px double black !important;
    }

    #loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/assets/loading-load.gif') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .6;
    }

    .tabulator {
        border: none;
    }

    .tabulator-col .tabulator-col-title {
        text-align: center;
    }

    .tabulator-tableholder {
        background-color: white;
    }

    .tabulator[tabulator-layout=fitDataTable] {
        display: inherit;
    }

    .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
        margin-top: 7px;
    }

    .tabulator .tabulator-header .tabulator-col, .tabulator .tabulator-header {
        background-color: white;
        border-bottom: 1px solid #aaaaaa38;
        border-right: 1px solid #aaaaaa38;
        /*border-left: 1px solid #aaaaaa38;*/
        /* padding-left: 2px;*/
    }
    /*    .tabulator-row .tabulator-cell, .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
                    border-right: none;
                    border-left: none;
                }*/
    .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
        border-right: 2px solid #aaaaaa38;
    }

    .tabulator-row .tabulator-cell {
        border-right: none;
        border-left: none;
        padding-left: 10px;
        border: 1px solid #aaaaaa29;
    }

    .tabulator-cell {
        padding-top: 10px;
        padding-bottom: 10px;
        /*margin-top: 27px;*/
    }

    .tabulator .tabulator-row .active-cell {
        overflow: visible;
        /* Add any other styles you need for the active cell */
    }

    .tabulator-row {
        /*   border: 1px solid #aaaaaa38;*/
        border-left: none;
        border-right: none;
    }

    input[type="checkbox"] {
        width: 20px; /* Set the width */
        height: 20px; /* Set the height */
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom: 4px solid green;
    }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
            background-color: #F8F8F8;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
        }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
        background-color: #F8F8F8;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }

    .customize-btnew {
        background: transparent;
        border: 1px solid black;
        border-radius: 20px;
    }

        .customize-btnew:hover {
            background: #ffffff;
            border: 1px solid black;
            color: black;
            border-radius: 20px;
        }

    .tabulator-row .tabulator-cell.tabulator-editing {
        border: 1px solid #404c5d;
        outline: none;
        padding: 0;
    }

    .tabulator-cell.tabulator-editable[tabulator-field="AccName"] {
        border: 1px solid #0003;
        margin-bottom: 10px;
    }

    .filter-dropdown > .filter-dropdown-class.show {
        width: 580px;
    }

    p {
        margin: 1em 0;
    }

    .button {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        position: relative;
        background: #aa0000;
        padding: 10px 15px;
        color: white;
        box-shadow: 0 2px black;
        text-decoration: none;
        border-radius: 5px;
        /*text-shadow: 0 1px 1px black;*/
    }

        .button:hover {
            top: -2px;
            box-shadow: 0 7px #000000a3;
        }

        .button:active {
            top: 1px;
            box-shadow: 0 7px #000000a3;
        }

    .unbilledbtn.clicked {
        top: -2px;
        box-shadow: 0 7px #000000a3;
    }

    .overduebtn.clicked {
        top: -2px;
        box-shadow: 0 7px #000000a3;
    }

    .openbtn.clicked {
        top: -2px;
        box-shadow: 0 7px #000000a3;
    }

    .paidbtn.clicked {
        top: -2px;
        box-shadow: 0 7px #000000a3;
    }

    .scrollable-offcanvas {
        /* max-height: 80vh;*/ /* Adjust the maximum height as needed */
        overflow-y: auto;
    }

    .tabulator .tabulator-footer .tabulator-paginator .tabulator-page:hover {
        background-color: deepskyblue;
    }

    .tabulator .tabulator-footer {
        background-color: #fff;
        color: black;
    }

        .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
            background: white !important;
        }


    .offcanvas {
        /* Add position relative to its parent */
        display: flex;
        flex-direction: column;
        height: 100vh; /* Ensure offcanvas takes full viewport height */
    }

    .offcanvas-footer {
        margin-top: auto; /* Push footer to the bottom */
        width: 100%; /* Occupy full width */
    }

    .modal-footer {
        width: 100%; /* Ensure buttons occupy full width */
        padding: 10px; /* Add padding for better appearance */
    }

    .w-15 {
        width: fit-content !important;
    }

    .tabulator-row:nth-child(even) {
        background-color: white;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #999;
        font-size: 12px;
    }

        .separator::before,
        .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #999;
        }

        .separator:not(:empty)::before {
            margin-right: .25em;
        }

        .separator:not(:empty)::after {
            margin-left: .25em;
        }

    .tabulator-row.tabulator-selected {
        background-color: #9abcea !important;
    }

    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

        .rating input {
            display: none;
        }

        .rating label {
            cursor: pointer;
            padding: 5px;
            font-size: 24px;
        }

            .rating label:before {
                content: '\2605'; /* Unicode star character */
            }

        .rating input:checked ~ label:before {
            color: gold; /* Change color of selected stars */
        }

    .child-table-hidden {
        display: none;
    }

    .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs {
        background: #fff !important;
    }

    .tabulator .tabulator-footer {
        border-top: 1px solid #fff;
    }

    #file-drop-area {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }

    #image-uploadify {
        display: none;
    }

    .footerButton {
        margin-top: 40px;
    }

    .dropdown-menu.show {
        width: 330px!important;
    }

</style>
@*expenses tag and navs starts*@
<div class="col-lg-2">
    <p class="fs-4 fw-bold">EXPORT</p>
</div>
<ul class="nav nav-tabs mt-5">
    <li class="nav-item">
        <a class="nav-link  fw-semibold active" href="#" id="grouplc">GROUP LC</a>
    </li>
    @* <li class="nav-item">
        <a class="nav-link  fw-semibold" href="#" id="bblc">BACK TO BACK LC</a>
    </li> *@
</ul>
@*expenses tag and navs ends*@



@*-------------grouplc all html tags starts--------------*@
<div id="GroupLCView" @* class="d-none" *@>
    <div id="PortOFLoadingDiv" class="row py-3" style="background: #e9ecef6b;">
        <div class="col-lg-2">
            <p class="fs-4 fw-bold">GROUP LC</p>
        </div>
        <div class="col-lg">
            <div class="float-end">
                <a asp-controller="Variable" asp-action="AddGroupLC" class="btn btn-success fw-bold ms-3 h-100 radius-30" target="_blank">
                    New
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg">
            <label class="form-label fw-bold">Buyer</label>
            <select id="BuyerID" class="form-control">
                <option value="">Select Buyer</option>
            </select>
        </div>
        <div class="col-lg">
            <label class="form-label fw-bold">Concern</label>
            <select id="concern" class="form-control">
                <option value="">Select Concern</option>
            </select>
        </div>

        <div class="col-lg">
            <label class="form-label fw-bold">From Date</label>
            <input id="fromDate" class="form-control" />
        </div>
        <div class="col-lg">
            <label class="form-label fw-bold">To Date</label>
            <input id="toDate" class="form-control" />
        </div>
    </div>

    @*gear icon and other two buttons starts*@
    <div class="d-flex justify-content-between">
        <div>
            <div class="d-flex mt-3">
                @* <input type="text" class="textbox search_box ms-3 mt-3" id="searchInputBBLC" name="keywords" autocomplete="off" placeholder="Search" style="width: 350px; border: 1px solid #8080807d;height: 40px; border-radius: 25px;padding-left: 15px;" /> *@
            </div>
        </div>

        <div class="mt-5">
            <label class="ps-1"><input type="radio" name="RptType1" value="PDF" checked="checked" /> PDF  </label>
            <label class="ps-1"><input type="radio" name="RptType1" value="EXCEL" /> EXCEL  </label>
            <label class="ps-1"><input type="radio" name="RptType1" value="WORD" /> WORD  </label>
        </div>
        <div class="mt-4">
            @* <button class="btn btn-primary dropdown-toggle radius-30" type="button" data-bs-toggle="dropdown">
                <i class="fa fa-floppy-o "></i><span>Reports</span>
            </button> *@
        </div>
        <div>
            <a href="#" id="print-table-bblc" class="text-decoration-none text-black me-1">
                <i class="bi bi-printer fs-5"></i>
            </a>
            <a href="#" id="download-xlsx-bblc" class="text-decoration-none text-black me-1">
                <i class="bi bi-file-earmark-excel fs-5"></i>
            </a>
            <div title="Settings" class="dropdown1 mt-3 custom-grid" style="display:inline-block;">
                <a href="#" class="text-decoration-none text-black me-1" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="bi bi-gear fs-5"></i>
                </a>
                <div class="dropdown-menu gear-dropdown" aria-labelledby="dropdownMenuButton-expense">
                    <div class="row p-4 main-dropdown-size" style="overflow:hidden;">
                        <div class="col">
                            <span class="fw-bold ms-3">Columns</span>
                            <hr class="m-0 w-75 ms-3 w-sm-50 " />
                            <ul class="list-unstyled">
                                <li>
                                    <div id="GroupLCColumnList" class="custom-grid">
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="ms-3">
                            <label>Rows</label> <br />
                            <select name="rows" id="GroupLCRows" class="cursor-pointer" style="padding: 10px 0 10px 5px; width: 70px;">
                                <option value="0" disabled selected>Rows</option>
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    @*gear icon and other two buttons ends*@
    @*suppliers tabulators starts*@
    <div id="supplierTaableContainer" class="mt-4">
        <div id="GroupLCTable" style="min-height:100%"></div>
    </div>
    @*suppliers tabulators ends*@
</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
    <script type="text/javascript">


        $('#fromDate').datepicker({
            dateFormat: 'dd-M-yy',
            todayHighlight: true,
            autoclose: true
        }).datepicker("setDate", new Date());

        $('#toDate').datepicker({
            dateFormat: 'dd-M-yy',
            todayHighlight: true,
            autoclose: true
        }).datepicker("setDate", new Date());

        //======nav functionalities starts========
        $(".nav-link").click(function () {
            // Remove the "active" class from all nav links
            $(".nav-link").removeClass("active");

            // Add the "active" class to the clicked nav link
            $(this).addClass("active");
        });
        $("#grouplc").on("click", function () {
            $("#GroupLCView").removeClass("d-none");
        });
        //======nav functionalities ends========


        //===========================grouplc functionalities starts=====================

        var GroupLCTable;
        GroupLCGetData();
        function GroupLCGetData() {

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            var BuyerID = $("#BuyerID").val();
            var concern = $("#concern").val();

            var POLAPIURL = '@Url.Action("GetGroupLCist", "Variable")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&buyerId=' + BuyerID + '&concernid=' + concern;
            GroupLCTable = new Tabulator("#GroupLCTable", {
                // data: dataTableFilter,
                dataTree: true,
                height: "350px",
                dataTreeStartExpanded: true,
                dataTreeChildField: "children",
                layout: "fitColumns",
                selectable: 1,
                pagination: true,
                paginationMode: "remote",
                filterMode: "remote",
                paginationSize: 5,
                paginationInitialPage: 1,
                paginationSizeSelector: [5, 10, 25, 50, 100, 500, 1000],
                paginationCounter: "rows",
                ajaxURL: POLAPIURL,
                ajaxConfig: "get",
                ajaxContentType: "json",

                ajaxResponse: function (url, params, response) {
                    GroupLCTable.setMaxPage(response.last_page);
                    // //console.log("response.last_page", response.last_page);

                    dataLoadExpense = response.data;
                    console.log("dataLoadExpense abc:", dataLoadExpense);

                    return {

                        data: dataLoadExpense,
                        last_page: response.last_page,

                    };
                },

                columns: [
                    { title: "Group LC Ref", field: "GroupLCRefName", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Group LC Rev. Amd. No.", field: "GroupLCAmdNo", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Buyer", field: "Name", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Concern", field: "CompanyName", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Group LC Qty", field: "TotalGroupLCQty", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Group LC Value [Final Export Value]", field: "TotalGroupLCValue", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    { title: "Group LC Value [LC Opening Value]", field: "TotalGroupLCValueManual", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                    {
                        title: "Actions", field: "bblcAction", headerHozAlign: "center", headerSort: false, hozAlign: "center", resizable: false, width: 170, visible: true, formatter: function (cell, formatterParams, onRendered) {
                            var data = cell.getData();
                            //console.log("seeeee data::", data);
                            var Edit = `@Url.Action("UpdateGroupLC", "Variable")?grouplcid=` + data.Id;
                            var PrintBBLCMargin = `@Url.Action("PrintBBLCMargin", "BuyerOrder")?id=${data.Id}&type=pdf`;

                            var PrintMLCEX = `@Url.Action("PrintMLCEX", "BuyerOrder")?id=${data.Id}&type=pdf`;

                            var inActive = `InactiveGroupLC(${data.Id}) `;

                            var deleteHtml = `
                      <a onclick='${inActive}' class='text-decoration-none text-black ms-3 mt-1 full-width' href='#' id='inactive'>
                      <i class="bi bi-trash3"></i><span class='ms-1 mt-2'>Delete</span><br />
                      </a>
                      `;

                            var PrintBBLCMarginlink = `
                                 <a href='${PrintBBLCMargin}' target='_blank' class='text-decoration-none text-black ms-3 mt-1 full-width' id='inactive'>
                                         <i class="bi bi-file-earmark-pdf"></i><span class='ms-1 mt-2'>BBLC Margin Analysis / Summary</span><br />
                                 </a>
                             `;
                            var PrintMLCEXlink = `
                                <a href='${PrintMLCEX}' target='_blank' class='text-decoration-none text-black ms-3 mt-1 full-width' id='inactive'>
                                      <i class="bi bi-file-earmark-pdf-fill"></i><span class='ms-1 mt-2'>Master LC Wise Export</span><br />
                                 </a>
                            `;
                      

                            //var statusDependentHtml = data.isPosted ? viewHtml + deleteHtml : editHtml + deleteHtml;
                            var statusDependentHtml = deleteHtml + PrintBBLCMarginlink + PrintMLCEXlink;

                            var html = `
                      <div class='dropdown ms-1'>
                      <a href='${Edit}' target="_blank" class='fw-bolder mt-2'>View/Edit</a>
                      <button class='btn dropdown-toggle' type='button' id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false'></button>
                      <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1' style="width: 57%;">
                          ${statusDependentHtml}

                      </ul>
                      </div>
                      `;

                            return html;
                        },
                        visible: true, cellClick: function (e, cell) {
                            // Add a custom class to the cell when it's clicked
                            cell.getElement().classList.add('active-cell');
                        },
                    },

                ],
                ajaxURLGenerator: function (url, config, params) {
                    //return request url
                    return url + "&searchquery=" + JSON.stringify(params); //encode parameters as a json object
                },
                dataBound: function () {
                    // Freeze the top 1 row (index 0) after the table is created
                    var rows = table.getRows();
                    if (rows.length > 0) {
                        var cells = rows[0].getCells();
                        cells.forEach(cell => {
                            cell.freeze();
                        });
                    }
                },
            });


            function reloadTableData() {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var BuyerID = $("#BuyerID").val();
                var concern = $("#concern").val();
                // Assuming you have a server-side endpoint that accepts From Date and To Date as parameters
                var apiUrl = '@Url.Action("GetGroupLCist", "Variable")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&buyerId=' + BuyerID + '&concernid=' + concern;
                GroupLCTable.setData(apiUrl);
            }

            // Add event listeners to the From Date and To Date input fields
            $("#fromDate, #toDate, #BuyerID, #concern").on("change", function () {
                reloadTableData();
            });


            //size gear functionalities starts=============
            var globalFieldsSizePol = [
                { title: "GROUP LC REF", field: "GroupLCRefName", width: 140, hozAlign: "center", headerHozAlign: "center", visible: true },
                { title: "GROUP LC REV. AMD. NO.", field: "GroupLCAmdNo", width: 140, hozAlign: "center", headerHozAlign: "center", visible: true },
                { title: "BUYER", field: "Name", width: 140, hozAlign: "center", headerHozAlign: "center", visible: true },
                { title: "Concern", field: "CompanyName", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                { title: "Group LC Qty", field: "TotalGroupLCQty", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                { title: "Group LC Value [Final Export Value]", field: "TotalGroupLCValue", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                { title: "Group LC Value [LC Opening Value]", field: "TotalGroupLCValueManual", hozAlign: "center", headerHozAlign: "center", visible: true, headerFilter: "input", headerFilterLiveFilter: false },
                {
                    title: "ACTIONS", field: "bblcAction", headerHozAlign: "center", headerSort: false, hozAlign: "center", resizable: false, width: 170, visible: true, formatter: function (cell, formatterParams, onRendered) {
                        var data = cell.getData();
                        //console.log("seeeee data::", data);
                        var Edit = `@Url.Action("CreateBackToBackLC", "Variable")?backtobacklcid=` + data.Id;
                        var inActive = `InactiveGroupLC(${data.Id}) `

                        var deleteHtml = `
                      <a onclick='${inActive}' class='text-decoration-none text-black ms-3 mt-1 full-width' href='#' id='inactive'>
                      <i class="bi bi-trash3"></i><span class='ms-1 mt-2'>Delete</span><br />
                      </a>
                      `;


                        //var statusDependentHtml = data.isPosted ? viewHtml + deleteHtml : editHtml + deleteHtml;
                        var statusDependentHtml = deleteHtml;

                        var html = `
                      <div class='dropdown ms-1'>
                      <a href='${Edit}' target="_blank" class='fw-bolder mt-2'>View/Edit</a>
                      <button class='btn dropdown-toggle' type='button' id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false'></button>
                      <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1' style="width: 57%;">
                          ${statusDependentHtml}

                      </ul>
                      </div>
                      `;

                        return html;
                    },
                    visible: true, cellClick: function (e, cell) {
                        // Add a custom class to the cell when it's clicked
                        cell.getElement().classList.add('active-cell');
                    },
                },
            ];
            var columnListBBLC = $("#GroupLCColumnList");

            $.each(globalFieldsSizePol, function (index, field) {
                //console.log("GLOBAL 2::",field);
                var title = field.title;
                var name = field.field;
                var visible = true;
                if (field.visible == false) {
                    visible = false;
                }
                var BBLCLIST = `<li>
                                 <a class="dropdown-item" href="#">
                                 <div class="custom-control custom-checkbox" >
                                 <input type="checkbox" class="custom-control-input title-input" id="${name}" value="${name}">
                                         <label class="custom-control-label w-100 cursor-pointer" id="${name}" for="${name}">${title}</label>
                                 </div>
                                 </a>
                                 </li>`;
                columnListBBLC.append(BBLCLIST);

                document.querySelector(`#${name}`).addEventListener('click', function (event) {
                    var checkbox = event.target;
                    var isChecked = checkbox.checked;

                    if (isChecked) {
                        GroupLCTable.showColumn(name);
                    } else {
                        GroupLCTable.hideColumn(name);
                    }
                });


                $(`${'#' + name}`).prop('checked', visible);


                $('.custom-control-label').on('click', function (e) {
                    e.stopPropagation();
                });
                $('#dropdown-titles').on('click', function (e) {
                    e.stopPropagation();
                });

                //Add event listener to the rows select input
                $("#GroupLCRows").on("change", function () {
                    var selectedRows = $(this).val();
                    if (selectedRows !== null) {
                        var pageSize = parseInt(selectedRows);
                        if (!isNaN(pageSize)) {
                            GroupLCTable.setPageSize(pageSize);
                        }
                    }
                });

            });
            //gear functionalities ends===============

        };
        function InactiveGroupLC(data) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteGroupLc", "Variable")',
                        type: "get",
                        data: { id: data },
                        traditional: true,
                        success: function (response) {
                            if (response.success == "1") {
                                toastr.success(response.msg, "", {
                                    "toastClass": "toast-green",
                                });
                                GroupLCGetData();
                            }
                            else if (response.success == "0") {
                                //alert()
                                toastr.success(response.msg, "", {
                                    "toastClass": "toast-red",
                                });
                                GroupLCGetData();
                            }
                            else {
                                toastr.success("Access Denied.", "", {
                                    "toastClass": "toast-red",
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            toastr.error("Error during delete.", "", { "toastClass": "toast-red" });
                        }
                    });
                }
            });
        };
        document.getElementById("print-table-bblc").addEventListener("click", function () {
            GroupLCTable.print(false, true);
        });
        document.getElementById("download-xlsx-bblc").addEventListener("click", function () {
            GroupLCTable.download("xlsx", "BBLC.xlsx", { sheetName: "BBLC" });
        });

        //====search functionality==========
        // $('#searchInputBBLC').on('input', function () {
        //     var inputValue = $(this).val();
        //     var url = '@Url.Action("GetGroupLCist", "Variable")' + '?searchquery=' + inputValue;
        //     GroupLCTable.setData(url);
        // });
        //===========================bblc functionalities ends=======================

        $.ajax({
            type: "GET",
            url: '@Url.Action("concernDrodpdown", "Variable")',
            datatype: "Json",
            success: function (data) {

                $.each(data, function (index, value) {
                    // console.log("value dekhi country er", value);
                    $('#concern').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                });
            }
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetBuyerGroupDrodpwonForGroupLC", "Variable")',
            datatype: "Json",
            success: function (data) {

                $.each(data, function (index, value) {
                    //console.log("value dekhi buyer er",value);
                    $('#BuyerID').append('<option value="' + value.Value + '" >' + value.Text + '</option>');
                });
            }
        });



        // $('#concern').on('change', function () {
        //     var inputValue = $(this).val();
        //     var url = '@Url.Action("GetGroupLCist", "Variable")' + '?concernid=' + inputValue;
        //     GroupLCTable.setData(url);
        // });
        // $('#BuyerID').on('change', function () {
        //     var inputValue = $(this).val();
        //     var url = '@Url.Action("GetGroupLCist", "Variable")' + '?buyerId=' + inputValue;
        //     GroupLCTable.setData(url);
        // });
        // $('#fromDate').on('change', function () {
        //     var inputValue = $(this).val();
        //     var url = '@Url.Action("GetGroupLCist", "Variable")' + '?fromDate=' + inputValue;
        //     GroupLCTable.setData(url);
        // });
        // $('#toDate').on('change', function () {
        //     var inputValue = $(this).val();
        //     var url = '@Url.Action("GetGroupLCist", "Variable")' + '?toDate=' + inputValue;
        //     GroupLCTable.setData(url);
        // });

        $(function () {
            $("#fromDate").removeClass("hasDatepicker").datepicker({
                dateFormat: "dd-M-yy"
            })
            $("#toDate").removeClass("hasDatepicker").datepicker({
                dateFormat: "dd-M-yy"
            });
            $("#fromDate").attr("autocomplete", "off");
            $("#toDate").attr("autocomplete", "off");
        });
    </script>
}