@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<style>

    th {
        white-space: nowrap;
    }

</style>

@{ ViewData["Title"] = "Activation Ticket List";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Activation Ticket", "AddActivationTicket", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12 m-t-8">
                                <h4 class="card-header" style="color: #1976d2;">Activation Ticket List</h4>
                            </div>
                            <div class="col-md-2 col-12 m-t-8">
                                <input type="text" id="myInput" class="form-control" onmouseover="this.focus();" placeholder="On Page Filtering / Search." title="Search Item" style="height: 45px !important;">
                            </div>
                        </div>

                       

                        <div class="table-responsive m-t-10">
                            <table id="tbllist" class="display  table table-sm table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>



                    </div>
                    </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>



@*<td>
        <div height="50px">
            <div class="img-thumbnail flag flag-icon-background @item.FlagClass.ToString().ToLower()"></div>
        </div>
    </td>*@


@section Scripts{

    <script type="text/javascript">




                $(function () {
                    var peopleList = $('#tbllist').DataTable({

                        serverSide: true,  "scrollX": true,
                        processing: true,



                        "orderCellsTop": false,
                        "scrollX": true,
                        "scrollY": "60vh",
                        "order": [0, "desc"],
                        //"order"; false,
                        //"sortable": false,
                        "scrollCollapse": true,

                        ajax: {
                            url: '@Url.Action("GetActivationTicketList", "Internet")',
                            type: "POST"
                        },
                        "lengthMenu": [[5, 10, 20, 50, 100, 500, 1000], [5, 10, 20, 50, 100, 500, 1000]],
                        rowId: 'Id',
                        dom: '<"dom_wrapper fh-fixedHeader"lBf>tip',
                        //buttons: [
                        //    'copy', 'csv', 'excel', 'pdf'
                        //],
                        buttons: {
                            dom: {
                                button: {
                                    className: 'btn rounded-0'
                                }
                            },
                            buttons: [

                                {
                                    extend: 'excel',
                                    text: '<i class="mdi mdi-file-excel"></i>',
                                    className: 'btn-success',
                                    titleAttr: 'Export to excel'
                                }

                            ]
                        },

                        columns: [

                            { "title": "Id", "data": "Id", "visible": true },
                            { "title": "Ticket No", "data": "TicketNo", "searchable": true },

                            { "title": "Contact Name", "data": "ContactName", "searchable": true },
                            { "title": "Contact Number", "data": "ContactNumber", "searchable": true },
                            { "title": "Client Address", "data": "Address", "searchable": true },
                            { "title": "Area / Zone", "data": "AreaZone", "searchable": true },

                            { "title": "Promise Date", "data": "PromiseDateString", "searchable": true },


                            { "title": "OTC", "data": "OTC", "searchable": true },
                            { "title": "MRC", "data": "MRC", "searchable": true },



                            { "title": "Package Name", "data": "PackageName", "searchable": true },
                            { "title": "User Type", "data": "UserType", "searchable": true },


                            { "title": "Priority", "data": "Priority", "searchable": true },


                            { "title": "ONU From", "data": "ONUFrom", "className": "nowrap text-nowrap text-center", "searchable": false },
                            { "title": "ROUTER From", "data": "ROUTERFrom", "className": "nowrap text-nowrap text-center", "searchable": false },



                            { "title": "Referance By", "data": "ReferanceBy", "className": "nowrap text-nowrap text-center", "searchable": false },
                            { "title": "Note / Remarks  / Description", "data": "Note", "searchable": true },


                            { "title": "Fusion Team User", "data": "FusionTeamUser", "searchable": false },
                            { "title": "Activated By User", "data": "ActivatedByUser", "searchable": false },
                            { "title": "Create Date", "data": "CreateDateString", "searchable": false },


                            //{
                            //    "title": "Paid Status",
                            //    "className": "text-nowrap text-center",
                            //    "data": {
                            //        Id: "Id" //,
                            //    },
                            //    "searchable": false,
                            //    "render": function (data, type, row) {
                            //        var showdata = '';
                            //        if (data.TotalDue > 0) {
                            //            showdata += '<p style="color:red"> Due </p>';
                            //        }
                            //        else {
                            //            showdata += '<p style="color:green"> Paid </p>';
                            //        }
                            //        return showdata;
                            //    },
                            //    "searchable": true
                            //},


                            {
                                "title": "Action",
                                "data": "Id",
                                "render": function (data, type, row) {
                                    var myUrledit = '@Url.Action("EditActivationTicket", "Internet")?ActivationTicketId=' + data;
                                    var myUrldelete = '@Url.Action("DeleteActivationTicket", "Internet")?ActivationTicketId=' + data;
                                    var message = `return confirm('Are you sure you want to Remove the ActivationTicket Information ?')`;


                                    return '<span data-toggle="tooltip" title="Edit"> <a href=\"' + myUrledit + '\" class=\"btn btn-icon btn-warning btn-sm rounded-0 mb-1\" target=\"_blank\"><i class="fa fa-edit"></i></a></span>' +
                                        '<span data-toggle="tooltip" title="Delete"> <a href=\"' + myUrldelete + '\" onclick = \"' + message + '\"  class=\"btn btn-icon btn-danger btn-sm rounded-0 mb-1\" target=\"_blank\"><i class="fa fa-remove"></i></a></span>';

                                }

                            }
                        ],


                        autoWidth: true,
                        columnDefs: [
                            { "width": "10px", "targets": [0, 1] },
                            { "width": "400px", "targets": [4] }
                        ]

                    });


                });




                var CultureInfoViewFormat = '@HttpContextAccessor.HttpContext.Session.GetString("CultureInfoViewFormat").ToString()';
                var CurrencyShortNameViewFormat = '@HttpContextAccessor.HttpContext.Session.GetString("CurrencyShortName").ToString()';


                var formatter = new Intl.NumberFormat(CultureInfoViewFormat, ///'en-US'
                    {
                    style: 'currency',
                    currency: CurrencyShortNameViewFormat,///'BDT'
                    minimumFractionDigits: 2,
                });
                //document.body.innerHTML += '<br />' + formatter.format(53425.34);




            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tbllist tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });

    </script>
}
