@model Atrai.Core.Entity.TestRouterOnuTrackingModel
@{ ViewData["Title"] = "AddTestRouterOnuTracking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>Product Ledger Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Internet" asp-action="AddTestRouterOnuTracking" method="post">
                                @if (Model != null)
                                {
                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="CreateDate" />
                                                            <input type="hidden" asp-for="LuserId" /> }
                                                        else
                                                        {
                                            <input type="hidden" asp-for="Id" value="0" />}
                                <input type="hidden" asp-for="ProductId" />
                                <input type="hidden" asp-for="InternetUserId" />

                                @*<input type="hidden" asp-for="InternetUserId" />*@

                                <div class="form-group row">
                                    <div class="col-md-6 col-12">
                                        <label asp-for="EntryDate"></label>
                                        <input asp-for="EntryDate" class="form-control" type="date">
                                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                                    </div>
                                </div>




                                <div class="form-group row">
                                    <div class="col-md-6 col-12">
                                        @Html.LabelFor(x => x.ProductName)
                                        @Html.TextBoxFor(x => x.ProductName, null, new { @class = "form-control", @placeholder = "Product Name " })
                                        @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label asp-for="PrdDescription"></label>
                                        <input type="text" class="form-control" asp-for="PrdDescription" placeholder="Product Description">
                                        <span asp-validation-for="PrdDescription" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="form-group row">


                                    <div class="col-md-6 col-12">
                                        @Html.LabelFor(x => x.UserId)
                                        @Html.TextBoxFor(x => x.UserId, null, new { @class = "form-control", @placeholder = "User Id" })
                                        @Html.ValidationMessageFor(x => x.UserId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 col-12">
                                        @Html.LabelFor(x => x.UserName)
                                        @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", @placeholder = "User Name ", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                                    </div>


                                </div>

                                <div class="form-group row">

                                    <div class="col-md-6 col-12">
                                        <label asp-for="WithdrawnDate"></label>
                                        <input asp-for="WithdrawnDate" class="form-control" type="date">
                                        <span asp-validation-for="WithdrawnDate" class="text-danger"></span>
                                    </div>



                                    <div class="col-md-6 col-12">
                                        <label for="TeamType"> Status : </label>
                                        @Html.DropDownList("Status", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {
                                                    new SelectListItem() {Text = "Withdrawn", Value="Withdrawn"},
                                                    new SelectListItem() {Text = "Not Withdrawn", Value="NotWithdrawn"},
                                                    new SelectListItem() {Text = "Purchased", Value="Purchased"},
                                                    new SelectListItem() {Text = "Lost", Value="Lost"},
                                                }, "Select Status", new { @class = "form-control" })

                                    </div>

                                </div>




                                <div class="form-group row">
                                    <div class="col-md-6 col-12">
                                        <label asp-for="MacSerial"></label>
                                        <input type="text" asp-for="MacSerial" class="form-control" placeholder="eg MAC Serial No">
                                        <span asp-validation-for="MacSerial" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label asp-for="GivenBy"></label>
                                        <input type="text" class="form-control" asp-for="GivenBy" placeholder="Given By">
                                        <span asp-validation-for="GivenBy" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 col-12">
                                        <label asp-for="WithdrawnBy"></label>
                                        <input asp-for="WithdrawnBy" class="form-control" placeholder="eg Withdrawn By">
                                        <span asp-validation-for="WithdrawnBy" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <label asp-for="Note"></label>
                                        <input type="text" class="form-control" asp-for="Note" placeholder="Note">
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>

                                </div>





                                <div class="form-group">
                                    @if (ViewBag.ActionType == "Create")
                                    {
                            <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                        else if (ViewBag.ActionType == "Edit")
                        {
                            <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                        else if (ViewBag.ActionType == "Delete")
                        {
                            <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}
                                    @Html.ActionLink("Back", "TestRouterOnuTrackingList", "Internet", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                </div>



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>




@section scripts {
    <script type="text/javascript">


        autocompletefunction();
        autocompleteProduct();



        function autocompletefunction() {
            $("#UserId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../Admin/internetuserIddata/',
                        dataType: "json",
                        data: { query: $("#UserId").val() },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return {  label: item.UserId, UserName: item.UserName, Id: item.Id };//, , BillAmount: item.BillAmount
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        },
                    });
                },
                autoFocus: true,
                minLength: 3,
                change: function (event, ui) {
                    if (ui.item === null) {
                        $(this).val('');
                        $('#UserId').val('');
                        $('#UserName').val('');
                        $('#InternetUserId').val('');
                        //$('#MobileNoIfNecessary').val('');

                    }
                },
                select: function (event, ui) {


                    $("#UserName").val(ui.item.UserName);
                    $("#UserId").val(ui.item.label);
                    $("#InternetUserId").val(ui.item.Id);
                    //$("#MobileNoIfNecessary").val(ui.item.MobileNoIfNecessary);

                    

                    //$("#BillAmount").val(ui.item.BillAmount);


                    //$.ajax({
                    //    url: '../Internet/BillAmountbyId/',
                    //    dataType: "json",
                    //    data: { query: ui.item.Id },
                    //    success: function (data) {
                    //        console.log(data);
                    //        $("#BillAmount").val(data.BillAmount);
                    //    },
                    //    error: function (xhr, status, error) {
                    //        alert("Error");
                    //    },
                    //});

                    //$("#ReceivedAmount").val(0);
                    //$("#Discount").val(0);
                    //$("#BadDebt").val(0);

                    //newrowwithui(ui);
                    //ExportOrderSummaryGrid();
                    //calculatebalance();
                    //$('#Search').val("");


                    return false;
                }
            });
        }




        function autocompleteProduct() {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../admin/ProductSearch/',
                        dataType: "json",
                        data: { query: $("#ProductName").val() },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return { ProductId: item.Id, Description: item.Description, label: item.Category.Name + ' ' + item.Name + ' ' + item.Description + ' ' + item.Code, Price: item.Price };
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        },
                    });
                },
                autoFocus: true,
                minLength: 3,
                change: function (event, ui) {
                    if (ui.item === null) {
                        $(this).val('');
                        $('#ProductId').val('');
                        $('#ProductName').val('');
                        $('#PrdDescription').val('');
                    }
                },
                select: function (event, ui) {

                    $("#ProductId").val(ui.item.ProductId);
                    $("#ProductName").val(ui.item.label);
                    $("#PrdDescription").val(ui.item.Description);




                    return false;
                }
            });
        }




    </script>

}