@model Atrai.Core.Entity.TroubleTicketModel
@{
    ViewData["Title"] = "Add TroubleTicket";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Trouble Ticket</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Internet" asp-action="AddTroubleTicket" method="post" enctype="multipart/form-data">

                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                    <input type="hidden" asp-for="InternetUserId" />

                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }


                                <div class="row">
                                    <div class="col-lg-8">

                                        <div class="form-group row">

                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(x => x.UserId)
                                                @Html.TextBoxFor(x => x.UserId, null, new { @class = "form-control", @placeholder = "User Id" })
                                                @Html.ValidationMessageFor(x => x.UserId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(x => x.UserName)
                                                @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", @placeholder = "User Name ", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="col-md-4 col-12 ">
                                                <label asp-for="TicketNo"></label>
                                                <input type="text" asp-for="TicketNo" class="form-control" placeholder="Auto Generated" readonly="readonly">
                                                <span asp-validation-for="TicketNo" class="text-danger"></span>
                                            </div>


                                            </div>
                          


                                        <div class="form-group row">

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.InternetComplainId)
                                                @Html.DropDownListFor(x => x.InternetComplainId,
                                                                              new SelectList((IEnumerable<SelectListItem>)ViewBag.InternetComplainId, "Value", "Text"), "Select Complain ", htmlAttributes: new { @class = "form-control", id = "InternetComplainId" })
                                                @Html.ValidationMessageFor(x => x.InternetComplainId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <label for="Priority"> Priority : </label>
                                                @Html.DropDownList("Priority", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             {
                                                        new SelectListItem() {Text = "Normal", Value="Normal"},
                                                        new SelectListItem() {Text = "High", Value="High"},
                                                        new SelectListItem() {Text = "Highest", Value="Highest"}
                                                    }, "Select Priority", new { @class = "form-control" })

                                            </div>



                                        </div>





                                        <div class="form-group row">


                                            <div class="col-md-6 col-12 ">
                                                <label asp-for="Recommendation"></label>
                                                <input type="text" asp-for="Recommendation" class="form-control" placeholder="Enter Recommendation">
                                                <span asp-validation-for="Recommendation" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                <label asp-for="Note"></label>
                                                <input type="text" asp-for="Note" class="form-control" placeholder="Enter Note">
                                                <span asp-validation-for="Note" class="text-danger"></span>
                                            </div>
                                        </div>



                       
              



                                        <div class="form-group row">
                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.DiagnosisReportId)
                                                @Html.DropDownListFor(x => x.DiagnosisReportId,
                                                                                   new SelectList((IEnumerable<SelectListItem>)ViewBag.DiagnosisReportId, "Value", "Text"), "Select Diagnosis Report", htmlAttributes: new { @class = "form-control", id = "DiagnosisReportId" })
                                                @Html.ValidationMessageFor(x => x.DiagnosisReportId, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.DiagonosisByLUserId)
                                                @Html.DropDownListFor(x => x.DiagonosisByLUserId,
                                                                              new SelectList((IEnumerable<SelectListItem>)ViewBag.DiagonosisByLUserId, "Value", "Text"), "Select Diagonosis By User", htmlAttributes: new { @class = "form-control", id = "DiagonosisByLUserId" })
                                                @Html.ValidationMessageFor(x => x.DiagonosisByLUserId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-6 col-12 ">
                                                @Html.LabelFor(x => x.SupportByLUserId)
                                                @Html.DropDownListFor(x => x.SupportByLUserId,
                                                                              new SelectList((IEnumerable<SelectListItem>)ViewBag.SupportByLUserId, "Value", "Text"), "Select Support By User", htmlAttributes: new { @class = "form-control", id = "SupportByLUserId" })
                                                @Html.ValidationMessageFor(x => x.SupportByLUserId, "", new { @class = "text-danger" })
                                            </div>

                                        </div>



                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "TroubleTicketList", "Internet", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>



                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        autocompletefunction();
        function autocompletefunction() {
            $("#UserId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../Admin/internetuserIddata/',
                        dataType: "json",
                        data: { query: $("#UserId").val() },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return { label: item.UserId, UserName: item.UserName, Id: item.Id };//, , BillAmount: item.BillAmount
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        },
                    });
                },
                autoFocus: true,
                minLength: 3,
                change: function (event, ui) {
                    if (ui.item === null) {
                        $(this).val('');
                        $('#UserId').val('');
                        $('#UserName').val('');
                        $('#InternetUserId').val('');

                    }
                },
                select: function (event, ui) {


                    $("#UserName").val(ui.item.UserName);
                    $("#UserId").val(ui.item.label);
                    $("#InternetUserId").val(ui.item.Id);

                    return false;
                }
            });
        }



        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };
    </script>
}

