@model IEnumerable<Atrai.Core.Entity.DiagnosisReportModel>
@{
    ViewData["Title"] = "Internet Diagnosis Report Type List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Internet Diagnosis Type", "AddInternetDiagnosisReport", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12 m-t-8">
                                <h4 class="card-header" style="color: #1976d2;">Diagnosis Report Type List</h4>
                            </div>
                        </div>

                        <div class="table-responsive m-t-10">
                            <table id="example23" class="display nowrap table table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.isInActive)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.isInActive)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditInternetDiagnosisReport", "Internet", new { InternetDiagnosisReportId = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteInternetDiagnosisReport", "Internet", new { InternetDiagnosisReportId = item.Id })" onclick="return confirm('Are you sure you want to Remove this DiagnosisReport?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}