@model IEnumerable<Atrai.Controllers.AccountsController.OwnersEquityModel>
@{
    ViewData["Title"] = "Owners Equity Statement";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";


}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>

    <style>
        .table th {
            background: inherit;
            color: black;
            font-weight: 600;
        }

        .table thead th {
            border-bottom: inherit;
        }

        .table-bordered {
            border: 1px solid #dee2e6;
        }

        .table th, .table td {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.40rem;
            padding-right: 0.40rem;
            border-top: 0px;
        }

        a {
            color: #000;
            text-decoration: none;
            background-color: transparent;
        }

        .preserve-whitespace {
            white-space: pre;
            word-spacing: -0.099em;
        }

        .bottomborder {
            border-bottom: 3px double #000000 !important;
            border-top: 2px solid #000000 !important;
            border-left: 1px solid #000000 !important;
            border-right: 1px solid #000000 !important;
        }

        #caption {
          font-size: 0.70rem;
          font-weight:bolder;
        }

    </style>
    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>





    <style media="print">
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }
    </style>

    <style media="print">

        @@media print {
            .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
            .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
                float: left;
            }

            .col-md-12 {
                width: 100%;
            }

            .col-md-11 {
                width: 91.66666666666666%;
            }

            .col-md-10 {
                width: 83.33333333333334%;
            }

            .col-md-9 {
                width: 75%;
            }

            .col-md-8 {
                width: 66.66666666666666%;
            }

            .col-md-7 {
                width: 58.333333333333336%;
            }

            .col-md-6 {
                width: 50%;
            }

            .col-md-5 {
                width: 41.66666666666667%;
            }

            .col-md-4 {
                width: 33.33333333333333%;
            }


            .col-md-3 {
                width: 25%;
            }

            .col-md-2 {
                width: 16.666666666666666%;
            }

            .col-md-1 {
                width: 8.33333333333333%;
            }

            .offset-md-1 {
                width: 8.33333333333333%;
            }

            .showHeader thead {
                display: table-header-group;
                border: 1px solid #000;
            }

    </style>
</head>
<body>
    <form method="post" id="form1">
        <h3>
            @{
                System.Globalization.CultureInfo BDFormat = new System.Globalization.CultureInfo("hi-IN");
            }
        </h3>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <span class="float-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                        </span>

                        <div class="row mb-1 px-5">

                            <div class="col-md-12 col-12">
                                <h3 class="text-center">@Model.FirstOrDefault().ComName</h3>
                            </div>
                            @*<div class="col-md-2 col-2 text-right">
                                <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()">
                                </div>*@
                            <div class="col-md-12 col-12 text-center">
                                <span>
                                    @Model.FirstOrDefault().ComAddress
                                </span>

                            </div>
                            <div class="col-md-12 col-12 text-center">
                                <p id="caption"><span class="border-bottoms">@Model.FirstOrDefault().Caption</span></p>
                            </div>


                        </div>
                        <hr />
                        <table class="table text-center text-dark table-hover" id="tablebalancesheet"  style="font-family:Arial Narrow;font-size:13px;">
                            <thead>
                                <tr class="font-weight-bold bg-default" style="background: lightgrey;">
                                    <th class="text-nowrap text-center border border-dark">PARTICULARS</th>
                                    <th class="text-center border border-dark">PAID UP CAPITAL</th>
                                    <th class="text-right border border-dark">SHARE PREMIUM</th>
                                    <th class="text-right border border-dark">RESERVE & SURPLUS</th>
                                    <th class="text-right border border-dark">RETAIN EARNINGS</th>
                                    <th class="text-right border border-dark">TOTAL</th>
                                </tr>
                                </thead>
                            <tbody>


                                @if (Model != null)
                                {
                                    foreach (var item in Model.OrderBy(x => x.SortNo))
                                    {
                                        if (item.IsBold == 1)
                                        {
                                            if (item.TranStatus == "2")
                                            {
                                            <tr class="text-nowrap font-weight-bold">
                                                <td class="text-nowrap text-left border border-right-0"><p class="preserve-whitespace mb-0">@item.Headings</p></td>
                                                <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSC)) )</td>
                                                <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSP)) )</td>
                                                <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRS)) )</td>
                                                <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRE)) )</td>
                                                <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountTotal)) )</td>
                                                </tr>

                                            }
                                            else
                                            {
                                                <tr class="text-nowrap font-weight-bold">
                                                <td class="text-nowrap text-left border border-right-0"><p class="preserve-whitespace mb-0">@item.Headings</p></td>
                                                <td class="text-nowrap text-right border border-dark">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSC)) )</td>
                                                <td class="text-nowrap text-right border border-dark">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSP)) )</td>
                                                <td class="text-nowrap text-right border border-dark">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRS)) )</td>
                                                <td class="text-nowrap text-right border border-dark">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRE)) )</td>
                                                <td class="text-nowrap text-right border border-dark">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountTotal)) )</td>
                                            </tr>

                                            }

                                        }
                                        else
                                        { 
                                         <tr>
                                                <td class="text-nowrap text-left"><p class="preserve-whitespace mb-0">@item.Headings</p></td>
                                                <td class="text-nowrap text-right border-left border-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSC)) )</td>
                                                <td class="text-nowrap text-right border-left border-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountSP)) )</td>
                                                <td class="text-nowrap text-right border-left border-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRS)) )</td>
                                                <td class="text-nowrap text-right border-left border-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountRE)) )</td>
                                                <td class="text-nowrap text-right border-left border-right">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(item.AmountTotal)) )</td>
                                            </tr>
                                        
                                        }




                                    }
                                    /*<tr class="text-nowrap font-weight-bold">
                                    <td class="text-nowrap text-left"></td>
                                    <td class="text-nowrap text-right"> Total : </td>
                                    <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlAmount)) )</td>
                                    <td class="text-nowrap text-right bottomborder">@(String.Format(BDFormat, "{0:N}", Convert.ToDecimal(ttlAmount)) )</td>
                                    </tr>*/

                                }


                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    </form>


</body>
</html>