@model IEnumerable<Atrai.Model.Core.Entity.VoucherTranGroupModel>
@{ ViewData["Title"] = "Voucher Tran Group List";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; 
        }

        <style>
    /*style written by shahinur*/
    .dataTables_filter {
        float: right!important;
        padding-right: 15px!important;
    }

    .table-bordered > :not(caption) > * {
        border-width: 0px 0px .5px 0px!important;
    }
        </style>

<div class="page-wrapper">
    <div class="container-fluid">
         
            <form class="card p-2">
                <div class="card-header">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <h2 id="styletext">Voucher Transaction Group List</h2>
                    </div>
                    <div class="col-md-4 col-12 text-end">
                        @Html.ActionLink("Voucher Transaction Group Creation", "AddVoucherTranGroup", null, null, new { @class = "btn btn-sm btn-outline-info ", @id = "btnBack" })

                    </div>
                </div>
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-5 col-12">
                <div class="table-responsive text-nowrap">
                    <table id="tbllist" class="table table-sm table-striped table-bordered table-hover border-start text-center" cellspacing="0" width="100%">
                                <thead class="bg-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.VoucherTranGroupName)
                                </th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.VoucherTranGroupName)
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                        <span data-toggle="tooltip" title="Edit!">
                                                        @Html.ActionLink(" ", "EditVoucherTranGroup", new { VoucherTranGroupId = item.Id }, new { @class = "bi bi-pencil text-warning pe-3", @target = "_blank" })
                                        </span>
                                        <span data-toggle="tooltip" title="Delete!">
                                                        @Html.ActionLink(" ", "DeleteVoucherTranGroup", new { VoucherTranGroupId = item.Id }, new { @class = "bi bi-trash text-danger" })
                                        </span>
                                        </div>
@*                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <a href="#" class="fw-bolder mt-2">Run Report</a>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        @Html.ActionLink("Edit", "EditVoucherTranGroup", new { VoucherTranGroupId = item.Id }, new { @class = "bi bi-pencil-square pe-2 text-decoration-none text-black ms-3 mt-1", @target = "_blank" })
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        @Html.ActionLink("Delete", "DeleteVoucherTranGroup", new { VoucherTranGroupId = item.Id }, new { @class = "bi bi-x pe-2 text-decoration-none text-black ms-3 mt-1" })
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
               
            </form>
        </div>

    </div>


        @section Scripts{
            <script type="text/javascript">

                $(document).ready(function () {

                    $('#tbllist').DataTable({
                        //dom: '<"dom_wrapper fh-fixedHeader"flB>tip',
                        //"sDom": "<'row'<'col-sm-12'<'form-group'<f>>>>tr<'row'<'col-sm-12'<'pull-left'i><'pull-right'p><'clearfix'>>>",
                        //buttons: [
                        //    'copy', 'csv', 'excel', 'pdf'
                        //],
                        //buttons: {
                        //    dom: {
                        //        button: {
                        //            className: 'btn btn-sm '
                        //        }
                        //    },
                        //    buttons: [
                        //        //'copy', 'csv', 'excel', 'pdf'
                        //        //$(this).addClass("btn-group dt-buttons justify-content-center mb-3")
                        //        {
                        //            extend: 'colvis',
                        //            "columns": ':not(:last-child)',
                        //            text: '<i class="mdi mdi-view-column"></i>',
                        //            className: 'btn-info',
                        //            titleAttr: 'Show / hide columns',
                        //            //collectionLayout: 'fixed two-column'

                        //        },
                        //        {
                        //            extend: 'excel',
                        //            text: '<i class="bi bi-file-earmark-excel"></i>',
                        //            className: 'btn-success',
                        //            titleAttr: 'Export to excel'
                        //        }


                        //    ]
                        //},
                        //"searching": true,
                        "paging": false,
                        "ordering": true,
                        "searching":true,
                        "info": true,
                        "iDisplayLength": 20,
                        "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                        "scrollX": true,
                        "scrollY": "60vh",
                        "scrollCollapse": true,
                        language: {
                            sLengthMenu: "_MENU_",
                            search: "",
                            searchPlaceholder: "Search..."
                        }
                        ////"fixedColumns": {
                        ////    "leftColumns": 2,

                        ////},
                        //"sScrollXInner": "100%",
                        //dom: 'Blfrtip',
                        ////,"fixedHeader": true
                    });
                });

                        //$(".search_input").addClass('form-control input-lg col-xs-12');

            </script>
        }
