@{ ViewData["Title"] = "Book detail " + @Model.Title.FirstOrDefault() ;
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }


<style>


    .small-images a, .big-images a {
        display: inline-block
    }

        .small-images a.selected {
            border: 1px solid red
        }



    .carousel-indicators li {
        text-indent: 0px;
        height: 30px;
        background-color: #fff;
        border: black;
        border-radius: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        border-style:double;
    }

    p {
        font-family: 'Poppins', sans-serif;
        color: black;
    }
</style>

@model BookModel
<div class="page-wrapper">
    <br />


    <div class="container" style="align-content:center">


        <div class="row">
            <div class="col-md-10 col-12">
                <div class="text-center">

                    <h2>Image details</h2>
                    <h3>@Model.Title</h3>

                <a href="@Url.Action("AddnewBook", "Book", new { Id = Model.Id })" class="btn btn-icon btn-warning rounded-0 btn-sm rounded-0 mb-1">
                            <i class="bi bi-pencil-square"></i>
                </a>
                @Html.ActionLink("", "all-books", "Book", null, new { @class = "btn btn-default fa fa-times text-danger rounded-0", @id = "btnBack" })
                @Html.ActionLink("", "AddnewBook", "Book", null, new { @class = "btn btn-default bi bi-plus", @id = "btnuploadmore" })


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                        @for (int i = 0; i < Model.Gallery.Count(); i++)
                        {
                            <li data-bs-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "> <p> @i  </p>  </li>

                        }
                    </ol>
                    <div class="carousel-inner" style="max-height:500px">
                        @for (int i = 0; i < Model.Gallery.Count(); i++)
                        {
                            <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                <img class="d-block w-100" src="../@Model.Gallery[i].URL" alt="@Model.Gallery[i].Name">
                            </div>
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--<div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>-->
            @*<div class="row">
                    <div class="col-md-12 text-primary">
                        <span class="label label-primary">By: </span>
                        <span class="monospaced">@Model.Author</span>
                    </div>
                </div>*@

            @*<div class="row">
                    <div class="col-md-12">
                        <p class="description">
                            @Model.Description
                        </p>
                    </div>
                </div>*@

            <!--<div class="row">
            <div class="col-md-4">-->
            @*@Html.ActionLink("Upload More Images", "AddnewBook", "Book", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })*@

            @*<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Read now
                </a>*@
            <!--</div>


            </div>

            <hr />-->
            @*<ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Category - </span> @Model.Category</li>
                    <li class="list-group-item"><span class="font-weight-bold">Total pages - </span> @Model.TotalPages</li>
                    <li class="list-group-item"><span class="font-weight-bold">Language - </span> @Model.Language</li>
                </ul>*@
            <!--</div>-->
        </div>


        @*<div class="single-product pt-5">
                <div class="row">


                    <div class="col-lg-6 col-md-12 col-12">

                        <img class="img-fluid w-100 mb-1 example" src="https://cdn.pixabay.com/photo/2018/05/01/13/04/miniature-3365503_960_720.jpg" id="main-img" alt="">

                        <div class="small-img-group">
                            <div class="small-img-col">
                                <img src="https://cdn.pixabay.com/photo/2018/05/01/13/04/miniature-3365503_960_720.jpg" width="100%" class="small-img " alt="">
                            </div>
                            <div class="small-img-col">
                                <img src="https://cdn.pixabay.com/photo/2016/12/09/11/33/smartphone-1894723__340.jpg" width="100%" class="small-img" alt="">
                            </div>
                        </div>


                    </div>


                </div>
            </div>*@
        @*<div>

                <div id="big-image">
                    <img src="http://lorempixel.com/400/200/sports/1/">
                </div>

                <div class="small-images">
                    <a href="http://lorempixel.com/400/200/sports/1/"><img src="http://lorempixel.com/100/50/sports/1/"></a>
                    <a href="http://lorempixel.com/400/200/fashion/1/" class=""><img src="http://lorempixel.com/100/50/fashion/1/"></a>
                    <a href="http://lorempixel.com/400/200/city/1/"><img src="http://lorempixel.com/100/50/city/1/"></a>
                </div>
            </div>*@
        <br />






        </div>
        <br />

    </div>

</div>



        @section Scripts{
            <script>



                        //$('.thumb-img a').on("click", function (e) {
                        //    e.preventDefault();
                        //    $('.thumb-previewer img').attr("src", $(this).attr("href"));
                        //});



                        //var MainImg = document.getElementById('main-img');
                        //var SmallImg = document.getElementsByClassName('small-img');

                        //SmallImg[0].onmouseover = function () {
                        //    MainImg.src = SmallImg[0].src;
                        //}

                        //SmallImg[1].onmouseover = function () {
                        //    MainImg.src = SmallImg[1].src;
                        //}




                        //$(function () {
                        //    $(".small-images a").click(function (e) {
                        //        var href = $(this).attr("href");
                        //        $("#big-image img").attr("src", href);
                        //        e.preventDefault();
                        //        return false;
                        //    });
                        //});
                /*jQuery
                    $(function(){
                        $(".small-images a").click(function(e){
                            var href = $(this).attr("href");
                            $("#big-image img").attr("src", href);
                            e.preventDefault();
                            return false;
                        });
                    });*/

            </script>
        }
