@model Atrai.Core.Entity.Cat_ShiftModel
@{
    ViewData["Title"] = "Add Shift";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
 
    
      <link href="~/AdminEla/Assets/jquerytimepicker/jquery.timepicker.min.css" rel="stylesheet" />

<style>


    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>


    @*@Html.AntiForgeryToken()*@
    <div class="page-wrapper">
    <div class="container">
          <form asp-controller="HRVariable" asp-action="AddShift" method="post">
        <div class="form-group row">
            <div class="col-md-10 col-12">
                @if (Model != null)
                {
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                }
                else
                {
                    <input type="hidden" asp-for="Id" value="0" />
                }
                <div id="modalbodyfahad" class="card">
                    <div>
                        <div class="card-header">
                            <h4 id="styletext"> Shift - @ViewBag.Title</h4>
                        </div>

                        <div class="card-body">
                            <form class="needs-validation" novalidate>
                        

                                 @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" /> 
                                    <input type="hidden" asp-for="ComId" /> 

                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }


                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftName)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftCode)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ShiftCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftDesc)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftDesc, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ShiftDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftIn)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftIn, new { htmlAttributes = new { @class = "form-control timepicker" ,@type="text"} })
                                                @Html.ValidationMessageFor(model => model.ShiftIn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftOut)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftOut, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.ShiftOut, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftLate)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftLate, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.ShiftLate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LunchTime)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.LunchTime, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.LunchTime, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LunchIn)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.LunchIn, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.LunchIn, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.LunchOut)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.LunchOut, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.LunchOut, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.RegHour)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.RegHour, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.RegHour, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftType)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftType, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ShiftType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.ShiftCat)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.ShiftCat, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ShiftCat, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinTime)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinTime, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinIn)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinIn, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinIn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinOut)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinOut, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinOut, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinTime1)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinTime1, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinTime1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinTimeIn1)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinTimeIn1, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinTimeIn1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinTime2)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinTime2, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinTime2, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-0">
                                                        @Html.LabelFor(model => model.TiffinTimeIn2)
                                                    </span>
                                                </div>
                                                @Html.EditorFor(model => model.TiffinTimeIn2, new { htmlAttributes = new { @class = "form-control timepicker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.TiffinTimeIn2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            @Html.LabelFor(model => model.IsInactive)
                                            @Html.EditorFor(model => model.IsInactive)
                                            @Html.ValidationMessageFor(model => model.IsInactive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                        
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center m-2">
                                <br />
                                <div class="col-md-2"></div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">

                                    @if (ViewBag.ActionType == "Create")
                                    {
                                        <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                                        @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                    }
                                    else if (ViewBag.ActionType == "Edit")
                                    {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                                        @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                    }
                                    else if (ViewBag.ActionType == "Delete")
                                    {
                                        <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Shift_delete()">Delete</button>
                                    }


                                </div>
                                <div class="col-md-4 col-xs-12 d-block mx-auto">
                                    @Html.ActionLink("Back", "ShiftList", "HRVariable", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </form>
       
    </div>
    </div>



@section Scripts{
      <script src="~/AdminEla/Assets/jquerytimepicker/jquery.timepicker.min.js"></script>
    <script type="text/javascript">

        ////$('.timepicker').timepicker({
        ////    timeFormat: 'h:mm p',
        ////    interval: 60,
        ////    minTime: '10',
        ////    maxTime: '6:00pm',
        ////    defaultTime: '11',
        ////    startTime: '08:00',
        ////    dynamic: false,
        ////    dropdown: true,
        ////    scrollbar: true
        ////});
        $(".timepicker").timepicker({

            timeFormat: 'HH:mm',
            interval: 15,

            dynamic: true,
            dropdown: true,
            scrollbar: true

        });


    //function Shift_delete() {

    //    var Id = $("#Id").val();
    //        //alert(SalesId);
    //        $.ajax({

    //            url: '@Url.Action("DeleteShift", "HRVariable")',
                
    //            data: JSON.stringify({ id: Id }), //use id here
    //            //data: JSON.stringify(salesmain),
    //            type: 'POST',
    //            contentType: 'application/json;',
    //            dataType: 'json',
    //            success: function (result) {
    //            if (result.Success == "1") {
    //                customFile('3', result.ex);
    //                window.setTimeout(function () {
    //                    // Move to a new location or you can do something else
    //                    window.location.href = '@Url.Action("ShiftList", "HRVariable")';
    //                }, 500);
    //            }
    //            else {
    //                toastr.error(result.ex);
    //            }
    //        }
    //        });
    //}
    </script>
    }
@*    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

