@model Atrai.Core.Entity.AndroidMenuModel
@{
    ViewData["Title"] = "AddMenu";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Android Menu</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddAndroidMenu" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    @*<input type="hidden" asp-for="LuserId" />*@
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group row">
                                            <div class="col-md-6 col-12">
                                                <label asp-for="MenuName"></label>
                                                <input type="text" asp-for="MenuName" class="form-control" placeholder="eg mnuSalesList">
                                                <span asp-validation-for="MenuName" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 col-12">

                                                <label asp-for="MenuCaption"></label>
                                                <input type="text" asp-for="MenuCaption" class="form-control" placeholder="eg Sales List">
                                                <span asp-validation-for="MenuCaption" class="text-danger"></span>

                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-4 col-12">
                                                <label asp-for="MenuPage"></label>
                                                <input asp-for="MenuPage" class="form-control" placeholder="eg. 1">
                                                <span asp-validation-for="MenuPage" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <label asp-for="DisplayOrder"></label>
                                                <input asp-for="DisplayOrder" class="form-control" placeholder="eg. 1">
                                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                                            </div>


                                            <div class="col-md-4 col-12">

                                                <label asp-for="Radius">Color Redius [1-150]</label>
                                                <input asp-for="Radius" class="form-control" placeholder="Type Radius between 1-150">
                                                <span asp-validation-for="Radius" class="text-danger"></span>

                                            </div>


                                            @*<div class="col-md-6 col-12">

            @Html.LabelFor(x => x.ParentId)
            @Html.DropDownListFor(x => x.ParentId,
            new SelectList((IEnumerable<SelectListItem>)ViewBag.ParentMenu, "Value", "Text"), "Select Parent Menu",
            htmlAttributes: new { @class = "form-control", id = "ParentId" })
            @Html.ValidationMessageFor(x => x.ParentId, "", new { @class = "text-danger" })
        </div>*@


                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-4 col-12">
                                                <label asp-for="ColorOne"></label>
                                                <input type="text" asp-for="ColorOne" class="form-control" placeholder="eg Color Name">
                                                <span asp-validation-for="ColorOne" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 col-12">

                                                <label asp-for="ColorTwo"></label>
                                                <input type="text" asp-for="ColorTwo" class="form-control" placeholder="eg Color Name">
                                                <span asp-validation-for="ColorTwo" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <label asp-for="ColorThree"></label>
                                                <input type="text" asp-for="ColorThree" class="form-control" placeholder="eg Color Name">
                                                <span asp-validation-for="ColorThree" class="text-danger"></span>
                                            </div>
                                        </div>







                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12">
                                                    <label asp-for="GradiantStyle"></label>
                                                    <input asp-for="GradiantStyle" class="form-control" placeholder="eg. Liner / Radial">
                                                    <span asp-validation-for="GradiantStyle" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <label asp-for="FontColor"></label>
                                                    <input asp-for="FontColor" class="form-control" placeholder="eg. Red">
                                                    <span asp-validation-for="FontColor" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <label asp-for="IconName"></label>
                                                    <input asp-for="IconName" class="form-control" placeholder="eg. Icon Name">
                                                    <span asp-validation-for="IconName" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12">
                                                    <label asp-for="IconPath"></label>
                                                    <input asp-for="IconPath" class="form-control" placeholder="eg. Icon Path">
                                                    <span asp-validation-for="IconPath" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-12 col-12">

                                                    <label asp-for="MenuRemarks"></label>
                                                    <input asp-for="MenuRemarks" class="form-control" placeholder="Enter Remarks" row="2">
                                                    <span asp-validation-for="MenuRemarks" class="text-danger"></span>

                                                </div>


                                      


                                            </div>

                                        </div>









                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}

                                            @Html.ActionLink("Back", "AndroidMenuList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>


                                        @*<div class="row text-center m-2">
            <br />
            <div class="col-md-1"></div>
            <div class="col-md-4 col-xs-12 d-block mx-auto">

                @if (ViewBag.ActionType == "Create")
                {
                    <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                }
                else if (ViewBag.ActionType == "Edit")
                {
                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                }
                else if (ViewBag.ActionType == "Delete")
                {
                    <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                }


            </div>

            <div class="col-md-4 col-xs-12 d-block mx-auto">
                @Html.ActionLink("Back", "MenuList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

            </div>
            <div class="col-md-3"></div>

        </div>*@
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>