@model Atrai.Core.Entity.InternetUserModel
@{
    ViewData["Title"] = "Add InternetUser";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Internet User / Client</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddInternetUser" method="post" enctype="multipart/form-data">

                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                    <input type="hidden" asp-for="LastBilledDate" />
                                    <input type="hidden" asp-for="LastExpiredDate" />
                                    <input type="hidden" asp-for="LastReceivedDate" />
                                    <input type="hidden" asp-for="FileExtension" />


                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }


                                <div class="row">
                                    <div class="col-lg-8">



                                        @*<div class="form-group">
                                            <div class="col-md-5 col-md-offset-2">
                                                <img src="..@Model.ImagePath" alt="img" id="UploadFile" class="img-thumbnail" style="height: 150px" width="150px" /> <br />
                                                <input type="file" name="logoPostedFileBase" accept="image/x-png, image/gif, image/jpeg" id="FileUpload" onchange="PreviewImage()" />
                                            </div>
                                        </div>*@




                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="UserId"></label>
                                                    <input type="text" asp-for="UserId" class="form-control" placeholder="Enter Internet UserId">
                                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="Password"></label>
                                                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="UserName"></label>
                                                    <input type="text" asp-for="UserName" class="form-control" placeholder="Enter Internet User Name">
                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 col-12">
                                                    <label for="UserType"> User Type : </label>
                                                    @Html.DropDownList("UserType", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {
                                                        new SelectListItem() {Text = "Static", Value="Static"},
                                                        new SelectListItem() {Text = "PPOE", Value="PPOE"}
                                                    }, "Select User Type", new { @class = "form-control" })
                                                 
                                                </div>
                                                <div class="col-md-5 col-12 ">
                                                    @Html.LabelFor(x => x.PackageId)
                                                    @Html.DropDownListFor(x => x.PackageId,
                                                                                                      new SelectList((IEnumerable<SelectListItem>)ViewBag.PackageId, "Value", "Text"), "Select Package", htmlAttributes: new { @class = "form-control", id = "PackageId" })
                                                    @Html.ValidationMessageFor(x => x.PackageId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3 col-12 ">
                                                    <label asp-for="Amount"></label>
                                                    <input type="text" asp-for="Amount" class="form-control" placeholder="Enter Amount">
                                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="ONUMac"></label>
                                                    <input asp-for="ONUMac" class="form-control" type="text" placeholder="Enter MAC Address">
                                                    <span asp-validation-for="ONUMac" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="IPAddress"></label>
                                                    <input asp-for="IPAddress" class="form-control" type="text" placeholder="Enter IP Address">
                                                    <span asp-validation-for="IPAddress" class="text-danger"></span>
                                                </div>



                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="MobileNo"></label>
                                                    <input asp-for="MobileNo" class="form-control" type="text" placeholder="Enter MobileNo">
                                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-6 col-12 ">
                                                    <label asp-for="Address"></label>
                                                    <input asp-for="Address" class="form-control" type="text" placeholder="Enter Address">
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>


                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="NationalIdCard"></label>
                                                    <input type="text" asp-for="NationalIdCard" class="form-control" placeholder="Enter NationalIdCard">
                                                    <span asp-validation-for="NationalIdCard" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="ConnectionPointAddress"></label>
                                                    <input asp-for="ConnectionPointAddress" class="form-control" type="text" placeholder="Enter Connection Point Address">
                                                    <span asp-validation-for="ConnectionPointAddress" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-4 col-12 ">
                                                    <label asp-for="CreatedBy"></label>
                                                    <input asp-for="CreatedBy" class="form-control" type="text" placeholder="Enter Created By">
                                                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-4 col-12 ">
                                                    @Html.LabelFor(x => x.UserStatusId)
                                                    @Html.DropDownListFor(x => x.UserStatusId,
                                                         new SelectList((IEnumerable<SelectListItem>)ViewBag.UserStatusId, "Value", "Text"), "Select Status", htmlAttributes: new { @class = "form-control", id = "UserStatusId" })
                                                    @Html.ValidationMessageFor(x => x.UserStatusId, "", new { @class = "text-danger" })
                                                </div>

                                                @*<div class="col-md-4 col-12 ">
                                                <label asp-for="CreatedOn"></label>
                                                <input asp-for="CreatedOn" class="form-control" type="text" placeholder="Enter CreatedOn">
                                                <span asp-validation-for="CreatedOn" class="text-danger"></span>
                                            </div>*@



                                            </div>

                                        </div>




                                        <div class="form-group">

                                            <label asp-for="Description"></label>
                                            <input asp-for="Description" class="form-control" type="text" placeholder="Enter Description">
                                            <span asp-validation-for="Description" class="text-danger"></span>

                                        </div>

                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                                <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                                        else if (ViewBag.ActionType == "Edit")
                                                        {
                                                            <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                                        else if (ViewBag.ActionType == "Delete")
                                                        {
                                                <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "InternetUserList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>



                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {


        });

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };
    </script>
}

