@model Atrai.Core.Entity.SubscriptionActivationCompanyModel
@{
    ViewData["Title"] = "AddSubscriptionActivationCompany";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->



            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header py-1">
                            <h4>Subscription Activation</h4>
                        </div>
                        <div class="card-body">

                                <form asp-controller="admin" asp-action="AddSubscriptionActivationCompany" method="post">
                                    @if (Model != null)
                                    {
                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="CreateDate" /> @*<input type="hidden" asp-for="LuserId" />*@ }
                                    else
                                    {
                        <input type="hidden" asp-for="Id" value="0" />}


                                    <div class="form-group row">


                                        <div class="col-md-6 col-12 ">
                                            @Html.LabelFor(x => x.ComId)
                                            @Html.DropDownListFor(x => x.ComId,
                                            new SelectList((IEnumerable<SelectListItem>)ViewBag.Company, "Value", "Text"), "Select Company", htmlAttributes: new { @class = "form-control", id = "ComId" })
                                            @Html.ValidationMessageFor(x => x.ComId, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="col-md-6 col-12 ">
                                            @Html.LabelFor(x => x.SubscriptionTypeId)
                                            @Html.DropDownListFor(x => x.SubscriptionTypeId,
                                            new SelectList((IEnumerable<SelectListItem>)ViewBag.SubscrtiptionType, "Value", "Text"), "Select Subscription Type", htmlAttributes: new { @class = "form-control", id = "SubscriptionTypeId" })
                                            @Html.ValidationMessageFor(x => x.SubscriptionTypeId, "", new { @class = "text-danger" })
                                        </div>

                                    </div>


                                    <div class="form-group row">
                                        <div class="col-md-6 col-12">

                                            <label asp-for="ActiveFromDate"></label>
                                            <input asp-for="ActiveFromDate" class="form-control" type="date">
                                            <span asp-validation-for="ActiveFromDate" class="text-danger"></span>

                                            @*@Html.LabelFor(x => x.ActiveFromDate)
                                            @Html.TextBoxFor(x => x.ActiveFromDate, @"{0:dd-MMM-yyyy}", new { id = "ActiveFromDate", @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(x => x.ActiveFromDate, "", new { @class = "text-danger" })*@
                                        </div>


                                        <div class="col-md-6 col-12">

                                            <label asp-for="ActiveToDate"></label>
                                            <input asp-for="ActiveToDate" class="form-control" type="date">
                                            <span asp-validation-for="ActiveToDate" class="text-danger"></span>

                                            @*@Html.LabelFor(x => x.ActiveToDate)
                                            @Html.TextBoxFor(x => x.ActiveToDate, @"{0:dd-MMM-yyyy}", new { id = "ActiveToDate", @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(x => x.ActiveToDate, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-4 col-12">
                                            <label for="Amount">Amount</label>
                                            <input type="number" asp-for="Amount" class="form-control">
                                            <span asp-validation-for="Amount" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label for="ValidityDay">Validity Day</label>
                                            <input type="text" asp-for="ValidityDay" class="form-control">
                                            <span asp-validation-for="ValidityDay" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-2 col-12">
                                            <label asp-for="IsActive"></label>
                                            <input type="checkbox" asp-for="IsActive" class="form-control">
                                            <span asp-validation-for="IsActive" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group row">



                                        <div class="col-md-10 col-12">
                                            <label asp-for="Remarks"></label>
                                            <textarea class="form-control" asp-for="Remarks" rows="2" placeholder="Text input"></textarea>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        @if (ViewBag.ActionType == "Create")
                                        {
                            <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                        else if (ViewBag.ActionType == "Edit")
                        {
            <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
        else if (ViewBag.ActionType == "Delete")
        {
    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}
                                        @Html.ActionLink("Back", "SubscriptionActivationCompanyList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                    </div>




                                </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
    

    </div>
</div>