@model Atrai.Core.Entity.SupplierModel
@{
    ViewData["Title"] = "AddSupplier";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4 class="text-primary">Supplier Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddSupplier" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group row">

                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="SupplierName"></label>
                                                        </span>
                                                    </div>

                                                    <input type="text" asp-for="SupplierName" class="form-control" placeholder="SupplierName">
                                                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="Email"></label>
                                                        </span>
                                                    </div>

                                                    <input asp-for="Email" class="form-control" type="email" placeholder="Enter Email">
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>




                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="Phone"></label>
                                                        </span>
                                                    </div>

                                                    <input asp-for="Phone" class="form-control" type="tel" placeholder="Enter phone">
                                                    <span asp-validation-for="Phone" class="text-danger"></span>

                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="Notes"></label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Notes" class="form-control" type="text" placeholder="Enter Notes">
                                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                                </div>
                                            </div>


                                             <div class="col-md-4">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="ContactPersonName"></label>
                                                        </span>
                                                    </div>

                                                    <input asp-for="ContactPersonName" class="form-control" type="tel" placeholder="Enter Name">
                                                    <span asp-validation-for="ContactPersonName" class="text-danger"></span>

                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="ContactPersonDesignation"></label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="ContactPersonDesignation" class="form-control" type="text" placeholder="Enter Designation">
                                                    <span asp-validation-for="ContactPersonDesignation" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="Website"></label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Website" class="form-control" type="text" placeholder="Enter Website">
                                                    <span asp-validation-for="Website" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="form-group row">
                                                <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="PrimaryAddress"></label>
                                                        </span>
                                                    </div>
                                                    <textarea class="form-control" asp-for="PrimaryAddress" rows="3" placeholder="Primary Address input"></textarea>
                                                    <span asp-validation-for="PrimaryAddress" class="text-danger"></span>
                                                </div>
                                            </div>





                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="SecoundaryAddress"></label>
                                                        </span>
                                                    </div>
                                                    <textarea class="form-control" asp-for="SecoundaryAddress" rows="3" placeholder="Secoundary Address input"></textarea>
                                                    <span asp-validation-for="SecoundaryAddress" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="form-group row">
                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="OpBalance">OP. Balance</label>
                                                        </span>
                                                    </div>
                                                    <input asp-for="OpBalance" class="form-control" type="number" placeholder="Opening balance">
                                                    <span asp-validation-for="OpBalance" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="SupplierCommissionPer"></label>
                                                        </span>
                                                    </div>

                                                    <input asp-for="SupplierCommissionPer" class="form-control" type="number" placeholder="Supplier Commission Per">
                                                    <span asp-validation-for="SupplierCommissionPer" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label> Supplier Type : </label>
                                                        </span>
                                                    </div>

                                                    @Html.DropDownList("SupType", new List<SelectListItem>
                                                    {
                                                    new SelectListItem() {Text = "Ledger", Value="L"},
                                                    new SelectListItem() {Text = "Group", Value="G"},

                                                    }, new { @class = "form-control" })
                                                    @Html.ValidationMessage("SupType", "", new { @class = "text-danger" })
                                                </div>
                                            </div>



                                            <div class="col-md-6 col-12">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="SupParentId"></label>
                                                        </span>
                                                    </div>
                                                    @Html.DropDownListFor(x => x.SupParentId,new SelectList((IEnumerable<SelectListItem>)ViewBag.SupplierGroupHead, "Value", "Text"), "Select Supplier Group",htmlAttributes: new { @class = "form-control", id = "SupParentId" })
                                                    @Html.ValidationMessageFor(x => x.SupParentId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            
                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="TradeLicenseNo"></label>
                                                        </span>
                                                    </div>

                                                    <input type="text" asp-for="TradeLicenseNo" class="form-control" placeholder="Trade License No">
                                                    <span asp-validation-for="TradeLicenseNo" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="IsInActive"></label>
                                                        </span>
                                                    </div>

                                                    <input type="checkbox" asp-for="IsInActive" class="form-control form-control-sm">
                                                    <span asp-validation-for="IsInActive" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="LoginId"></label>
                                                        </span>
                                                    </div>

                                                    <input type="text" asp-for="LoginId" class="form-control" placeholder="Login Id">
                                                    <span asp-validation-for="LoginId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0">
                                                            <label asp-for="Password"></label>
                                                        </span>
                                                    </div>

                                                    <input type="text" asp-for="Password" class="form-control" placeholder="Password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            @if (ViewBag.ActionType == "Create")
                                            {
                                                <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Edit")
                                            {
                                                <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Delete")
                                            {
                                                <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                                            }
                                            @Html.ActionLink("Back", "SupplierList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>