@model Atrai.Core.Entity.UserRoleModel
@{
    ViewData["Title"] = "AddUserRole";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New User Role</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddUserRole" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    @*<input type="hidden" asp-for="LuserId" />*@
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="RoleName"></label>
                                            <input type="text" asp-for="RoleName" class="form-control" placeholder="eg Enter UserRole">
                                            <span asp-validation-for="RoleName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(x => x.BusinessTypeId)
                                            @Html.DropDownListFor(x => x.BusinessTypeId,
                                                           new SelectList((IEnumerable<SelectListItem>)ViewBag.BusinessType, "Value", "Text"), "Select Business Type",
                                                           htmlAttributes: new { @class = "form-control", id = "BusinessTypeId" })
                                            @Html.ValidationMessageFor(x => x.BusinessTypeId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="RoleRemarks"></label>
                                            <input asp-for="RoleRemarks" class="form-control" placeholder="Description">
                                            <span asp-validation-for="RoleRemarks" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                            <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                                else if (ViewBag.ActionType == "Edit")
                                                {
                                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                                else if (ViewBag.ActionType == "Delete")
                                                {
                                            <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "UserRoleList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>