@model Atrai.Core.Entity.WalletModel
@{
    ViewData["Title"] = "AddWallet";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->



            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header py-1">
                            <h4> Purchase / Balance</h4>
                        </div>
                        <div class="card-body">

                                <form asp-controller="admin" asp-action="AddWallet" method="post">
                                    @if (Model != null)
                                    {
                        <input type="hidden" asp-for="Id" />
                        @*<input type="hidden" asp-for="SMSUsedQuantity" />*@

                        
                                        <input type="hidden" asp-for="CreateDate" /> @*<input type="hidden" asp-for="LuserId" />*@ }
                                    else
                                    {
                        <input type="hidden" asp-for="Id" value="0" />
                                @*<input type="hidden" asp-for="SMSUsedQuantity"  />*@
                                    }

                        <input type="hidden" asp-for="IsPost" />
                        <input type="hidden" asp-for="IsSystem" />



                                    <div class="form-group row">

                               



                                        <div class="col-md-6 col-12 ">
                                            @Html.LabelFor(x => x.ComId)
                                            @Html.DropDownListFor(x => x.ComId, new SelectList((IEnumerable<SelectListItem>)ViewBag.Company, "Value", "Text"), "Select Company", htmlAttributes: new { @class = "form-control", id = "ComId" })
                                            @Html.ValidationMessageFor(x => x.ComId, "", new { @class = "text-danger" })
                                        </div>


                                         <div class="col-md-6 col-12 ">
                                            @Html.LabelFor(x => x.LuserId)
                                            @Html.DropDownListFor(x => x.LuserId, new SelectList((IEnumerable<SelectListItem>)ViewBag.User, "Value", "Text"), "Select User", htmlAttributes: new { @class = "form-control", id = "LuserId" })
                                            @Html.ValidationMessageFor(x => x.LuserId, "", new { @class = "text-danger" })
                                        </div>



                                    </div>


                                    <div class="form-group row">

                                        <div id="divTransactionType" class="col-md-4 col-12">

                                                @Html.LabelFor(x => x.TransactionType)
                                                @Html.DropDownList("TransactionType", new List<SelectListItem>
                                                {
                                                new SelectListItem() {Text = "Add", Value="Add"},
                                                new SelectListItem() {Text = "Less", Value="Less"},

                                                }, new { @class = "form-control" })
                                                @Html.ValidationMessage("TransactionType", "", new { @class = "text-danger" })
                            
                                        </div>



                                        <div class="col-md-4 col-12">

                                            <label asp-for="PurchaseDate"></label>
                                            <input asp-for="PurchaseDate" class="form-control" type="date">
                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-4 col-12">

                                            <label asp-for="ValidityDate"></label>
                                            <input asp-for="ValidityDate" class="form-control" type="date">
                                            <span asp-validation-for="ValidityDate" class="text-danger"></span>

                                            @*@Html.LabelFor(x => x.ActiveToDate)
                                            @Html.TextBoxFor(x => x.ActiveToDate, @"{0:dd-MMM-yyyy}", new { id = "ActiveToDate", @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(x => x.ActiveToDate, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-4 col-12">
                                            <label for="Type">Recharge By</label>
                                            <input type="text" asp-for="RechargeBy" class="form-control">
                                            <span asp-validation-for="RechargeBy" class="text-danger"></span>
                                        </div>

                                        

                                          <div class="col-md-4 col-12">
                                            <label for="Amount">Recharge Amount</label>
                                            <input type="number" asp-for="RechargeAmount" class="form-control">
                                            <span asp-validation-for="RechargeAmount" class="text-danger"></span>
                                        </div>


                                          <div class="col-md-4 col-12">
                                            <label for="Amount">Used Amount</label>
                                            <input type="number" asp-for="UsedAmount" class="form-control">
                                            <span asp-validation-for="UsedAmount" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-10 col-12">
                                            <label asp-for="Remarks"></label>
                                            <textarea class="form-control" asp-for="Remarks" rows="2" placeholder="Text input"></textarea>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        @if (ViewBag.ActionType == "Create")
                                        {
                            <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                        else if (ViewBag.ActionType == "Edit")
                        {
            <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
        else if (ViewBag.ActionType == "Delete")
        {
    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}
                                        @Html.ActionLink("Back", "WalletList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                    </div>




                                </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
    

    </div>
</div>