@model IEnumerable<Atrai.Core.Entity.AndroidMenuModel>
@{
    ViewData["Title"] = "Menu List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Menu", "AddAndroidMenu", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-4 col-12 mt-1">
                                <h4 style="color: #1976d2;">Android Menu List</h4>
                            </div>
                        </div>

                        <div class="table-responsive m-t-10">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MenuPage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DisplayOrder)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MenuName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MenuCaption)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ColorOne)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ColorTwo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ColorThree)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MenuRemarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FontColor)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.GradiantStyle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IconName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IconPath)
                                        </th>

                                        <th>Action Menu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuPage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayOrder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuCaption)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ColorOne)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ColorTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ColorThree)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuRemarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FontColor)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.GradiantStyle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IconName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IconPath)
                                        </td>


                                        <td>
                                            <a href="@Url.Action("CopyAndroidMenu", "Admin", new { AndroidMenuid = item.Id })" class="btn btn-icon btn-info btn-sm rounded-0 mb-1">
                                                <i class="fa fa-copy"></i>
                                            </a>
                                            <a href="@Url.Action("EditAndroidMenu", "Admin", new { AndroidMenuid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteAndroidMenu", "Admin", new { AndroidMenuid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Menu?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}