@model IEnumerable<Atrai.Core.Entity.BrandModel>
@{
    ViewData["Title"] = "Brand List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">

                        <div class="row mb-1">
                            <div class="col-md-2 col-12">
                                <h4>Brand List</h4>
                            </div>
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Brand", "AddBrand", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>

                        </div>


                    </div>

                    <div class="card-body">
             

                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm display compacttable-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BrandName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BrandName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditBrand", "Admin", new { Brandid = item.Id })" class="btn btn-icon btn-warning rounded-0 btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteBrand", "Admin", new { Brandid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Brand?')" class="btn btn-icon btn-danger rounded-0 btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}