@model IEnumerable<Atrai.Core.Entity.StoreSettingModel>
@{
    ViewData["Title"] = "Company List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>

/*    button.dt-button, div.dt-button, a.dt-button {

        background-color: #3b5bd8;

    }*/


</style>



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
@*                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Company", "addcompany", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>*@
                            <div class="col-md-2 col-12 mt-1">
                                <h4 style="color: #1976d2;">Company List</h4>
                            </div>
                        </div>

                        <div class="table-responsive m-t-10">
                            <table id="tblSettings" class="display table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StoreName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BusinessType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreateDate)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoreName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessType.BusinessTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>

                                        <td>
                                            <a href="@Url.Action("Settings", "Admin", new { SettingsId = item.ComId })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            @*<a href="@Url.Action("DeleteSettings", "Admin", new { Settingsid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Settings?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>*@
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    <script type="text/javascript">

        $('#tblSettings').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                { "extend": 'excel', "text": 'Excel', "className": 'btn btn-default rouned-0 btn-xs' }
            ]
        });

        </script>
}