@model IEnumerable<Atrai.Core.Entity.EmailSettingModel>
@{
    ViewData["Title"] = "EmailSetting List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">

                        <div class="row mb-1">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Add Email Setting", "AddEmailSetting", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-3 col-12">
                                <h4>Email Settings List</h4>
                            </div>


                        </div>


                    </div>

                    <div class="card-body">
             

                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sender)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Password)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SenderName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MailPort)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MailServer)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Password)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SenderName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailPort)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailServer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditEmailSetting", "Admin", new { EmailSettingId = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteEmailSetting", "Admin", new { EmailSettingId = item.Id })" onclick="return confirm('Are you sure you want to Remove this EmailSetting?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}