@model IEnumerable<Atrai.Core.Entity.FiscalYearTypeModel>
@{
    ViewData["Title"] = "Fiscal Year Type List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>

/*    button.dt-button, div.dt-button, a.dt-button {

        background-color: #3b5bd8;

    }*/


</style>



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h4 class="text-primary">Fiscal Year Type List</h4>
                    </div>


                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Fiscal Year Type", "AddFiscalYearType", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                        </div>

                        <div class="table-responsive mt-1">
                            <table id="tblbusinesstype" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FYName)
                                        </th>
             

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FYName)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditFiscalYearType", "Admin", new { FiscalYearTypeid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteFiscalYearType", "Admin", new { FiscalYearTypeid = item.Id })" onclick="return confirm('Are you sure you want to Remove this FiscalYearType?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    <script type="text/javascript">

        $('#tblbusinesstype').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                { "extend": 'excel', "text": 'Excel', "className": 'btn btn-default rouned-0 btn-xs' }
            ]
        });

        </script>
}