@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _http
@model Atrai.Core.ViewModel.UrlShortenDashboardViewModel
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 1;
    int ii = 1;
    int iii = 1;
    int iiii = 1; }
<style>
    .p-15 {
        padding: 10px 13px 15px 13px !important;
    }

    .card-dashboard p {
        font-size: 14px;
        font-family: arial narrow;
    }

    .media p {
        font-size: 13px;
        font-family: "Arial Narrow";
    }

    .media {
        font-size: 15px;
        font-family: "Arial Narrow";
        text-align: right;
        padding-bottom: 2px !important;
    }

    a {
        color: #0a275ec9;
    }

    tbody tr td {
        font-family: "Arial Narrow";
        font-size: 13px;
    }
</style>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Dashboard</h5>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid ">
        <!-- Start Page Content -->
        <div class="row ">
            <div class="col-sm-4 col-md-3 col-6 animated slideInUp">
                @*<a href="@Url.Action("AddShortLink", "Admin")">*@
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-cubes f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right p-1">
                                <h5>@Model.LastMontClicked</h5>
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">Last Month Clicked</p>
                        </div>
                    </div>
                @*</a>*@
            </div>

            <div class="col-sm-4 col-md-3 col-6 animated slideInUp">
                @*<a href="@Url.Action("AddShortLink", "Admin")">*@
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-files-o f-s-40 fontshadow color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right p-1">
                                <h5 style="color:darkgreen">@Model.CurrentMonthClicked.ToString("#,##0")</h5>

                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">Current Month Clicked</p>
                        </div>
                    </div>
               @* </a>*@
            </div>


            <div class="col-sm-4 col-md-3 col-6 animated slideInUp">
                @*<a href="@Url.Action("AddShortLink", "Admin")">*@
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-area-chart f-s-40 fontshadow color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right p-1">
                                <h5>@Model.TodayClicked.ToString("#,##0")</h5>
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">Today Clicked</p>
                        </div>
                    </div>
                @*</a>*@
            </div>
            <div class="col-sm-4 col-md-3 col-6 animated slideInUp">
                @*<a href="@Url.Action("AddShortLink", "Admin")">*@
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-link f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right p-1">
                                <h5>@Model.TotalLink.ToString("#,##0")</h5>
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">Total Link</p>
                        </div>
                    </div>
                @*</a>*@
            </div>


            <div class="col-sm-4 col-md-6 col-12 animated slideInUp">
                @*<a href="@Url.Action("AddShortLink", "Admin")">*@
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-cart-plus f-s-40 fontshadow color-warning"></i></span>
                            </div>
                    
                            <div class="media-body media-text-right p-1">
                                <h5>Expired Date : @Model.UserExpiredDate.ToString("dd-MMM-yy hh:mm:tt")</h5>
                                <h3>
                                    <a class="btn btn-primary" href="@Url.Action("PurchasePackage", "License")">Buy Package</a>
                                    @Model.RemainingDays
                                </h3>
                    
                                    
                          
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">Remaining Days</p>
                        </div>
                    </div>
                @*</a>*@
            </div>


            <div class="col-sm-4 col-md-6 col-12 animated slideInUp">
                    <div class="card-dashboard p-15">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-support f-s-40 fontshadow color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right p-1 color-danger">
                                <h5>
                                    @*@Model.UserExpiredDate.ToString("dd-MMM-yy hh:mm:tt")*@
                                01709-383003
                                </h5>
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="m-b-0">HotLine for Support</p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row py-1">
            <div class="col-md-6 col-12">
                <div class="card-dashboard">
                    <div class="card-header text-center p-1">
                        <h5>Five Recent Link</h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        @*<th>Id</th>*@
                                        <th>URL</th>
                                        <th>Total Hit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LastFiveCreatedLink)
                                    {
                                    <tr>
                                        <td>@i</td>
                                        @*<td>@item.Id</td>*@
                                        <td>
                                            @{ var abc = $"{_http.HttpContext.Request.Scheme}://{_http.HttpContext.Request.Host}/{@item.GetUrlChunk()}"; }
                                            <a href="@abc" target="_blank">
                                                @abc
                                            </a>
                                        </td>
                                        <td class="text-center">@item.ShortLinkHitList.Count()</td>
                                        @*<td>
        @if (item.SalesPayments.Sum(x => x.Amount) < item.NetAmount)
        {
        <label class="label label-danger">due</label>}
        </td>*@
                                    </tr>i++;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card-dashboard">
                    <div class="card-header text-center p-1">
                        <h5>Five Recent Hit URL</h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Device</th>
                                        <th>Web Browswer</th>
                                        <th>Clicked Date</th>
                                        <th>IP Address</th>
                                        <th>Platform</th>
                                        @*<th>Print</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LastFiveClickedFrom)
                                    {
                        <tr>
                            <td>@ii</td>
                            <td>@item.DeviceType</td>
                            <td>@item.WebBrowserName </td>
                            <td>@(String.Format("{0:dd/MM/yyyy}", item.CreateDate))</td>
                            <td>@item.IPAddress</td>
                            <td>@item.Platform</td>

                        </tr>
ii++;
                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

