@model IEnumerable<Atrai.Core.Entity.InternetPackageModel>
@{
    ViewData["Title"] = "InternetPackage List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Internet Package", "AddInternetPackage", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-3 col-12 mt-1">
                                <h4 style="color: #1976d2;">InternetPackage List</h4>
                            </div>
                        </div>

                        <div class="table-responsive m-t-10">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PackageName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Speed)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PackageActiveDay)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PackageAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PackageDescription)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackageName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Speed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackageActiveDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackageAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackageDescription)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditInternetPackage", "Admin", new { InternetPackageid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteInternetPackage", "Admin", new { InternetPackageid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Internet Package?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}