@model IEnumerable<Atrai.Core.Entity.MenuModel>
@{
    ViewData["Title"] = "Menu List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- Start Page Content -->
<div class="row">
    <div class="col-12 col-lg-12 col-xl-12 d-flex">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">

                    <div class="col">
                        <h4 class="text-uppercase">Menu List</h4>
                    </div>
                    <div class="col text-end">
                        @Html.ActionLink("Create Menu", "AddMenu", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="example23" class="mydatatable table table-striped table-bordered table-sm text-nowrap display" style="width:100%">
                        <thead>
                            <tr>
                                    <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuGroupName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentMenu.ControllerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentMenu.ActionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuClass)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentMenu)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.MenuRemarks)
                                </th>
                                @*<th>
                                @Html.DisplayNameFor(model => model.isDashboard)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.isParent)
                                </th>

                                <th>Action Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                        <td>
                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                                </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuGroupName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ControllerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuClass)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentMenu.MenuName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuRemarks)
                                    </td>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.isDashboard)
                                </td>*@
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.isParent)
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("CopyMenu", "Admin", new { Menuid = item.Id })" class="text-primary">
                                            <i class="bi bi-eye-fill"></i>
                                        </a>
                                        <a href="@Url.Action("EditMenu", "Admin", new { Menuid = item.Id })" class="text-warning">
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                        <a href="@Url.Action("DeleteMenu", "Admin", new { Menuid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Menu?')" class="text-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- End PAge Content -->
