@model IEnumerable<Atrai.Core.Entity.ReportStyleModel>
@{
    ViewData["Title"] = "Report Style List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>

/*    button.dt-button, div.dt-button, a.dt-button {

        background-color: #3b5bd8;

    }*/


</style>



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create ReportStyle", "AddReportStyle", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12 m-t-8">
                                <h4 style="color: #1976d2;">ReportStyle List</h4>
                            </div>
                        </div>

                        <div class="table-responsive mt-1">
                            <table id="tblReportStyle" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReportStyleName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReportFor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReportStyleRemarks)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReportStyleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReportFor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReportStyleRemarks)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditReportStyle", "Admin", new { ReportStyleid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteReportStyle", "Admin", new { ReportStyleid = item.Id })" onclick="return confirm('Are you sure you want to Remove this ReportStyle?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    <script type="text/javascript">

        $('#tblReportStyle').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                { "extend": 'excel', "text": 'Excel', "className": 'btn btn-default rouned-0 btn-xs' }
            ]
        });

        </script>
}