@model Atrai.Core.ViewModel.InternetServiceDashboardViewModel
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 1;
    int ii = 1; }

<style>

    .p-15 {
        padding: 10px 13px 15px 13px !important;
    }

    .card-dashboard p {
        font-size: 14px;
        font-family: arial narrow;
    }

    .media p {
        font-size: 13px;
        font-family: "Arial Narrow";
    }

    .media {
        font-size: 15px;
        font-family: "Arial Narrow";
        text-align: right;
        padding-bottom: 2px !important;
    }

    a {
        color: #0a275ec9;
    }

    tbody tr td {
        font-family: "Arial Narrow";
        font-size: 13px;
    }
</style>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Dashboard</h5>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div>
        <!-- Start Page Content -->
        <div class="container-fluid ">
            <!-- Start Page Content -->
            <div class="row ">

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "All" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-building f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalRegisteredUser.ToString("#,##0")</h5>
                                    <p class="m-b-0">Registered Users</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Expired" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalExpiredUser.ToString("#,##0")</h5>
                                    <p class="m-b-0">Expired Users</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-group f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalBilledAmount.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Billed Amount</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalReceivedAmount.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Rcvd. Amount</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    @*<a href="@Url.Action("InvoiceBillList", "Admin")">*@
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Due List" })">

                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalDue.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Due</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalCashReceived.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Cash Rcvd.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            </div>

            <div class="row ">

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Active" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalActiveUser.ToString("#,##0")</h5>
                                    <p class="m-b-0">Active Users</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Expiring Today" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user-circle f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TodayExpired.ToString("#,##0")</h5>
                                    <p class="m-b-0">Today Expired</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">

                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-building f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TodaysBilledAmount.ToString("#,##0")</h5>

                                    <p class="m-b-0">
                                        Today's Billed
                                    </p>
                                </div>

                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TodaysReceivedAmount.ToString("#,##0")</h5>
                                    <p class="m-b-0">Today's Rcvd.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-building f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.LastMonthDue.ToString("#,##0")</h5>
                                    <p class="m-b-0">Last Month Due</p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-group f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalBankReceived.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Bank Rcvd.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            </div>

            <div class="row ">


                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "InActive" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-group f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalInactiveUser.ToString("#,##0")</h5>
                                    <p class="m-b-0">In-Active Users</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Expiring In 3 Days" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user-circle f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.ExpiringInThreeDays.ToString("#,##0")</h5>
                                    <p class="m-b-0">Expiring In 3 Days</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user-circle f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalDiscountAmount.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Discount</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.CurrentMonthReceived</h5>
                                    <p class="m-b-0">Curr. Month Rcvd.</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-building f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.CurrentMonthDue.ToString("#,##0")</h5>
                                    <p class="m-b-0">Curr. Month Due</p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalBkashMerchantReceived.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Bkash Merchant</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>


            </div>

            <div class="row ">

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InternetUserList", "Admin", new { filter = "Terminated" })">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-building f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalTerminatedUsers.ToString("#,##0")</h5>

                                    <p class="m-b-0">
                                        Terminated Users
                                    </p>


                                </div>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.CurrentMonthExpense.ToString("#,##0")</h5>
                                    <p class="m-b-0">Curr. Month Exp.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user-circle f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalBadDebtAmount.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Bad Debt</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.LastMonthReceived.ToString("#,##0")</h5>
                                    <p class="m-b-0">Last Month Rcvd.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-address-book-o f-s-40 color-info"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.LastMonthExpense.ToString("#,##0")</h5>
                                    <p class="m-b-0">Last Month Exp.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2 col-6 animated slideInUp transition s2">
                    <a href="@Url.Action("InvoiceBillList", "Admin")">
                        <div class="card-dashboard p-20">
                            <div class="media">
                                <div class="meida media-middle">
                                    <span><i class="fa fa-user-circle f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h5>@Model.TotalBkashPersonalReceived.ToString("#,##0")</h5>
                                    <p class="m-b-0">Total Bkash Pers.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>


            </div>

            <div class="row ">
                <div class="col">
                    <div class="card-dashboard">
                        <div class="card-header text-center p-1">
                            <h5>Five Recent Billed </h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Bill No</th>
                                            <th>Billed Date</th>
                                            <th>Amount</th>
                                            <th>Desc</th>
                                            <th>Entry Time</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LastFiveBilled)
                                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.BillNo</td>
                                <td>@(String.Format("{0:dd/MM/yyyy}", item.BilledDate))</td>
                                <td>@item.BillAmount</td>
                                <td>
                                    @if (item.AccountReceiveByHead == null)
                                    {
                    <label class="label label-danger">Not Rcvd.</label> }
                else
                {
<label class="label label-primary">Rcvd.</label>}
                                </td>
                                <td>
                                    @item.CreateDate
                                </td>
                                <td>

                                    @*<a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=1})" title="Invoice 1" class="btn btn-icon btn-primary btn-sm rounded-0 mb-1"><i class="fa fa-print"> </i> </a>
                                        <a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=2})" title="Invoice 2" class="btn btn-icon btn-primary btn-sm rounded-0 mb-1"><i class="fa fa-print"> </i> </a>*@

                                </td>
                            </tr>
i++;
                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-dashboard">
                        <div class="card-header text-center p-1">
                            <h5>Five Recent Rcvd. </h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Bill No</th>
                                            <th>Rcvd. Date</th>
                                            <th>Amount</th>
                                            <th>Desc</th>
                                            <th>Rec. By</th>
                                            <th>Entry Time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LastFiveReceived)
                                        {
                            <tr>
                                <td>@ii</td>
                                <td>@item.BillNo</td>
                                <td>@(String.Format("{0:dd/MM/yyyy}", item.ReceivedDate))</td>
                                <td>@item.ReceivedAmount</td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @if (item.AccountReceiveByHead != null)
                                        @item.AccountReceiveByHead.AccName
                                </td>
                                <td>
                                    @item.CreateDate
                                </td>
                                <td>
                                </td>
                            </tr>
                            ii++;
                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


