@model IEnumerable<Atrai.Core.Entity.SoftwarePackageModel>
@{
    ViewData["Title"] = "SoftwarePackage List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                           <div class="row m-2">
                        <div class="col-md-4 col-12">
                         <h4 style="color: #1976d2;">Software Package List</h4>
                            </div>

                              <div class="col-md-4 col-12">
                                @Html.ActionLink("Create Software Package", "AddSoftwarePackage", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                     
           

                        <div class="table-responsive mt-2">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BusinessType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SoftwarePackageCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SoftwarePackageDescription)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserCount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DurationType.DurationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CurrencyId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PackagePrice)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessType.BusinessTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoftwarePackageCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.Raw(item.SoftwarePackageDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DurationType.DurationName)
                                        </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Country.CurrencyShortName)
                                            </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackagePrice)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditSoftwarePackage", "Admin", new { SoftwarePackageid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteSoftwarePackage", "Admin", new { SoftwarePackageid = item.Id })" onclick="return confirm('Are you sure you want to Remove this SoftwarePackage?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}