@model IEnumerable<Atrai.Core.Entity.SubscriptionTypeModel>
@{
    ViewData["Title"] = "Subscription List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-3 col-12">
                                @Html.ActionLink("Create Subscription", "AddSubscriptionType", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-4 col-12 mt-1">
                                <h4 style="color: #1976d2;">Subscription List</h4>
                            </div>
                        </div>

                        <div class="table-responsive mt-1">
                            <table id="example23" class="nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubscriptionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubscriptionRemarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValidityDay)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubscriptionAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BusinessType.BusinessTypeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValidationRemarks)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubscriptionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubscriptionRemarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValidityDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubscriptionAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessType.BusinessTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValidationRemarks)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CopySubscriptionType", "Admin", new { SubscriptionTypeid = item.Id })" class="btn btn-icon btn-info btn-sm rounded-0 mb-1">
                                                <i class="fa fa-copy"></i>
                                            </a>
                                            <a href="@Url.Action("EditSubscriptionType", "Admin", new { SubscriptionTypeid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteSubscriptionType", "Admin", new { SubscriptionTypeid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Subscription Type ?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}