@model IEnumerable<Atrai.Core.Entity.TaskToDoModel>
@{
    ViewData["Title"] = "TaskToDo List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row mb-1">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Task / ToDo", "AddTaskToDo", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12">
                                <h4>Task / ToDo List</h4>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">


                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ParentTaskToDo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskDetails)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskRemarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AssaignToPerson)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExpiryDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskPercentage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsComplete)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CompleteDate)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                   
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskTitle)
                                        </td>
                                        @if (item.ParentTaskToDo != null)
                                        {
                                        <td>
                                            Sub Task Of @Html.DisplayFor(modelItem => item.ParentTaskToDo.TaskTitle)
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            Main Task
                                        </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskDetails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskRemarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssaignToPerson)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskPercentage)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsComplete)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompleteDate)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditTaskToDo", "Admin", new { TaskToDoId = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteTaskToDo", "Admin", new { TaskToDoId = item.Id })" onclick="return confirm('Are you sure you want to Remove this TaskToDo?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}