@model IEnumerable<Atrai.Core.Entity.TermsMainModel>
@{ ViewData["Title"] = "Terms List";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }




<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-md-3 col-12">
                                @Html.ActionLink("Create Terms", "AddTerms", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-4 col-12 mt-1">
                                <h4 style="color: #1976d2;">Terms List</h4>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="example23" class="nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TermsName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TermsRemarks)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TermsName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TermsRemarks)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditTerms", "Admin", new { TermsId = item.Id })" class="btn btn-icon btn-warning rounded-0 mb-2">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteTerms", "Admin", new { TermsId = item.Id })" onclick="return confirm('Are you sure you want to Remove this Terms?')" class="btn btn-icon btn-danger rounded-0 mb-2">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                        }
                                </tbody>


                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>



