@model IEnumerable<Atrai.Core.Entity.UnitModel>
@{
    ViewData["Title"] = "Unit List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*

            </div>*@

        <!-- Start Page Content -->


        <div class="card p-1">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-2 col-12">
                        @Html.ActionLink("Create Unit", "AddUnit", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                    </div>
                    <div class="col-md-2 col-12">
                        <h4 style="color: #1976d2;">Unit List</h4>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitShortName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitNameBangla)
                                </th>
                                <th>
                                Product Count
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitNameBangla)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCount)
                                </td>
                                <td>
                                    <a href="@Url.Action("EditUnit", "Admin", new { Unitid = item.Id })" class="btn btn-icon btn-warning rounded-0 btn-sm rounded-0 mb-1">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    @if (@item.ProductCount == 0)
                                    {
                                        <a href="@Url.Action("DeleteUnit", "Admin", new { Unitid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Unit?')" class="btn btn-icon btn-danger rounded-0 btn-sm rounded-0 mb-1">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    }
                                </td>

                            </tr>
}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>


        <!-- End PAge Content -->
    </div>
</div>





@section scripts{

}