@model Atrai.Core.Entity.UserAccountModel
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card">
                    <br />
                    <div class="card-header p-3">
                        <h4>User Profile</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            @using (Html.BeginForm("UserProfile", "Admin", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.IsBaseUser)

                                @Html.HiddenFor(model => model.IsEmailVerified)
                                @Html.HiddenFor(model => model.IsPhoneVerified)*@
                            
                                
                                
                                
                            <div class="form-group p-3">


                                <div class="row">
                                    <img src="..@Model.EmployeeList?.EmployeeImagePath" alt="img" id="UploadFile" class="img-thumbnail" style="height: 150px;width:150px" onerror="this.onerror=null;this.src='../Content/EmployeeImages/0.png'" /> <br />
                                </div>

                                <div class="row">
                                    User Name :
                                    @Html.DisplayFor(model => model.Name)

                                </div>
                                <br />

                                <div class="row">
                                    Email :
                                    @Html.DisplayFor(model => model.Email)

                                </div>
                                <br />

                                <div class="row">
                                    Phone No :
                                    @Html.DisplayFor(model => model.PhoneNumber)

                                </div>
                                <br />

                                <div class="row">
                                    @{ var validatedays = (@Model.UserActivationList.FirstOrDefault().ActiveToDate - DateTime.Now.Date).TotalDays.ToString("0"); }


                                    User Will Expire After @Model.UserActivationList.FirstOrDefault().ActiveToDate.ToString("dd-MMM-yy")
                                    <br />

                                    Total Remaining Days : @validatedays

                                </div>

                                @*<div class="row">
            @Html.DisplayFor(model => model.UserActivationList.OrderByDescending(x => x.ValidityDay).FirstOrDefault().ValidityDay)

        </div>*@


                            </div>

         
                                @*@Html.DisplayFor(model => model.UserActivationList.LastOrDefault().ValidityDay)*@
                                



                            @*<div class="form-group row">
                                <div class="col-md-6 col-12">
                                    <label for="Name">Name</label>
                                    @Html.DisplayFor("Name", null, new { @class = "form-control", @placeholder = "Enter Account Name " })
                                    @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 col-12">
                                    <label for="Password">Phone</label>
                                    @Html.DisplayFor("PhoneNumber", null, new { @class = "form-control", @placeholder = "Phone Number" })
                                    @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
                                </div>

                            </div>

                                <div class="form-group row">
                                    <div class="col-md-6 col-12">
                                        <label for="Email">Email / Login Id</label>
                                        @Html.DisplayFor("Email", null, new { @class = "form-control", @placeholder = "Email" })
                                        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label for="Password">Password</label>
                                        @Html.DisplayFor("Password", null, new { @class = "form-control", @placeholder = "Password" })
                                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                                    </div>

                                </div>*@


                                    <div class="form-group">
                                        @*<button type="submit" class="btn btn-warning rounded-0"> Change Password </button>*@
                                        <a href="@Url.Action("ChangePassword", "Home")" class="btn btn-primary rounded-0">Change Password</a>
                                    </div>
                                    }
                                </div><!-- panel-body -->
                    </div>

                </div>
            </div>

        </div>




    </div>
</div>
