@model IEnumerable<Atrai.Core.ViewModel.UserAccountViewModelList>
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->


                <div class="card p-1">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create User", "UserAccount", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12">
                                <h4 style="color: #1976d2;">User List</h4>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbllist" class="table display table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Name

                                        </th>
                                        <th>
                                            Email
                                            <hr />
                                            Phone Number

                                        </th>
                                        <th>
                                            Employee Name
                                        </th>
                                        <th>
                                            User Role
                                        </th>
                                        <th>
                                            Expired In
                                            <hr />
                                            Date
                                        </th>
                                        <th>
                                            Last Login
                                            <hr />
                                            Last Transaction
                                        </th>
                                        <th>
                                            Email Verified
                                        </th>
                                        <th>
                                            Phone Verified
                                        </th>
                                        <th>
                                            InActive
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                    <tbody>
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                                <hr />
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleRemarks)
                            </td>
                            <td>
                                @if (@item.ValidityDay < 10)
                                {
                        <div style="color:red">
                            @Html.DisplayFor(modelItem => item.ValidityDay) Days
                            <hr />@Html.DisplayFor(modelItem => item.ActiveToDate)
                        </div> }
                    else
                    {
                        <div style="color:green">
                            @Html.DisplayFor(modelItem => item.ValidityDay)  Days
                            <hr />@Html.DisplayFor(modelItem => item.ActiveToDate)
                        </div>}
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.LastLoginDate)
                                <hr />
                                @Html.DisplayFor(modelItem => item.LastTransactionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsEmailVerified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsPhoneVerified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsInacitve)
                            </td>

                            <td class="text-nowrap">
                                <a href="@Url.Action("EditUserAccount", "Admin", new { UserAccountId = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 m-b-5">
                                    <i class="fa fa-edit"></i>
                                </a>
                                @*@if (item.LuserId != 0)*@
                                @if (@item.IsBaseUser == false)
                                {
                        <a href="@Url.Action("DeleteUserAccount", "Admin", new { UserAccountId = item.Id })" onclick="return confirm('Are you sure you want to Remove this ?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1 center rounded-0">
                            <i class="fa fa-trash"></i>
                        </a>}
                            </td>

                        </tr>
                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>


        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}