@model IEnumerable<Atrai.Core.Entity.VGMModel>
@{
    ViewData["Title"] = "VGM List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create VGM", "AddVGM", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                            <div class="col-md-2 col-12 m-t-8">
                                <h4 class="card-header"  style="color: #1976d2;">VGM List</h4>
                            </div>
                        </div>

                        <div class="table-responsive m-t-10">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.VGANo)</th>
                                        <th>@Html.DisplayNameFor(model => model.VGAMethod)</th>
                                        <th>@Html.DisplayNameFor(model => model.ContainerNo)</th>
                                        <th>@Html.DisplayNameFor(model => model.ContainerType)</th>

                                        <th>@Html.DisplayNameFor(model => model.ContainerSize)</th>
                                        <th>@Html.DisplayNameFor(model => model.TareWeight)</th>
                                        <th>@Html.DisplayNameFor(model => model.VerifiedGrossMass)</th>
                                        <th>@Html.DisplayNameFor(model => model.PreviouslyDeclaredweight)</th>
                                        
                                        <th>@Html.DisplayNameFor(model => model.VGMWeightbyCPA)</th>
                                        <th>@Html.DisplayNameFor(model => model.NameofShipper)</th>
                                        <th>@Html.DisplayNameFor(model => model.ShippingAgent)</th>
                                        <th>@Html.DisplayNameFor(model => model.VGMPerformedShipperBy)</th>

                                        <th>@Html.DisplayNameFor(model => model.WeightBridgeRegistrationNo)</th>
                                        <th>@Html.DisplayNameFor(model => model.AddressOfWeightBridge)</th>
                                        <th>@Html.DisplayNameFor(model => model.IssuedBy)</th>
                                        <th>@Html.DisplayNameFor(model => model.Notes)</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.VGANo</td>
                                        <td>@item.VGAMethod</td>
                                        <td>@item.ContainerNo</td>
                                        <td>@item.ContainerType</td>

                                        <td>@item.ContainerSize</td>
                                        <td>@item.TareWeight</td>
                                        <td>@item.VerifiedGrossMass</td>
                                        <td>@item.PreviouslyDeclaredweight</td>

                                        <td>@item.VGMWeightbyCPA</td>
                                        <td>@item.NameofShipper</td>
                                        <td>@item.ShippingAgent</td>
                                        <td>@item.VGMPerformedShipperBy</td>

                                        <td>@item.WeightBridgeRegistrationNo</td>
                                        <td>@item.AddressOfWeightBridge</td>
                                        <td>@item.IssuedBy</td>
                                        <td>@item.Notes</td>
                                        <td>
                                            <a href="@Url.Action("EditVGM", "Admin", new {VGMId = item.Id})" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteVGM", "Admin", new {VGMId = item.Id})" onclick="return confirm('Are you sure you want to Remove this VGM?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                            <a href="@Url.Action("VGMReport","Admin", new {VGMId = item.Id,style=2})" title="Invoice 2" class="btn btn-icon btn-primary btn-sm rounded-0 mb-1" target="_blank"><i class="fa fa-print"> </i> </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}