@model IEnumerable<Atrai.Core.Entity.WarehouseModel>
@{
    ViewData["Title"] = "Warehouse List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*
         
        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <div class="row mb-1">
@*                            <div class="col-md-3 col-12">
                                @Html.ActionLink("Create Warehouse", "AddWarehouse", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>*@
                            <div class="col-md-4 col-12">
                                <h4>Warehouse List</h4>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">


                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WhName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WhShortName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WhType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Warehouses.WhName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StoreAddress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WhName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WhShortName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WhType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Warehouses.WhName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoreAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditWarehouse", "Admin", new { Warehouseid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteWarehouse", "Admin", new { Warehouseid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Warehouse?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    </div>





@section scripts{
    
}