@model IEnumerable<Atrai.Core.Entity.WarrentyModel>
@{
    ViewData["Title"] = "Warrenty List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">

        @*

        </div>*@

        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <div class="text-primary">
                                    <h4>Warrenty List</h4>
                                </div>
                            </div>


                            <div class="col-md-2 col-12">
                                @Html.ActionLink("Create Warrenty", "AddWarrenty", null, null, new { @class = "btn btn-sm btn-outline-info btn-block rounded-0", @id = "btnBack" })
                            </div>
                        </div>

                    </div>

                    <div class="card-body">



                        <div class="table-responsive mt-1">
                            <table id="example23" class="display nowrap table table-sm table-hover  table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Day)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DurationTime.DurationName)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.isInactive)
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Day)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DurationTime.DurationName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isInactive)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditWarrenty", "Admin", new { Warrentyid = item.Id })" class="btn btn-icon btn-warning btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteWarrenty", "Admin", new { Warrentyid = item.Id })" onclick="return confirm('Are you sure you want to Remove this Warrenty?')" class="btn btn-icon btn-danger btn-sm rounded-0 mb-1">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>





@section scripts{

}